<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
  table {
    max-width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .table {
    width: 100%;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  .table th,
  .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
  }

  .table th {
    font-weight: bold;
  }

  .table thead th {
    vertical-align: bottom;
  }

  .table caption + thead tr:first-child th,
  .table caption + thead tr:first-child td,
  .table colgroup + thead tr:first-child th,
  .table colgroup + thead tr:first-child td,
  .table thead:first-child tr:first-child th,
  .table thead:first-child tr:first-child td {
    border-top: 0;
  }

  .table tbody + tbody {
    border-top: 2px solid #dddddd;
  }
  .table .table {
    background-color: #ffffff;
    width:100%;
  }

  .table-condensed th,
  .table-condensed td {
    padding: 4px 5px;
  }

  .table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .table-bordered th,
  .table-bordered td {
    border-left: 1px solid #dddddd;
  }
  .table th.center, .table td.center{text-align: center;}
  .table th.middle, .table td.middle{vertical-align: middle;}
  </style>
</head>
<body>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th colspan="7" class="middle center"><%= l @trade_checker.options[:start_time] %> ~ <%= l @trade_checker.options[:end_time] %></th>
      </tr>
      <tr>
        <th>账户</th>
        <th>店铺</th>
        <th>漏抓订单</th>
        <th>状态异常</th>
        <th>留言更新异常</th>
        <th>标杆反馈异常</th>
        <th>程序异常</th>
      </tr>
    </thead>
    <tbody>
      <% @trade_checker.accounts.each_with_index do |account,aindex| %>
        <% account.trade_sources.each_with_index do |trade_source,tindex| %>
        <tr>
          <% if tindex == 0 %>
            <th class="center middle" rowspan="<%= account.trade_sources.count %>"><%= account.name %></th>
          <% end %>
          <th class="center middle" rowspan=""><%= trade_source.name %></th>
          <td><%=raw trade_source.losts.join("</br>") %></td>
          <td><%=raw trade_source.error_status.join("</br>") %></td>
          <td><%=raw trade_source.incomplete_data.join("</br>") %></td>
          <td><%=raw trade_source.biaogan_diff.join("</br>") %></td>
          <td><%=raw trade_source.warns.join("</br>") %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</body>
</html>