<%
  breadcrumb << ["系统设置", users_path]
  breadcrumb << ["基础数据管理", stocks_safe_stock_path]
  breadcrumb << ["发货管理", logistic_groups_path]
  breadcrumb << ["发货拆分管理"]
%>   
<div class="row-fluid">
  <div class="span10 w100">
    <ul class="nav nav-tabs">
      <li class="active"><a href="/logistic_groups">发货拆分管理</a></li>
      <li><a href="/deliver_templates">发货单管理</a></li>
    </ul><!-- nav-tabs -->
    <div class="tab-content">
      <%= form_tag logistic_groups_path, :class=>"well form-search" do %>
        <fieldset class="form-inline">
          <div class="controls">
            分组编码名称: <%= text_field_tag "logistic_group[name]", nil, class: "input-large", placeholder: '请输入名称, 且不能为空'%>
            拆分临界数量: <%= text_field_tag "logistic_group[split_number]", nil, class: "input-large", placeholder: '请输入正整数, 且不能为空'%>
            <%= button_tag "添加", :class => "btn" %>
          </div>
        </fieldset>
      <% end %>
      <table class="table table-striped table-bordered table-condensed td_colors mar_t">
        <thead>
          <tr>
            <th>分组名称编码</th>
            <th>拆分临界数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <%- @groups.each do |group| -%>
          <tr>
            <td><%= group.name %></td>
            <td><%= group.split_number %></td>
            <td><%= link_to '删除', logistic_group_path(group), method: :delete, confirm: '确定要删除此分组?'%></td>
          </tr>
          <%- end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>