<div class="container-fluid">
  <div class="row-fluid">
    <%= render partial: "layouts/setting_nav" %>
    <div class="span10">
      <div class="row-fluid">
        <%= render partial: 'layouts/flash_message' %>
        <ul class="breadcrumb" style="position:relative;">
          <li><a href="/">Magic</a><span class="divider">/</span></li>
          <li class="active">物流分组管理</li>
        </ul><!-- breadcrumb -->
        <%= form_tag logistic_groups_path, :class=>"well form-search" do %>
          <fieldset class="form-inline">
            <div class="controls">
              分组编码名称: <%= text_field_tag "logistic_group[name]", nil, class: "input-large", placeholder: '请输入名称, 且不能为空'%>
              拆分临界数量: <%= text_field_tag "logistic_group[split_number]", nil, class: "input-large", placeholder: '请输入正整数, 且不能为空'%>
              <%= button_tag "添加", :class => "btn" %>
            </div>
          </fieldset>
        <% end %>
        <table class="table table-striped table-bordered table-condensed td_colors mar_t">
          <thead>
            <tr>
              <th>分组名称编码</th>
              <th>拆分临界数量</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <%- @groups.each do |group| -%>
            <tr>
              <td><%= group.name %></td>
              <td><%= group.split_number %></td>
              <td><%= link_to '删除', logistic_group_path(group), method: :delete, confirm: '确定要删除此分组?'%></td>
            </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

