<div class="tab-pane active" id="add_order">
  <%= simple_form_for @custom_trade, wrapper: :add_trade, html: {class: 'form-horizontal '} do |f| %>
    <div class="well clearfix">
      <fieldset class="span5">
        <%= f.input :receiver_name, label: '收货人姓名：', :input_html =>{ :class => "input-large"} %>
        <%= f.input :receiver_mobile, label: '收货人手机：', :input_html =>{ :class => "input-large"} %>
        <%= f.input :tid, label: '订单编号：', :input_html =>{ :class => "input-large"} %>
        <%= f.input :buyer_nick, label: '收货人淘宝ID：', :input_html =>{ :class => "input-large"} %>
        <%= f.input :created, label: '下单时间：', :input_html =>{ :class => "input-large js-datetimepicker", :value => "#{@custom_trade.pay_time.try(:strftime, '%Y-%m-%d %H:%M:%S')}"}, readonly: true %>
        <div class="control-group string required">
          <label class="string required control-label">
            <abbr title="必填的">*</abbr> 收货人地域：
          </label>
          <select id="" class="trade_level_1 input-medium input-small pull-left required" name="custom_trade[receiver_state]">
            <option>省</option>
          </select>
          <select id="" class="trade_level_2 input-medium input-small pull-left required" name="custom_trade[receiver_city]">
            <option>市</option>
          </select>
          <select id="" class="trade_level_3 input-medium input-small pull-left required" name="custom_trade[receiver_district]">
            <option>区</option>
          </select>
        </div>
        <%= f.input :receiver_address, label: '详细地址：', :input_html =>{ :class => "input-xlarge" } %>
        <%= f.input :seller_memo, as: :text, label: '备注：', :input_html =>{ :class => "span8", rows: 3 } %>
      </fieldset><!-- form left area -->
      <fieldset class="span5">
        <%= f.input :receiver_phone, label: '固定电话：', :input_html =>{ :class => "input-large" } %>
        <%= f.input :receiver_zip, label: '收货人邮编：', :input_html =>{ :class => "input-large" } %>
        <%= f.input :pay_time, label: '付款时间：', :input_html =>{ :class => "input-large js-datetimepicker", :value => "#{@custom_trade.pay_time.try(:strftime, '%Y-%m-%d %H:%M:%S')}"}, readonly: true %>
        <%= f.input :status, label: '订单状态：', collection: [["已付款，待分派","WAIT_SELLER_SEND_GOODS"]], :input_html =>{ :class => "input-large select2" }, selected: ["已付款，待分派","WAIT_SELLER_SEND_GOODS"] %>
        <%= f.input :custom_type, label: '订单类型：', collection: current_account.settings.trade_types.to_a.map(&:reverse), :input_html =>{ :class => "input-large select2" } %>
        <%#= f.input :has_invoice_info, label: '是否开发票：', collection: [["是","true"],["否","false"]], :input_html =>{ :class => "input-mini select2" }, selected: ["#{@custom_trade.invoice_name == nil ? '否' : '是'}","#{@custom_trade.invoice_name == nil ? 'false' : 'true'}"] %>
      </fieldset><!-- form right area -->
    </div>


    <div>
      <ul class="nav nav-tabs js-nav_tabs nomargin">
        <!-- <li><a href="#good_info" data-toggle="tab">商品信息</a></li> -->
        <li class="active"><a href="#add_good" data-toggle="tab">新增商品</a></li>
      </ul>
      <div class="tab-content noborder_content">
        <div class="tab-pane active" id="good_info">
          <form class="form-horizontal">
            <fieldset>
              <div class="control-group">
                <label class="control-label" style="text-align:left;">选择淘宝商品：</label>
                <select class="input-xxlarge pull-left select2 product_list">
                  <% @products.each do |product| %>
                    <option value="<%= product.outer_id %>"><%= product.name %></option>
                  <% end %>
                </select>
              </div>
              <div class="control-group">
                <label class="control-label">选择对应SKU：</label>
                <select id="skus_options" class="input-xlarge"></select>
                <input class="input-small" type="text" id="taobao_order_num" placeholder="数量">
              </div>
              <div class="control-group">
                <label class="control-label">商品实付金额：</label>
                <select id="payment_input_options" class="input-xlarge">
                  <option value='manual_input'>手动输入</option>
                  <option value='price_input'>按商品价格计算</option>
                </select>
                <input class="input-small" type="text" id="taobao_order_payment" placeholder="实付金额">
                <a class="btn btn-small btn-warning" type="button" id="add_product">添加</a>
              </div>

              <div class="control-group">

              </div>
            </fieldset><!-- form area -->
          </form>
          <table class="table table-hover table-bordered table-striped table-condensed js-table_goods">
            <thead>
              <tr>
                <th width="10%">商品编码</th><!--outer_iid-->
                <th width="35%">商品名称</th><!--title-->
                <th width="15%">商品SKU</th><!--sku_id-->
                <th width="10%">商品数量</th><!--num-->
                <th width="10%">商品实付金额</th><!--payment-->
                <th width="10%"></th><!--payment-->
              </tr>
            </thead>
            <tbody id="taobao_orders_table">
              <% @custom_trade.taobao_orders.each do |order| %>
              <tr>
                <td><%= order.outer_iid || order.num_iid %></td>
                <td><%= order.title %></td>
                <td>标准款</td>
                <td><%= order.num %></td>
                <td><%= order.payment %></td>
                <td><a class="btn btn-small btn-info delete_taobao_order">删除</a></td>
                <input type='hidden' name='taobao_orders[]' value="<%= order.outer_iid || order.num_iid %>;<%= order.sku_id %>;<%= order.num %>;<%= order.payment%>;<%= order.title %>;"></input>
              </tr>
              <% end %>
            </tbody>
          </table>

          <div class="control-group">
            <label class="control-label">物流商：</label>
            <select id="logistics" class="input-small"></select>
            <input class="input-small" type="text" id="product_weight" placeholder="商品重量">
            <input class="input-medium" type="text" id="product_discount" placeholder="优惠比例(默认100%)">
            <input class="input-small" type="text" id="product_balance_fee" placeholder="其他费用">
            <a class="btn btn-small btn-warning" type="button" id="calculate_payment">计算订单实付金额</a>
            <input class="input-xlarge" name="calculate_payment" type="text" id="custom_trade_payment" placeholder="订单实付金额(默认为子订单实付金额之和)" value="<%= @custom_trade.payment.zero? ? nil : @custom_trade.payment %>" readonly>
          </div>

          <div class="btn-toolbar">
            <%= f.button :submit, "保存", :class => "btn btn-warning btn-small save_orders" %>
            <a href="/app#trades" class="btn btn-warning btn-small">取消</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div><!-- add_order end -->

<% content_for :tail do %>
<script type="text/javascript">

  // Initialize
  // $('.price_input').hide()
  pick_skus()
  $.get("/logistics/logistic_templates", {type: 'all', trade_type: "CustomTrade"}).done(function(data){
    var html_options = ''
    for (var i in data){
      html_options += '<option value="' + data[i].id + '">' + data[i].name + '</option>'
    }
    $('#logistics').html(html_options)
  });


  $('.product_list').on('change',function(event){
    pick_skus()
  })

  function pick_skus () {
    var outer_id = $('.product_list option:selected').val()
    $.get("/custom_trades/change_products", {outer_id: outer_id}).done(function(data){
      if(data.skus.length != 0){
        var data_array = []
        var skus_option = ""
        for(var i in data.skus){
          skus_option += "<option value="+data.skus[0].sku_id+">"+data.skus[0].name+"</option>"
        }
        if (data.skus.length == 1 && (data.skus[0].name == null || data.skus[0].name == "")){
          $('#skus_options').html("<option value='0'>标准款</option>")
        } else {
          $('#skus_options').html(skus_option)
        }
      } else {
        $('#skus_options').html("<option value='0'>此商品没有SKU</option>")
      }
    })
  }

  $('#add_product').on('click', function(event){
    event.preventDefault()
    var outer_id = $('.product_list option:selected').val()
    var name     = $('.product_list option:selected').text()
    var sku_name = $('#skus_options').text()
    var sku_id   = $('#skus_options').val()
    var num      = $('#taobao_order_num').val()
    var payment  = $('#taobao_order_payment').val()

    if(num == ''){
      alert("数量不能为空。")
      return
    } else if(payment == '' && $('#payment_input_options').val() != "price_input"){
      alert("实付金额不能为空。")
      return
    } else if(/^[1-9]{1}[0-9]*$/.test(num) != true){
      alert("数量格式不正确。")
      return
    } else if(/^[0-9]*(\.[0-9]*)?$/.test(payment) != true){
      alert("实付金额格式不正确。")
      return
    } else {
      var product_outer_ids = $('#taobao_orders_table tr').map(function(){return $(this).find('td:first').text()}).get();
      if($.inArray(outer_id, product_outer_ids) != -1){
        alert("已添加过商品")
        return
      }
    }

    if ($('#payment_input_options').val() == "price_input"){
      $.get("/custom_trades/calculate_price", {num: num, outer_id: outer_id}).done(function(data){
        $('#taobao_order_payment').val(data.price)
        payment = data.price
        add_new_order(outer_id, name, sku_name, num, payment, sku_id)
      });
    } else {
      add_new_order(outer_id, name, sku_name, num, payment, sku_id)
    }
  });

  function add_new_order (outer_id, name, sku_name, num, payment, sku_id) {
    var new_taobao_order = ""
    new_taobao_order += '<tr><td>' + outer_id + '</td>'
    new_taobao_order += '<td>' + name + '</td>'
    new_taobao_order += '<td>' + sku_name + '</td>'
    new_taobao_order += '<td>' + num + '</td>'
    new_taobao_order += '<td>' + payment + '</td>'
    new_taobao_order += '<td><a class="btn btn-small btn-info delete_taobao_order">删除</a></td>'
    new_taobao_order += "<input type='hidden' name='taobao_orders[]' value='"+outer_id+";"+sku_id+";"+num+";"+payment+";"+name+"'></input></tr>"
    $('#taobao_orders_table').append(new_taobao_order)
  }

  $('#payment_input_options').on('change', function(event){
    if(this.value == "price_input"){
      $("#taobao_order_payment").prop('disabled', true);
    } else {
      $("#taobao_order_payment").prop('disabled', false);
      $("#taobao_order_payment").val("")
    }
  });

  // 点击计算订单实付金额
  $('#calculate_payment').on('click', function(event){
    event.preventDefault()

    var discount    = $('#product_discount').val()
    var weight      = $('#product_weight').val()
    var balance_fee = $('#product_balance_fee').val()
    var logistic_id = $('#logistics').val()
    var area_id     = $('.trade_level_3').val()
    var price       = 0.0
    $('#taobao_orders_table tr').map(function(){ price += parseFloat($(this).find('td:eq(4)').text())});


    check_area_inputs()
    if(weight == ''){
      alert("重量不能为空。")
      return
    } else if(/^[0-9]{1}[0-9]*$/.test(weight) != true){
      alert("重量格式不正确。")
      return
    } else if(/^(-?)[0-9]*(\.[0-9]*)?$/.test(balance_fee) != true){
      alert("其他费用格式不正确。")
      return
    } else if(/^[0-9]*(\.[0-9]*)?$/.test(discount) != true || discount >100 ){
      alert("优惠比例格式不正确。")
      return
    }

    data = {}
    data['price']       = price
    data['discount']    = discount
    data['weight']      = weight
    data['balance_fee'] = balance_fee
    data['logistic_id'] = logistic_id
    data['area_id']     = area_id

    $.get("/custom_trades/calculate_payment", {data: data}).done(function(data){
      $('#custom_trade_payment').val(data.payment)
    });

  });


  $(document).on('click', '.delete_taobao_order', function(event){
    event.preventDefault()
    $(event.target).parents('tr').remove()
  });

  $('.save_orders').on('click', function(event){
    if($('#taobao_orders_table tr:visible').length == 0){
      event.preventDefault();
      alert("商品不能为空");
    }
    check_area_inputs();
  });

  function check_area_inputs () {
    if($('.trade_level_1 option:selected').val() == "" || $('.trade_level_2 option:selected').val() == ""){
      event.preventDefault();
      alert("地域不完整");
      return false
    }
    if($('.trade_level_2 option:selected').val() != "" && $('.trade_level_3 option:selected').val() == "" && $('.trade_level_3 option:last').text() != "请选择"){
      event.preventDefault();
      alert("地域不完整");
      return false
    }
    return true
  }

  $(function() {
    var options = {
      data  : linkage_data
    }
    var sel = new LinkageSelect(options);
    sel.bind('.trade_level_1','<%= @area_ids[0] %>');
    sel.bind('.trade_level_2','<%= @area_ids[1] %>');
    sel.bind('.trade_level_3','<%= @area_ids[2] %>');
  });
</script>
<% end %>