<div class="span2 pull-right">
  <!-- <a href="/bbs_topics/new" class="btn btn-large btn-block">发布新帖</a>
  <%=link_to "资料下载", bbs_category_path(:id => 1), :class => "btn btn-large btn-block"%>
  <%=link_to "最新新闻", bbs_category_path(:id => 2), :class => "btn btn-large btn-block"%>
  <%=link_to "使用规范", bbs_category_path(:id => 3), :class => "btn btn-large btn-block"%>
  <%=link_to "操作守则", bbs_category_path(:id => 4), :class => "btn btn-large btn-block"%> -->
  <a href="/bbs_topics/new" class="btn btn-large btn-block">发布新帖</a>
  <%- categories.each do |category| %>
  <%=link_to category.name, bbs_category_path(category), :class => "btn btn-large btn-block"%>
  <%- end %>
</div>