  <%= form_for @topic, :html=> {:class => 'form-horizontal', :multipart => true} do |f| %>
    <div class="control-group alert alert-info">
      <%-if current_user.has_role? :admin %>
        <a class="pull-left" href="#"><img class="img-rounded" src="/assets/admin_photo/admin_photo7.jpg"></a>
      <%- elsif current_user.has_role? :seller %>
        <a class="pull-left" href="#"><img class="img-rounded" src="/assets/admin_photo/admin_photo1.jpg"></a>
      <%- elsif current_user.has_role? :interface %>
        <a class="pull-left" href="#"><img class="img-rounded" src="/assets/admin_photo/admin_photo2.jpg"></a>
      <%- elsif current_user.has_role? :cs %>
        <a class="pull-left" href="#"><img class="img-rounded" src="/assets/admin_photo/admin_photo3.jpg"></a>
      <%- end %>
      <label class="control-label">属于栏目：</label>
      <div class="controls">
        <%- @categories.each_with_index do |category, index| %>
          <label class="radio inline">
            <%- if index==0 %>
              <%=f.radio_button :bbs_category_id, category.id, { :checked => true } %>
              <%= category.name %>
            <%- else %>
              <%=f.radio_button :bbs_category_id, category.id, { :checked => false } %>
              <%= category.name %>
            <%- end %>
          </label>
        <%- end %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">标题：</label>
      <div class="controls">
        <!-- <input type="text" class="input-xxlarge" /> -->
        <%=f.text_field :title, :input_html => {:class => 'input-xxlarge'}, :placeholder=>"请输入标题...", :required=>"required" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">帖子内容：</label>
      <div class="controls">
         <%=f.text_area :body, :class => 'input-xxlarge',  :placeholder=>"请输入文本...", :required=>"required" %>
         <!-- <textarea class="input-xxlarge" rows="13" ></textarea> -->
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <!-- <input type="file" class="lineh20" /> -->
        <div><input type="file" name="uploads[]"/></div>
        <a class='js-add_file' href="javascript:;">添加</a>
      </div>
      <!-- <div class="controls">
        <input class="test_file lineh20" type="file" value="" />
      </div> -->
    </div>
    <div class="control-group">
      <div class="controls input-xxlarge">
        <%= f.submit :class => 'btn btn-primary pull-right', :disable_with => "提交中...",:value => "提交"%>
      </div>
    </div>
<% content_for :tail do -%>
  <script type="text/javascript">
    $(function(){
      $('.js-add_file').click(function(){
        $(this).prev().append('<div><input type="file" name="uploads[]"/><a class="js-remove_file" href="javascript:;">删除</a></div>');
      });
      $('.js-remove_file').live('click',function(){
        $(this).parent().remove()
      });
    });

   $(function(){
    if ($('.input-xxlarge').val() == '请输入标题....'){
      alert('请输入标题!');
      return false;
    }else if($('.input-xxlarge').val() == '请输入文本...'){
      alert('请输入内容!');
      return false;
    }else{
      return true;
    }
  });
   </script>
<% end %>
<%- end %>
  