<script type="text/javascript">
  function tog(id){
    html = "";
    $.get("/sellers/"+id+"/children", {id:id}, function(result){
     
      if(result.name != ""){
        for (i=0;i<=(result.name).length;i++){
          if(result.name[i] != null){
            html += "<li><a>"+result.name[i]+"</a></li>";
          }
        }
      }else{
        html += "<li><a>无下级经销商</a></li>";
      }
        $("#children_"+id+"").html(html)
    });
  }
</script>
<% @sellers.each do |seller| %>
  <tr id="seller_<%=seller.id%>">
    <td><%= seller.id %><input type='hidden' class='parent_id' value="<%= seller.parent_id %>"></td>
    <td><%= seller.fullname %></td>
    <td><%= seller.name %></td>
    <td><p style="width:200px;word-wrap:break-word"><%= seller.mobile %></p></td>
    <td><%= seller.interface %></td>
    <td><%= seller.address %></td>
    <td>
      <div class="btn-group">
        <%= link_to raw("<img src='/assets/u741_original.png'>"), '', "data-toggle" =>"dropdown",  :remote => true, :class => 'dropdown-toggle noshadow min_w preview_children', :onclick=>"tog(#{seller.id})", :id => seller.id%>
        
        <ul class="dropdown-menu" style="left:-115px;" id='children_<%= seller.id %>'>
        </ul>
      </div>
    </td>
    <td>
      <% if seller.active == true %>
        启用
      <% elsif seller.active == false %>
        关闭
      <% end %>
    </td>
    <td>
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-info dropdown-toggle min_w">
          <i class="icon-wrench"></i>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="left:-115px;">
          <li>
            <%= link_to "编辑", edit_seller_path(:id => seller.id), :class=>"edit_seller"%>
          </li>
          <li>
              <% if seller.active == true %>
                <%= link_to "关闭", status_update_seller_path(:id => seller.id), :class=>"close_seller" %>
              
              <% elsif seller.active == false %>
                <%= link_to "启用", status_update_seller_path(:id => seller.id), :class=>"close_seller" %>
              
              <% end %>
           
          </li>
          <li><a data-toggle="modal" href="#" data-type="seller_area">管辖地区</a></li>
          <!-- <li><a data-toggle="modal" href="#dealer_login">登录账号</a></li> -->      
          <li class="divider"></li>
          <li>
            <%= link_to "管理下级", sellers_path(:parent_id => seller.id), :class=>"browse_children"%>
          </li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>