function zTreeBeforeCheck(treeId, treeNode) {
    if($("#" + treeNode.tId + "_check").hasClass("checkbox_false_full_focus") == true){
      $.get("/sellers/create_seller_area", {area_id:treeNode.id, seller_id:<%=params[:seller_id]%>}, function(result){
       });
    }else{
      $.get("/sellers/remove_seller_area", {area_id:treeNode.id, seller_id:<%=params[:seller_id]%>}, function(result){
       });
    }
};
var setting = {
  check: {
    enable: true
  },
  data: {
    simpleData: {
      enable: true
    }
  },
  callback: {
    beforeCheck: zTreeBeforeCheck
  }
};
var zNodes = data;

var code;

html = "<tr><th>地区编号</th><th>地区名称</th><th>操作</th></tr>"
<% if @seller_areas.present? %>
  <% @seller_areas.each do |seller_area| %>
    html += "<tr id='area<%= seller_area.area.id %>'><td><%=seller_area.area.id%></td>" + 
            "<td><%= seller_area.area.name%></td>" +
            "<td><a href='/sellers/remove_seller_area?id=<%=seller_area.id%>&seller_id=<%=seller_area.seller_id%>' data-method='get' data-remote='true'>解除绑定</a></td></tr>"
  <% end %>
<% end %>
$('#seller_area_list').html(html)

$.fn.zTree.init($("#treeDemo"), setting, zNodes);
var zTree = $.fn.zTree.getZTreeObj("treeDemo");  
<% if @seller_areas.present? %>
  <% @seller_areas.each do |seller_area| %>
    treenode = zTree.getNodeByParam("id", <%=seller_area.area_id%>);
    zTree.checkNode(treenode, true);
  <% end%>
<% end %>