<td id="operation_<%= bill.id %>">
  <%- if bill.checked_at.present? -%>
  <span class='label '>
    审核 <%= raw bill.checked_at.strftime("%m-%d %H:%M:%S") -%>
  </span>
  <%- end -%>
  <%- if bill.sync_at.present? -%>
  <span class='label '>
    同步 <%= raw bill.sync_at.strftime("%m-%d %H:%M:%S") -%>
  </span>
  <%- end -%>
  <%- if bill.sync_failed_at.present? -%>
  <span class='label '>
    同步失败 <%= raw bill.sync_failed_at.strftime("%m-%d %H:%M:%S") -%>
  </span>
  <%- end -%>
  <%- if bill.sync_succeded_at.present? -%>
  <span class='label '>
    同步成功 <%= raw bill.sync_succeded_at.strftime("%m-%d %H:%M:%S") -%>
  </span>
  <%- end -%>
  <%- if bill.canceled_at.present? -%>
  <span class='label '>
    取消 <%= raw bill.canceled_at.strftime("%m-%d %H:%M:%S") -%>
  </span>
  <%- end -%>
  <%- if bill.cancel_failed_at.present? -%>
  <span class='label '>
    取消失败 <%= raw bill.cancel_failed_at.strftime("%m-%d %H:%M:%S") -%>
  </span>
  <%- end -%>
  <%- if bill.cancel_succeded_at.present? -%>
  <span class='label '>
    取消成功 <%= raw bill.cancel_succeded_at.strftime("%m-%d %H:%M:%S") -%>
  </span>
  <%- end -%>
  <%- if bill.confirm_stocked_at.present? -%>
  <span class='label '>
    确认出库 <%= raw bill.confirm_stocked_at.strftime("%m-%d %H:%M:%S") -%>
  </span>
  <%- end -%>
</td>