<style>
.form-horizontal .controls {
  margin-left: 0px;
}
.input-small.select2.product {
  width: 800px!important;
}
.row-fluid.product {
  min-height: 0px;
}
.input-small.select2.logictic {
  width: 150px!important;
}
</style>
<% content_for :sub_nav do %>
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to "编辑出库单", new_warehouse_stock_in_bill_path(@warehouse) %></li>
    <li><%= link_to "入库单", warehouse_stock_in_bills_path(@warehouse) %></li>
    <li><%= link_to "出库单", warehouse_stock_out_bills_path(@warehouse) %></li>
    <li><%= link_to "所有进销", warehouse_stock_bills_path(@warehouse) %></li>
    <li><%= link_to "退货单", warehouse_refund_products_path(@warehouse) %></li>
  </ul><!-- nav-tabs -->
<% end %>
<div class="row-fluid">
  <div class="span10 w100">
    <div class="tab-content">
      <%= render :partial => "form",:locals => {:path => warehouse_stock_out_bill_path(@warehouse,@bill)} %>
    </div>
  </div>
</div>