<% content_for :sub_nav do %>
  <%= render partial: "layouts/warehouse_menu" %>
<% end %>

<div class="tab-pane active" id="stock_check">
  <%= form_tag warehouse_stock_out_bills_path(@warehouse),:method => "get",:class => "well well-small form-horizontal font12"  do %>
  <%= render :partial => "search" %>
  <% end %>
</div>

<%= form_tag "/",:method => "post",:class => "simple-operation",:id => "stock_out_bills_form", :remote => true do %>
  <div class="btn-toolbar">
    <div class="btn-group" id="bill_options">
      <button class="btn btn-warning">操作</button>
      <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "导出","#",:onclick => "processChecked('#{warehouse_stock_out_bills_path(@warehouse,:search => params[:search],:format => :xls,:on => '?')}')"%>
        </li>
        <li>
          <%= link_to_authorize "新建", new_warehouse_stock_out_bill_path(@warehouse) %>
        </li>
        <li>
          <%= link_to_authorize "查看","#",:class => "magic_detail",:target_url => "/warehouses/#{@warehouse.id}/stock_out_bills" %></li>
        <li>
        <li>
          <%= link_to_authorize "编辑","#",:class => "edit_bill",:target_url => "/warehouses/#{@warehouse.id}/stock_out_bills/:id/edit" %>
        </li>
        <li>
          <%= link_to_authorize "锁定", "#",:target_url => "/warehouses/#{@warehouse.id}/stock_out_bills/lock",:request => "post",:remote => true, :class => "bill_operation"  %>
        </li>
        <li>
          <%= link_to_authorize "激活", "#",:target_url => "/warehouses/#{@warehouse.id}/stock_out_bills/unlock",:request => "post",:remote => true, :class => "bill_operation"  %>
        </li>
        <li>
          <%= link_to_authorize "审核", "#",:target_url => "/warehouses/#{@warehouse.id}/stock_out_bills/check",:remote => true,:request => "post",:class => "bill_operation"  %>
        </li>
        <li>
          <%= link_to_authorize "同步", "#",:target_url => "/warehouses/#{@warehouse.id}/stock_out_bills/sync",:remote => true,:remote => true,:request => "post",:class => "bill_operation"  %>
        </li>
        <li>
          <%= link_to_authorize "撤销", "#",:target_url => "/warehouses/#{@warehouse.id}/stock_out_bills/rollback",:remote => true,:remote => true,:request => "post",:class => "bill_operation"  %>
        </li>
        <% if current_account.settings.enable_module_third_party_stock != 1 %>
          <li>
            <%= link_to_authorize "确认同步", "#",:target_url => "/warehouses/#{@warehouse.id}/stock_out_bills/confirm_sync",:remote => true,:request => "put",:class => "bill_operation"  %>
          </li>
          <li>
            <%= link_to_authorize "确认出库", "#",:target_url => "/warehouses/#{@warehouse.id}/stock_out_bills/confirm_stock",:remote => true,:request => "put",:class => "bill_operation"  %>
          </li>
        <%- end %>
      </ul>
    </div><!-- btn-group -->
    <div class="btns btn-group pull-right js-field_set">
      <input type="hidden" name="model_name" value="stock_out_bill"/>
      <input type="hidden" name="action_name" value="index"/>
      <a href="#" class="btn btn-success btn_mar4">显示设置</a>
      <button href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-success dropdown_check_btn"><span class="caret"></span></button>
      <ul class="dropdown-menu dropdown_check" id="dropdown_check">
        <% @all_cols.each do |col_name, view_name| %>
          <li data-col="<%= col_name %>">
          <label class="checkbox" style="padding-left:35px;">
            <input type="checkbox" class="test_checkbox" name="visible_columns[]" value="<%= col_name %>" <%= ' checked="checked"' if @visible_cols.include?(col_name) %>/>
            <%= view_name %>
          </label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= render "table" %>
<%- end %>
<div class='clearfix'>
  <div class="pull-right" style="margin-left: 5px;margin-top: -2px;">
    <%= paginate @bills %>
  </div>
  <!-- <p></p> -->
  <%= form_tag("/warehouses/#{@warehouse.id}/stock_out_bills", :method => "get", :class => 'pagination trade_count_info form-inline pull-right') do %>
    <input style="visibility:hidden;" name="page" value="<%= params[:page]%>"/>
    <label style="color:#005580;">当前每页显示：</label>
    <%=select_tag :number, options_for_select([["加载20项","20"],
    ["加载50项","50"],
    ["加载100项", "100"]], params[:number]),  :class => 'nomargin input-medium', :onchange => "this.form.submit();" %>
  <%- end -%>
</div>
<% content_for :tail do %>
<script>
  function processChecked(full_url){
    var bill_ids = $('input[name=\"bill_ids[]\"]:checked').map(function(){ return $(this).val()}).get().join(',');
    $(location).attr('href', full_url + '&export_ids=' + bill_ids);
  }

  $(function() {
    clickTableRow("bills_table");
    visibleTableColumns("#dropdown_check", "#stock_out_bills_form", "#bills_table");
  });
</script>
<% end %>
