<div class="row-fluid">
  <div class="span12">
    <%= render partial: "layouts/all_crumbs" %>
    <ul class="nav nav-tabs">
      <li><%= link_to "库存查询", stocks_path %></li>
      <li><%= link_to "入库单", stock_in_bills_path %></li>
      <li class="active"><%= link_to "出库单", stock_out_bills_path %></li>
      <li><%= link_to "所有进销", stock_bills_path %></li>
    </ul><!-- nav-tabs -->

    <div class="tab-content">
      <div class="tab-pane active" id="stock_check">
        <%= form_tag stock_out_bills_path,:method => "get",:class => "well well-small form-horizontal font12"  do %>
        <%= render :partial => "search" %>
        <% end %>
      </div>

      <%= form_tag "/",:method => "post",:id => "stock_out_bills_form", :remote => true do %>
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-warning">操作</button>
          <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
             <%= link_to "导出","#",:onclick => "processChecked('#{stock_out_bills_path(:search => params[:search],:format => :xls,:on => '?')}')"%>
            </li>
            <li>
              <%= link_to "新建", new_stock_out_bill_path %>
            </li>
            <li>
              <%= link_to "查看","javascript:if($('input:checked').length < 1){
              alert('请选择一个出库单');
            }else{
              var bill_id = $(\"input[name='bill_ids[]']:checked:first\").val();
              $(location).attr('href','/stock_out_bills/'+bill_id);
            }"  %>
          </li>
          <li>
            <%= link_to "审核", "#",:onclick => "processRequest(this)",:goto => "/stock_out_bills/check",:request_method => "post",:mesg => "确认审核吗?"  %>
          </li>
          <%- if current_account.settings.enable_module_third_party_stock == 1 %>
          <li>
            <%= link_to "同步", "#",:onclick => "processRequest(this)",:goto => "/stock_out_bills/sync",:request_method => "post",:mesg => "确认同步吗?"  %>
          </li>
          <li>
            <%= link_to "撤销", "#",:onclick => "processRequest(this)",:goto => "/stock_out_bills/rollback",:request_method => "post",:mesg => "确认撤销吗?"  %>
          </li>
          <%- end %>
        </ul>
      </div><!-- btn-group -->
    </div>
    <%= render "table" %>
    <%- end %>
    <%= paginate @bills %>
  </div><!--span10 -->
</div><!-- tab-content -->
</div><!-- span10 -->
</div><!--row-fluid -->
<script>
  function processChecked(full_url){
    var stock_product_ids = $('input[name=\"bill_ids[]\"]:checked').map(function(){ return $(this).val()}).get().join(',');
    $(location).attr('href', full_url + '&export_ids=' + stock_product_ids);
  }
</script>