<div class="order-st-list">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th class="td1">商品名</th>
      <th class="td2">特殊属性</th>
      <th class="td2">调色信息</th>
      <th class="td3">实际单价</th>
      <th class="td3">数量</th>
      <th class="td3">总价</th>
    </tr>
    <%- @trade.orders.each do |object| %>
        <%- order = OrderDecorator.decorate(object) %>
        <tr>
          <td class="td1"><%= order.title %></td>
          <td class="td2"><%= order.sku_properties %></td>
          <td class="td2">
            <%- if order.color_num && order.color_num.present? %>
              <%- order.color_num.each do |color| %>
                <%- color_name = Color.find_by_num(color).try(:name) %>
                <%= color %>  <%= color_name %>
              <%-end %>  
            <%- end %>          
          </td>
          <td class="td3"><span class="font-gray">¥<%= order.price %></span></td>
          <td class="td3"><%= order.num %></td>
          <td class="td3"><%= order.seller_total_fee %></td>
        </tr>
    <%- end %>
  </table>
</div>
<div class="order-st-total">
  <div class="pb5 pt5">
    <label class="label75"><span class="font-14b">商品总价：</span></label>&nbsp;
    <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.seller_sum_fee %></span>
  </div>
  <div class="pb5 pt5">
    <label class="label75"><span class="font-14b">运输费用：</span></label>&nbsp;
    <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.post_fee %></span>
  </div>
  <%- if @trade.seller_discount > 0 %>
    <div class="pb5 pt5">
      <label class="label75"><span class="font-14b">订单折扣:</span></label>&nbsp;
      <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.seller_discount %></span>
    </div>
  <% end %> 
  <!--<div class="pb5 pt5">-->
  <!--<label class="label75"><span class="font-14b">优惠券：</span></label>&nbsp;-->
  <!--<span class="font-gray">¥</span> <span class="font-blueb">200</span>-->
  <!--</div>-->
  <div class="pb5 pt5 l">
    <label class="label75"><span class="font-14b">总价：</span></label>&nbsp;
    <span class="font-gray">¥</span> <span class="font-cyanb"><%= @trade.seller_total_fee %></span>
  </div>
</div>