<div class="info-zone"><span class="font-14b">订单信息</span></div>
<div class="pro-title">
  <p class="pro-title-p font-blue14b">收货人信息</p>
</div>
<div class="c">
  <p>
    <label class="label65"><span class="font-gray">收货人：</span></label>&nbsp;
    <%= @trade.receiver_name %>
  </p>

  <p>
    <label class="label65"><span class="font-gray">收货地址：</span></label>&nbsp;
    <%= @area_full_name %>
  </p>

  <p>
    <label class="label65"><span class="font-gray">手机：</span></label>&nbsp;
    <%= @trade.receiver_mobile_phone %>
  </p>

  <p>
    <label class="label65"><span class="font-gray">邮政编码：</span></label>&nbsp;
    <%= @trade.receiver_zip %>
  </p>
</div>
<div class="pro-title">
  <p class="pro-title-p font-blue14b">支付及配送方式</p>
</div>
<div class="c">
  <p>
    <label class="label65"><span class="font-gray">支付方式：</span></label>&nbsp;
    支付宝
  </p>
</div>
<div class="pro-title">
  <p class="pro-title-p font-blue14b">商品清单</p>
</div>
<div class="order-st-list">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th class="td1">商品名</th>
      <th class="td2">特殊属性</th>
      <th class="td2">调色信息</th>
      <% unless TradeSetting.company == "dulux"%>
        <th class="td2">标价</th>
        <th class="td3">实际单价</th>
      <% end %>
      <th class="td3">数量</th>
      <% unless TradeSetting.company == "dulux"%>
        <th class="td3">总价</th>
      <% end %>
    </tr>
    <%- @trade.orders.each do |object| %>
        <%- order = OrderDecorator.decorate(object) %>
        <tr>
          <td class="td1"><%= order.title %></td>
          <td class="td2"><%= order.sku_properties %></td>
          <td class="td2">
            <%- if order.color_num && order.color_num.present? %>
              <%- order.color_num.each do |color| %>
                <%- color_name = Color.find_by_num(color).try(:name) %>
                <%= color %>  <%= color_name %>
              <%-end %>  
            <%- end %>          
          </td>
          <% unless TradeSetting.company == "dulux"%>
            <td class="td2"><span class="font-blueb">¥<%= order.auction_price %></span></td>
            <td class="td3"><span class="font-gray">¥<%= order.price %></span></td>
          <% end %>
          <td class="td3"><%= order.num %></td>
          <% unless TradeSetting.company == "dulux"%>
            <td class="td3"><%= order.total_fee %></td>
          <% end %>
        </tr>
    <%- end %>
  </table>
</div>
<!--Dulux经销商邮件内容也只需要看到运费-->
<% if TradeSetting.company == "dulux"%>
<div class="pb5 pt5">
    <label class="label75"><span class="font-14b">运输费用：</span></label>&nbsp;
    <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.post_fee %></span>
  </div>
<%- else %>  
<div class="order-st-total">
  <div class="pb5 pt5">
    <label class="label75"><span class="font-14b">商品总价：</span></label>&nbsp;
    <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.sum_fee %></span>
  </div>
  <div class="pb5 pt5">
    <label class="label75"><span class="font-14b">运输费用：</span></label>&nbsp;
    <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.post_fee %></span>
  </div>
  <%- if @trade.seller_discount > 0 %>
    <div class="pb5 pt5">
      <label class="label75"><span class="font-14b">订单折扣:</span></label>&nbsp;
      <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.seller_discount %></span>
    </div>
  <% end %> 
  <div class="pb5 pt5 l">
    <label class="label75"><span class="font-14b">总价：</span></label>&nbsp;
    <span class="font-gray">¥</span> <span class="font-cyanb"><%= @trade.total_fee %></span>
  </div>
</div>
<% end %>