<div class="order-st-list">
  <table  border= "1" cellpadding="0" cellspacing="0" style="width: 1000px; border:  1px solid #ddd; margin: 15px 0;">
    <tr>
        <td style="padding: 5px;text-align: center;"><b>订单编号：</b><%= order.tid %></td>
        <td style="padding: 5px;text-align: center;" colspan="5"><b>订单状态：</b><%= @trade.status_text %></td>
    </tr>
    <tr>
      <th style="padding: 5px;text-align: center;" width="450">商品名</th>
      <th style="padding: 5px;text-align: center;">特殊属性</th>
      <th style="padding: 5px;text-align: center;">调色信息</th>
      <% unless TradeSetting.company == "dulux"%>
      <th style="padding: 5px;text-align: center;">标价</th>
      <th style="padding: 5px;text-align: center;">实际单价</th>
      <% end %>
      <th style="padding: 5px;text-align: center;">数量</th>
      <% unless TradeSetting.company == "dulux"%>
      <th style="padding: 5px;text-align: center;">商品总价</th>
      <% end %>
    </tr>
    <%- @trade.orders.each do |object| %>
      <%- order = OrderDecorator.decorate(object) %>
      <% object.bill_info.each do |info| %>
      <tr>
        <td style="padding: 5px;text-align: center;"><%= info[:title] %></td>
        <td style="padding: 5px;text-align: center;"><%= order.sku_properties %></td>
        <td style="padding: 5px;text-align: center;">
        <%- if info[:colors].present? %>
          <%- info[:colors].each do |color, array| %>
            <%= array[0]%>桶 <%= color %>  <%= array[1] %><br>
          <%- end %>
        <%- end %>
        </td>

        <% unless TradeSetting.company == "dulux"%>
        <td style="padding: 5px;text-align: center;"><span class="font-blueb">¥<%= order.auction_price %></span></td>
        <td style="padding: 5px;text-align: center;"><span class="font-gray">¥<%= order.price %></span></td>
        <% end %>

        <td style="padding: 5px;text-align: center;"><%= info[:number] * order.num %></td>

        <% unless TradeSetting.company == "dulux"%>
        <td style="padding: 5px;text-align: center;"><%= order.total_fee %></td>
        <% end %>
      </tr>
      <% end %>
    <%- end %>
  </table>
</div>

<% if TradeSetting.company == "dulux"%>
<div class="pb5 pt5">
  <label class="label75"><span class="font-14b"><b>运输费用：</b></span></label>&nbsp;
  <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.post_fee %></span>
</div>
<%- else %>
<div class="order-st-total">
  <div class="pb5 pt5">
    <label class="label75"><span class="font-14b"><b>订单金额</b></span></label>&nbsp;
    <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.sum_fee %></span>
  </div>
  <%- if @trade.seller_discount > 0 %>
    <div class="pb5 pt5">
      <label class="label75"><span class="font-14b"><b>优惠金额: </b></span></label>&nbsp;
      <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.seller_discount %></span>
    </div>
  <% end %> 
  <div class="pb5 pt5">
    <label class="label75"><span class="font-14b"><b>运输费用：</b></span></label>&nbsp;
    <span class="font-gray">¥</span> <span class="font-blueb"><%= @trade.post_fee %></span>
  </div>
  <div class="pb5 pt5 l">
    <label class="label75"><span class="font-14b"><b>订单总价：</b></span></label>&nbsp;
    <span class="font-gray">¥</span> <span class="font-cyanb"><%= @trade.total_fee %></span>
  </div>
</div>
<% end %>
