<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
</head>
<body style="padding-top:20px">
<% if @notify_kind == 'new' %>
  <%=  @trade_info %>，具体信息如下，
<% else %>
  <%=  @trade_info %> 信息有调整，具体信息如下，请以此封mail信息为准，
<% end %>
<br><%= @trade_deliver_info %>
<%- if @trade._type == "TaobaoPurchaseOrder" %>
	<%= render "purchase_order" %>
<%- else %>
	<%= render "trade_detail" %>
<%- end %>
<%= render "buyer_info"  %>
<b>买家留言：</b><%= @trade.buyer_message %> <br>
<b>客服备注：</b><%= @trade.cs_memo %> <br>
</body>
</html>
