<script type="text/javascript">
  function add_logistics_user(u_id){
    var logistic_id = $("#logistic_id_container").text();
    $.get("/logistics/logistic_user_list",{u_id:u_id, logistic_id:logistic_id}, function(result){

    })
  }
</script>

<% @logistics.each do |logistics| %>
  <tr id="seller_<%=logistics.id%>">
    <td><label><%=check_box_tag :id, logistics.id, false,  :class=>"row_selection"%> </label></td>
    <td><%=logistics.id%></td>
    <td><%=logistics.name%></td>
    <td><%=logistics.code%></td>
    <td class='hide'>
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-info dropdown-toggle min_w">
          <i class="icon-wrench"></i>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="left:-115px;">
          <li>
            <%= link_to "编辑", edit_logistic_path(:id => logistics.id), :"data-action-url"=>"edit", :class=>"edit_seller"%>
          </li>
          <li>
            <%= link_to "设置物流费用", logistic_logistic_areas_path(:logistic_id => logistics.id), :"data-action-url"=>"logistic_areas", :class=>"edit_seller"%>
          </li>
          <li>
            <%= link_to "删除", delete_logistic_path(:id => logistics.id), :class=>"close_seller" %>
          </li>
          <li><a data-action='manage-area' data-toggle="modal" href="#dealer_area" data-type="seller_area" data-id="<%=logistics.id%>" class="logistic_area">管辖地区</a></li>
          <li><a data-action='manage-login' data-toggle="modal" href="#dealer_login" data-id="<%= logistics.id%>" class="logistic_login_acount">登录账号</a></li>

        </ul>
      </div>
    </td>
  </tr>
<% end %>