html = "<tr><th>用户编号</th><th>用户名称</th><th>所属用户组</th><th>账户状态</th><th>操作</th></tr>"
<% if @logistic_user_list.present? %>
	<% @logistic_user_list.each do |list| %>
		html += "<tr id='seller_<%=list.id%>'><td><%=list.id%></td>" +
	          "<td><%= list.name%></td>" +
	          "<td><%= list.roles.map{|r| r.role_s}.join(',') %></td>" +
	          "<td><%= list.active ? '生效' : '禁止'%></td>" +
	          "<td><a href='/logistics/remove_logistic_user?u_id=<%=list.id%>' data-method='get' data-remote='true'>解除绑定</a></td></tr>"
	<% end %>
<% end %>
<% if @flag %>
	$('#user_list_<%=params[:u_id]%>').hide()
<% else %>
	$('#checkbox_id_<%=params[:u_id]%>').removeAttr('checked')
<% end %>
$('#user_table_list').html(html)
