<% params[:search] ||= {} %>

<div class="control-group">
  <%= label_tag "search[tid_eq]","编号",:class => "control-label" %>
  <div class="controls">
    <%= text_field_tag "search[tid_eq]",params[:search][:tid_eq] %>
  </div>
</div>

<div class="control-group">
  <%= label_tag "search[checked_at_nu]","状态",:class => "control-label" %>
  <div class="controls">
  <%= select_tag "search[checked_at_nu]",options_for_select([["已审核",true],["未审核",false]],params["search"]["checked_at_nu"]),:include_blank => true,:class => "input-medium select2"  %>
  </div>
</div>

<div class="control-group">
  <%= label_tag "search[stock_type_eq]","入库类型",:class => "control-label" %>
  <div class="controls">
    <%= select_tag "search[stock_type_eq]",options_for_select((StockInBill::STOCK_TYPE),params[:search][:stock_type_eq]),:include_blank => true,:class => "input-medium select2"  %>
  </div>
</div>

<div class="control-group">
  <%= label_tag "search[created_a
t_gte]","创建时间",:class => "control-label" %>
  <div class="controls">
    <%= text_field_tag "search[created_at_gte]",params["search"]["created_at_gte"],:class => "input-medium datetimepicker_full" %>~

    <%= text_field_tag "search[created_at_lte]",params["search"]["created_at_lte"],:class => "input-medium datetimepicker_full" %>

  </div>
</div>

<div class="control-group">
  <%= label_tag "search[stocked_at_gte]", "入库时间",:class => "control-label" %>
  <div class="controls">
    <%= text_field_tag "search[stocked_at_gte]",params["search"]["stocked_at_gte"],:class => "input-medium datetimepicker_full" %>~

    <%= text_field_tag "search[stocked_at_lte]",params["search"]["stocked_at_lte"],:class => "input-medium datetimepicker_full" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">地域：</label>
  <div class="controls">
    <select id="" class="level_1 input-medium input-small pull-left radius_no_rb select2" name="op_state">
      <option>省</option>
    </select>
    <select id="" class="level_2 input-medium input-small pull-left radius_no select2" name="op_city">
      <option>市</option>
    </select>
    <select id="" class="level_3 input-medium input-small pull-left radius_no_tl select2" name="op_district">
      <option>区</option>
    </select>
  </div>
</div>
  
<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn">搜索</button>
  </div>
</div>

<div class="control-group">
  <div class="pull-left">
    <span class="label label-info">共有<%= @count %>条数据</span>
  </div>
</div>

<% content_for :tail do -%>
  <%= javascript_include_tag "LinkageSelect.js" %>
  <script type="text/javascript">
    $(function() {
      var options = {
        data  : linkage_data
      }

      var sel = new LinkageSelect(options);
      sel.bind('.level_1','<%= params[:op_state] %>');
      sel.bind('.level_2','<%= params[:op_city] %>');
      sel.bind('.level_3','<%= params[:op_district] %>');
    });
</script>
<% end -%>
