<table class="table table-hover table-bordered table-striped table-condensed js-table" id="bills_table">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <%- @all_cols.each do |col_name, view_name| -%>
        <th data-col="<%= col_name %>" style="<%= 'display:none' unless @visible_cols.include?(col_name) %>">
          <%= view_name %>
        </th>
      <%- end -%>
    </tr>
  </thead>
  <tbody>
    <%- @bills.each_with_index do |bill, index| %>
      <tr id='<%= bill.id %>'>
        <td><input type="checkbox" name="bill_ids[]" value="<%= bill.id %>" ></td>
        <%- @all_cols.each do |col_name, view_name| -%>
          <% case col_name
             when "status" %>
            <%= render "status", bill: bill%>
          <% when "operation" %>
            <%= render "operation", bill: bill%>
          <% else %>
            <td data-col="<%= col_name %>" style="<%= 'display:none' unless @visible_cols.include?(col_name) %>">
              <%= col_name == "stock_no" ? @start_no + index : bill.send(col_name) rescue "" %>
            </td>
          <% end %>
        <%- end -%>
      </tr>
    <%- end %>
  </tbody>
</table>