<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li class="active"><%= link_to "#{@bill.tid}入库单", warehouse_stock_in_bills_path(@warehouse) %></li>
			<li><%= link_to "入库单", warehouse_stock_in_bills_path(@warehouse) %></li>
			<li><%= link_to "出库单", warehouse_stock_out_bills_path(@warehouse) %></li>
			<li><%= link_to "所有进销", warehouse_stock_bills_path(@warehouse) %></li>
		</ul><!-- nav-tabs -->
		<form class="form-horizontal mar_t30">
			<div class="well clearfix">
				<fieldset class="span6">
					<div class="form-inline">
						<label>入库单编码：</label><%= @bill.tid %>
					</div>
					<div class="form-inline">
						<label>发货人：</label><%= @bill.op_name %>
					</div>
					<div class="form-inline">
						<label>手机：</label><%= @bill.op_mobile %>
					</div>
					<div class="form-inline">
						<label>邮编：</label><%= @bill.op_zip %>
					</div>
					<div class="form-inline">
						<label>市：</label><%= @bill.op_city %>
					</div>
					<div class="form-inline">
						<label>收货仓库：</label>默认仓库
					</div>
					<div class="form-inline">
						<label>入库类型：</label><%= @bill.stock_type_name %>
					</div>
					<fieldset class="form-inline">
						<label>备注：</label><%= @bill.remark %>
					</fieldset>
					<fieldset class="form-inline">
						<label>历史状态：</label>
						<%- if @bill.operation_logs.present? -%>
							<br/>
							<%- @bill.operation_logs.each do |log| %>
								<label>
									<%= "#{log.operated_at.strftime("%Y-%m-%d %H:%M:%S")}, #{log.operation}  #{log.operator}" %>
								</label>
								<br/>
							<%- end %>
						<%- end -%>
					</fieldset>
				</fieldset><!-- form left area -->
				<fieldset class="span6">
					<div class="form-inline">
						<label>当前状态：</label><%= @bill.status %>
					</div>
					<div class="form-inline">
						<label>固定电话：</label><%= @bill.op_phone %>
					</div>
					<div class="form-inline">
						<label>收货地址：</label><%= @bill.op_address %>
					</div>
					<div class="form-inline">
						<label>省：</label><%= @bill.op_state %>
					</div>
					<div class="form-inline">
						<label>区：</label><%= @bill.op_district %>
					</div>
					<div class="form-inline">
						<label>物流公司：</label><%= @bill.logistic_name %>
					</div>
					<div class="form-inline">
						<label>入库时间：</label><%= @bill.stocked_at.try(:strftime,"%Y-%m-%d %H:%M:%S") %>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="clearfix">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#good_info" data-toggle="tab">商品信息</a></li>
			</ul>
			<div class="tab-content noborder_content">
				<div class="tab-pane active">
					<table class="table table-hover table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th width="">商品编码</th>
								<th width="">商品名称</th>
								<th width="">商品单价</th>
								<th width="">商品数量</th>
								<th width="">商品总价</th>
							</tr>
						</thead>
						<tbody>
							<%- @bill.bill_products.each do |product| %>
							<tr>
								<td><%= product.num_iid %></td>
								<td><%= product.title %></td>
								<td><%= product.price %></td>
								<td><%= product.number %></td>
								<td><%= product.total_price %></td>
							</tr>
							<%- end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
