<style>
  .input-small.select2.product {
  width: 504px!important;
  }
</style>

<div class="control-group">
  <%= f.label :product_id_eq,raw("<code>商品名称</code>"),:class => "pull-left"  %>
  <div class="controls pull-left">
    <%= f.select :product_id_eq,current_account.products.collect {|x| [x.name,x.id]},
    {:include_blank => true},{:class => "input-small pull-left select2 product all"}  %>
  </div>
  <div class="pull-left">
    <button type="button pull-left" class="btn btn-info search" id="simple_search_button">筛选</button>
  </div>
</div>
<div class="control-group">
  <%= f.label :product_outer_id_eq,raw("<code>商品编码</code>"),:class => "pull-left"  %>
  <div class="controls pull-left">
    <%= f.text_field :product_outer_id_eq,{:class => "input-large pull-left"}  %>
  </div>
</div>
<div class="control-group">
  <%= label_tag "storage_status",raw("<code>库存状态</code>"),:class => "pull-left"  %>
  <div class="controls pull-left">
    <%= select_tag "storage_status",options_for_select(StockProduct::STORAGE_STATUS.keys,params["storage_status"]),{:include_blank => true,:class => "input-small pull-left select2 all"} %>
  </div>
</div>
<% content_for :tail do %>
<script type="text/javascript" charset="utf-8">
$(function() {
  var options = {
    data  : linkage_data
  }

  var sel = new LinkageSelect(options);
  sel.bind('.level_1','<%= params[:op_state] %>');
  sel.bind('.level_2','<%= params[:op_city] %>');
  sel.bind('.level_3','<%= params[:op_district] %>');

  $.each($('form').find("select.all"),function(){
    $(this).select2({
      placeholder: "全部",
      allowClear: true
    });
  })
})
</script>
<% end %>