<div class="tab-pane active" id="stock_check">
  <%= form_for @search ,:url => stocks_path_adapter , :html => {:class => "well well-small form-horizontal font12",:id => "search"},:method => :get do |f| %>
    <%= render :partial => "search",:locals => {:f => f} %>
  <% end %>
</div>

<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-warning">操作</button>
    <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "导出","#",:onclick => "processChecked('#{stocks_path(warehouse_id: params[:warehouse_id], :search => params[:search],:format => :xls,:on => '?')}')"%>
      </li>
      <li>
        <%= link_to_authorize "批量设置安全库存","#batch_update_safety_stock",:target_url => batch_update_safety_stock_stocks_path(warehouse_id: params[:warehouse_id]),:class => "magic_operation set_stock", "data-toggle" => "modal",:request => :post,:id => "set_safety_stock" %>
      </li>
      <li>
        <%= link_to_authorize "批量设置实际库存","#batch_update_actual_stock",:target_url => batch_update_actual_stock_stocks_path(warehouse_id: params[:warehouse_id]),:class => "magic_operation set_stock", "data-toggle" => "modal",:request => :post,:id => "set_actual_stock" %>
      </li>
      <li>
        <% stock_path = params[:warehouse_id].nil? ? stock_path(id: '') : warehouse_stock_path(warehouse_id: params[:warehouse_id],id: '') %>
        <%= link_to_authorize "查看","#",:target_url => stock_path,:class => "magic_detail",:request => :get %>
      </li>
      <% if @warehouse.present? %>
        <li>
          <%= link_to_authorize "盘点",inventory_warehouse_stocks_path(params[:warehouse_id]),:method => :put,:confirm => "确认盘点?" %>
        </li>
        <li>
          <%= link_to_authorize "库存导入", new_warehouse_stock_csv_file_path(warehouse_id: params[:warehouse_id]) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="btns btn-group pull-right js-field_set">
    <a href="#" class="btn btn-success btn_mar4">显示设置</a>
    <button href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-success dropdown_check_btn"><span class="caret"></span></button>
    <ul class="dropdown-menu dropdown_check" id="dropdown_check">
      <%= form_tag "/users/update_visible_columns", :id => "visible_columns"%>
        <input type="hidden" name="model_name" value="stock_product"/>
        <input type="hidden" name="action_name" value="<%= @warehouse.blank? ? "stock_product_all_visible_cols" : "stock_product_detail_visible_cols" %>"/>
        <% @all_cols.each do |col_name, view_name| %>
        <li data-col="<%= col_name %>">
          <label class="checkbox" style="padding-left:35px;">
            <input type="checkbox" class="test_checkbox" name="visible_columns[]" value="<%= col_name %>" <%= ' checked="checked"' if @visible_cols.include?(col_name) %>/>
            <%= view_name %>
          </label>
        </li>
        <% end %>
      </form>
    </ul>
  </div>
</div>

<%= form_tag "/",:method => "post",:id => "stocks_index_form",:class => "simple-operation cmxform" do %>
  <fieldset class="js-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" id="batch_update_safety_stock">
    <%= render "batch_update_safety_stock" %>
  </fieldset>
  <fieldset class="js-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" id="batch_update_actual_stock">
    <%= render "batch_update_actual_stock" %>
  </fieldset>
  <table class="table table-hover table-bordered table-striped table-condensed js-table" id="stocks_table">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <%- @all_cols.each do |col_name, view_name| -%>
          <th data-col="<%= col_name %>" style="<%= 'display:none' unless @visible_cols.include?(col_name) %>">
            <%= sort_link @search, col_name, view_name %>
          </th>
        <%- end -%>
      </tr>
    </thead>
    <tbody>
      <% @stock_products.each do |stock_product| %>
      <% @stock_product = stock_product %>
        <tr id="<%=dom_id(stock_product)%>">
          <td><input type="checkbox" name="stock_product_ids[]" value="<%= stock_product.id %>"></td>
          <%- @all_cols.each do |col_name, view_name| -%>
          <td class="<%= td_item_class(col_name) %>" data-col="<%= col_name %>" style="<%= get_col_style(@visible_cols, col_name, stock_product) %>">
            <% case col_name
               when "sku_sku_id" %>
            <%= stock_product.sku.try(:sku_id) %>
            <% when "seller_name" %>
              <%= stock_product.seller.try(:name) %>
            <% when "product_name" %>
              <%= stock_product.sku.try(:title) %>
            <% when "product_outer_id" %>
              <%= stock_product.product.try(:outer_id) %>
            <% when "category_name" %>
              <%= stock_product.category.try(:name) %>
            <% when "seller_id" %>
              <%= stock_product.seller.try(:name) %>
            <% when "forecast" %>
              <%- hold = @hold_hash.fetch(stock_product.id.to_s) rescue 0 %>
              <%- forecast = stock_product.activity - hold %>
              <%= forecast %>
            <% when "actual" %>
              <%= link_to stock_product.actual, "#", :class => "stock_actual", "data-stock-product-id" => stock_product.id %>
            <% when "safe_value" %>
              <%= link_to stock_product.safe_value, "#", :class => "stock_safe_value", "data-stock-product-id" => stock_product.id %>
            <% else %>
              <%= stock_product.send(col_name) rescue "" %>
            <% end %>
          </td>
          <%- end -%>
        </tr>
      <% end %>
      <tr><th>统计</th><th>可用库存: <%= @stock_product.count_activity %></th><th>实际库存: <%= @stock_product.count_actual %></th><th>安全库存: <%= @stock_product.count_safe_value %></th></tr>
    </tbody>
  </table>
<%- end %>
<div class='clearfix'>
  <div class="pull-right" style="margin-left: 5px;margin-top: -2px;">
    <%= paginate @stock_products %>
  </div>
</div>
