<div class="container-fluid">
  <header class="jumbotron subhead" id="overview">
    <div class="subnav">
      <ul class="nav nav-pills">
        <% if current_user.has_role?(:seller) && current_user.seller %>
          <li class="active"><%= link_to '仓库管理', seller_stocks_path(current_user.seller.id) %></li>
        <% else %>
          <li class="active"><a href="/stocks">所有仓库</a></li>
        <% end %>
        <li ><a href="<%=stock_products_path%>">库存查询</a></li>
      </ul>
    </div>
  </header>
  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li>
        <%= link_to 'Magic', root_path %>
        <span class="divider">/</span>
      </li>
      <li class="active">仓库管理</li>
    </ul><!-- breadcrumb -->

    <form class="well form-search" action='/stocks' method='get'>
      <fieldset class="form-inline">
        <div class="controls">
          <label for="" class="control-label">精准：</label>
          <select id="" class="input-large">
            <option>仓库名</option>
          </select>

          <div class="input-append">
            <input type="text" name='seller_name' class="w_specify"><button type="submit" class="btn">过滤</button>
          </div>
        </div>
      </fieldset>
    </form>

    <table class="table table-striped table-bordered table-condensed vertical_mid">
      <thead>
        <tr>
          <th>仓库名称</th>
          <th>所属经销商名称</th>
          <th>商品数量</th>
          <th>商品品类数</th>
          <th>联系人</th>
          <th>联系电话</th>
          <th>开启时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      	<% @enbaled_stocks_sellers.each do |seller| %>
        <tr>
          <td><%= seller.name %></td>
          <td><%= seller.fullname %></td>
          <td><%= seller.products_ids.count %></td>
          <td><%= seller.categories_ids.count %></td>
          <td><%= seller.fullname %></td>
          <td><%= seller.mobile %></td>
          <td><%= seller.stock_opened_at.try(:strftime, "%y-%m-%d %H:%M:%S") if seller.stock_opened_at%></td>
          <td>
            <div class="btn-group">
              <button data-toggle="dropdown" class="btn btn-info dropdown-toggle min_w">
                <i class="icon-wrench"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu trade_pops" style="left:-115px;">
                <li>
                  <%= link_to '查看', seller_stocks_path(seller)%>
                  <%#= link_to '关闭', '', method: :delete, confirm: '确认删除?' %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @enbaled_stocks_sellers %>
  </div>
</div>

