<div class="container-fluid">
  <header class="jumbotron subhead" id="overview">
    <div class="subnav">
      <ul class="nav nav-pills">
        <li class="active"><%= link_to '仓库管理', seller_stocks_path %></li>
        <!-- <li><%#= link_to '进销记录', ''%></li> -->
      </ul>
    </div>
  </header>
  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li>
        <%= link_to 'Magic', root_path %>
        <span class="divider">/</span>
      </li>
      <li class="active"><%= @seller.try(:name) %></li>
      <li style="position:absolute;right:15px;top:6px;">
        <%= link_to '新增商品', new_seller_stock_product_path, class: 'btn_alert' %>
      </li>
    </ul><!-- breadcrumb -->

    <%= simple_form_for "product",  url: seller_stocks_path(@seller), html: { method: "get", class: "well form-horizontal reset_space"}, :wrapper => :search do |f| %>
      <fieldset>
        <div class="control-group form-inline">
          <div class="pull-left mar_r10">
            <label class="control-label width_auto">库存状态：</label>
            <label class="radio pad_t5">
              <input type="radio" name="stock_state" id="optionsRadios1" value="usual">正常
            </label>
            <label class="radio pad_t5">
              <input type="radio" name="stock_state" id="optionsRadios2" value="max">满仓
            </label>
            <label class="radio pad_t5">
              <input type="radio" name="stock_state" id="optionsRadios3" value="safe">预警
            </label>
          </div>
          
          <div class="pull-left mar_r10">
            <select class="width_auto">
              <option value="iid">商品编号</option>
              <option value="taobao_id">淘宝ID</option>
              <option value="name">商品名称</option>
            </select>
            <input type="text" name="info" class="input-large">
          </div>
      
        
          <div class="pull-left mar_r10">
            <fieldset class="form-inline">
              <label class="control-label width_auto">商品分类：</label>
              <select class="width_auto" name="category">            
                <!-- nippon only-->
                <option value="">全部</option>
                <option value="1">网络特供商品</option>
                <option value="2">内墙乳胶漆</option>
                <option value="3">外墙乳胶漆</option>
                <option value="4">木器漆</option>
                <option value="5">DIY色彩系列</option>
                <option value="6">輔助材料</option>
              </select> 
            </fieldset>                            
          </div>
               
          <button type="submit" class="btn btn-primary">筛选</button>
          <button class="btn">重置</button>
        </div>
      </fieldset>
    <%- end %>

    <table class="table table-striped table-bordered table-condensed vertical_mid">
      <thead>
        <tr>
          <th>图片</th>
          <th>名称</th>
          <th>分类</th>
          <th>淘宝ID</th>
          <th>商品状态</th>
          <th>库存状态</th>
          <th>可用库存</th>
          <th>实际库存</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      	<% @products.each do |product| %>
        <tr>
          <td></td>
          <td><%= product.name %></td>
          <td><%= product.product.try(:category).try(:name) %></td>
          <td><%= product.taobao_id %></td>
          <td><%= product.product.present_status %></td>
          <td><%= product.storage_status %></td>
          <td><%= product.activity %></td>
          <td><%= product.actual %></td>
          <td>
            <div class="btn-group">
              <button data-toggle="dropdown" class="btn btn-info dropdown-toggle min_w">
                <i class="icon-wrench"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu trade_pops" style="left:-115px;">
                <li><a href='javascript:void(0)' onclick='show_storage_in(<%= product.id %>)' >入库</a></li>
                <li><a href='javascript:void(0)' onclick='show_storage_out(<%= product.id %>)'>出库</a></li>
                <li><%= link_to '进销记录', seller_stock_product_stock_history_index_path(params[:seller_id], product.id) %></li>
                <li><%= link_to '编辑', edit_seller_stock_product_path(params[:seller_id], product.id) %></li>
                <li>
                  <%= link_to '删除', seller_stock_product_path(params[:seller_id], product.id), method: :delete, confirm: '确认删除?' %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @products %>
  </div>
</div>

<%= form_tag '', id: 'storage_in', class: 'form-horizontal modal hide fade', remote: true %>
	<input type='hidden' class='modal_product_id' name='stock_history[stock_product_id]'>
	<input type='hidden' class='modal_product_operation' name='stock_history[operation]' value='入库'>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4>入库操作</h4>
  </div>
  <div class="modal-body">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="">商品名称：</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input modal_product_name"></span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="">实际库存：</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input modal_product_actual"></span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="">可用库存：</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input modal_product_activity"></span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="">*入库数量：</label>
        <div class="controls">
          <input type="text" class="input-small" name="stock_history[number]">件
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="">入库原因：</label>
        <div class="controls">
          <select class="width_auto" name='stock_history[reason]'>
            <option value='i1'>生产入库</option>
            <option value='i0'>其他原因</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="">备注：</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name='stock_history[note]'>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type='submit' class="btn btn-primary">确定</button>
  </div>
</form>

<%= form_tag "", id: 'storage_out', class: 'form-horizontal modal hide fade', remote: true %>
	<input type='hidden' class='modal_product_id' name='stock_history[stock_product_id]'>
	<input type='hidden' class='modal_product_operation' name='stock_history[operation]' value='出库'>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4>出库操作</h4>
  </div>
  <div class="modal-body">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="">商品名称：</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input modal_product_name"></span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="">实际库存：</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input modal_product_actual"></span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="">可用库存：</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input modal_product_activity"></span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="">*出库数量：</label>
        <div class="controls">
          <input type="text" class="input-small" name="stock_history[number]">件
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="">出库原因：</label>
        <div class="controls">
          <select class="width_auto" name='stock_history[reason]'>
            <option value='o1'>销售出库</option>
            <option value='o0'>其他原因</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="">备注：</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name='stock_history[note]'>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type='submit' class="btn btn-primary">确定</button>
  </div>
</form>

<script type="text/javascript">
  function show_storage_in(id) {
    $.get('/sellers/<%= params[:seller_id]%>/stock_products/' + id, {}, function(data){
      $('#storage_in .modal_product_id').val(id)
      $('#storage_in .modal_product_name').text(data.name)
      $('#storage_in .modal_product_actual').text(data.actual)
      $('#storage_in .modal_product_activity').text(data.activity)
      $('#storage_in').attr('action', '/sellers/<%= params[:seller_id]%>/stock_products/' + id + '/stock_history')
      $('#storage_in').modal('show')
    })
  }

  function show_storage_out(id) {
    $.get('/sellers/<%= params[:seller_id]%>/stock_products/' + id, {}, function(data){
      $('#storage_out .modal_product_id').val(id)
      $('#storage_out .modal_product_name').text(data.name)
      $('#storage_out .modal_product_actual').text(data.actual)
      $('#storage_out .modal_product_activity').text(data.activity)
      $('#storage_out').attr('action', '/sellers/<%= params[:seller_id]%>/stock_products/' + id + '/stock_history')
      $('#storage_out').modal('show')
    })
  }
</script>