<div class="row-fluid">
  <div class="span10 w100">
    <%= render partial: "layouts/all_crumbs" %>
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to "库存查询", stocks_path %></li>
      <li><%= link_to "入库单", stock_in_bills_path %></li>
      <li><%= link_to "出库单", stock_out_bills_path %></li>
      <li><%= link_to "所有进销", stock_bills_path %></li>
    </ul><!-- nav-tabs -->
    <div class="tab-content">
      <div class="tab-pane active" id="stock_check">
        <%= form_for @search ,:url => stocks_path , :html => {:class => "well well-small form-horizontal font12",:id => "search"},:method => :get do |f| %>
          <%= render :partial => "search",:locals => {:f => f} %>
        <% end %>
      </div>    
      
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-warning">操作</button>
          <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "导出","#",:onclick => "processChecked('#{stocks_path(:search => params[:search],:format => :xls,:on => '?')}')"%>
            </li>
          </ul>
        </div>
      </div> 

        <%= form_tag "/",:method => "post",:id => "stocks_index_form", :remote => true do %>
          <table class="table table-hover table-bordered table-striped table-condensed js-table">
            <thead>
              <tr>
                <th width="2%"><input type="checkbox"></th>
                <th width="5%">序号</th>
                <th width="10%"><%= sort_link @search, :sku_sku_id,"SKU编码" %> </th>
                <th><%= sort_link @search, :product_name,"商品SKU名称" %> </th>
                <th width="10%"><%= sort_link @search, :product_outer_id,"商品编码" %></th>
                <th width="10%"><%= sort_link @search, :category_name,"商品分类" %></th>
                <th width="10%"><%= sort_link @search, :activity,"可用库存" %></th>
                <th width="10%"><%= sort_link @search, :actual,"实际库存" %></th>
                <th width="10%"><%= sort_link @search, :safe_value,"安全库存" %></th>                
                <th width="10%">库存状态</th>
              </tr>
            </thead>
            <tbody>
              <% @stock_products.each_with_index do |stock_product, index| %>
              <tr>
                <td><input type="checkbox" name="stock_product_ids[]" value="<%= stock_product.id %>"></td>
                <td><%=  index + 1  %></td>
                <td><%= stock_product.sku.try(:sku_id) %></td>
                <td><%= stock_product.sku.try(:title) %></td>
                <td><%= stock_product.product.try(:outer_id) %></td>
                <td><%= stock_product.category.try(:name) %></td>
                <td><%= stock_product.activity %></td>
                <td><%= stock_product.actual %></td>
                <td><%= stock_product.safe_value %></td>
                <td><%= stock_product.storage_status %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @stock_products %>
        <%- end %>
      </div><!--span10 -->
    </div><!-- tab-content -->
  </div><!-- span10 -->
</div><!--row-fluid-->

<script>
function processChecked(full_url){
  var stock_product_ids = $('input[name=\"stock_product_ids[]\"]:checked').map(function(){ return $(this).val()}).get().join(',');
  $(location).attr('href', full_url + '&export_ids=' + stock_product_ids);
}
</script>