<%= simple_form_for @user, html: {:class =>'well form-horizontal'} do |f| %>
  <fieldset class="add_unit">
    <div class="control-group">
      <%= f.input :username, :label => "用户名：",class: 'input-xlarge' %>
    </div>
    <div class="control-group">
      <%= f.input :name, :label => "姓名：", class: 'input-xlarge' %>
    </div>

    <div class="control-group">
      <%= f.input :email, :label => "邮箱：", class: 'input-xlarge' %>
    </div>
  </fieldset>

  <fieldset class="add_unit">
    <div class="control-group">
      <%= f.input :password, :label => "密码：", class: 'input-xlarge' %>
    </div>

    <div class="control-group">
      <%= f.input :password_confirmation, :label => "确认密码：", class: 'input-xlarge' %>
    </div>
  </fieldset>

  <fieldset class="add_unit">
    <div class="control-group">
      <label class="control-label" for="">用户组：</label>
      <div class="controls">
        <label class="checkbox inline">
          <%= check_box_tag :support, '1', @user.has_role?(:support) %>
          售后服务
        </label>
      </div>
      <div class="controls">
        <label class="checkbox inline">
          <%#= f.check_box :seller, class: 'input-xlarge', :checked => (@user.has_role? :seller) ? 'checked' : '' %>
          <%= check_box_tag :seller, '1', @user.has_role?(:seller) %>
          经销商
        </label>
      </div>
      <div class="controls">
        <label class="checkbox inline">
          <%= check_box_tag :interface, '1', @user.has_role?(:interface) %>
          销售部联络人
        </label>
      </div>
      <div class="controls">
        <label class="checkbox inline">
          <%= check_box_tag :stock_admin, '1', @user.has_role?(:stock_admin) %>
          仓库管理
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="">状态：</label>
      <div class="controls">
        <select class="width_auto" id='user_active' name="user[active]">
          <option value='1'
          <% if @user.active == true %>
          selected
          <% end %>>生效</option>
          <option value='0'
          <% if @user.active == false %>
          selected
          <% end %>>禁用</option>
        </select>
      </div>
    </div>
  </fieldset>


  <div class="form-actions">
     <%= f.button :submit, :value => "保存", class: "btn btn-primary edit"%>
  </div>
<% end %>