<fieldset class="add_unit">
  <div class="control-group">
    <% if @user.new_record? %>
    <%= f.input :username,:label => "用户名",:class => 'input-xlarge' %>
    <% else %>
    <label class="string required control-label"></abbr> 用户名：</label>
    <div class="controls"><%= @user.username %></div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.input :name, :label => "姓名：", class: 'input-xlarge' %>
  </div>
  <div class="control-group">
    <%= f.input :email, :label => "邮箱：", class: 'input-xlarge' %>
  </div>
  <div class="control-group">
    <%= f.input :phone, :label => "手机：", class: 'input-xlarge' %>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="">角色：</label>
    <% @roles.each do |role| %>
    <div class="controls">
      <label class="checkbox">
        <%= check_box_tag "user[role_ids][]",role.id,@user.role_ids.try(:include?,role.id) %>
        <%= role.name %>
      </label>
    </div>
    <% end %>
  </div>

  <div class="control-group">
    <label class="control-label" for="">状态：</label>
    <div class="controls">
      <%= f.select :active,[["生效",true],["禁用",false]],:clsas => "width_auto" %>
    </div>
  </div>

</fieldset>
<fieldset class="add_unit">
  <div class="control-group">
    <%= f.input :password, :label => "密码：", class: 'input-xlarge' %>
  </div>

  <div class="control-group">
    <%= f.input :password_confirmation, :label => "确认密码：", class: 'input-xlarge' %>
  </div>
</fieldset>
  
<div class="form-actions">
  <%= f.button :submit, :value => "保存", class: "btn btn-primary edit"%>
</div>