<div class="container-fluid">
  <header class="jumbotron subhead" id="overview">
    
  </header>
  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li><a href="/">Magic</a><span class="divider">/</span></li>
      <li><a href="/users">系统设置</a><span class="divider">/</span></li>
      <li><a href="/users">用户管理</a><span class="divider">/</span></li>
      <li><a href="/users"><%=current_user.name%></a><span class="divider">/</span></li>
      <li class="active">编辑</li>
    </ul><!-- breadcrumb -->

    <%= simple_form_for @user,:url => user_path(@user,:from_path => "edit_with_role"), html: {:class =>'well form-horizontal'} do |f| %>
    
    <fieldset class="form-inline mar_b15">
      <%= f.label :name,"用户名:"%>
      <%= @user.name %>
    </fieldset>
    
      <%= render :partial => 'edit_roles',:locals => {:f => f} %>

      <div class="form-actions">
         <input type='hidden' name="ac" value="<%= params[:ac] ? params[:ac] : params[:action] %>"/>
         <%= f.button :submit, :value => "保存", class: "btn btn-primary edit"%>
      </div>
    <% end %>
  </div>
</div>

