<div class="container-fluid">
  <div class="row-fluid">
    <%= render partial: "layouts/setting_nav" %>
    <div class="span10">
       <ul class="nav nav-tabs">
          <li class="active"><a href="/users">用户</a></li>
          <li><a href="/users/roles">角色</a></li>
          <li><a href="/users/limits">权限</a></li>
        </ul><!-- nav-tabs -->
        <div class="tab-content">
        <div class="tab-pane active" id="users">
        <%= form_tag search_users_path, :class=>"well well-small form-horizontal font12" do %>
          <fieldset>
            <div class="controls pull-left">
              <%=select_tag "where_name", options_for_select([["用户名","username"],["姓名","name"],["邮箱","email"]]), :value => "#{params[:where_name]}" %>

              <div class="input-append">
                <%= text_field_tag "keyword", '',:value => "#{params[:keyword] if params[:keyword]}", :class => "input-medium radius_no_tl", :placeholder => "输入关键字..."%>
                <%= button_tag "过滤", :class => "btn btn-small btn-info" %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <%= form_tag edit_with_role_users_path,:method => :get,:id => "edit_user" do %>
        <div class="btn-toolbar">
          <div class="btn-group">
            <button class="btn btn-warning">操作</button>
            <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a id="user_edit" href="javascript:$('#edit_user').submit()">编辑</a></li>
              <li><a id="delete_users">删除</a></li>
              <li><a id="unlock_users">开启</a></li>
              <li><a id="lock_users">禁用</a></li>
            </ul>
          </div><!-- btn-group -->
          <div class="btn-group">
            <a href="/users/new" data-toggle="modal" class="btn btn-warning">新增用户</a>
          </div><!-- btn-group -->
        </div><!-- btn-groups end -->

        <table class="table table-hover table-bordered table-striped table-condensed js-table">
          <thead>
            <tr>
              <th width="1%"><input type="checkbox"></th>
              <th width="10%">用户名</th>
              <th width="15%">角色</th>
              <th width="25%">手机</th>
              <th width="25%">邮箱</th>
              <th width="10%">姓名</th>
              <th width="10%">状态</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><input type="checkbox" value="<%= user.id %>" name="user_id"></td>  
              <td><%= user.username %></td>
              <td><%= user.present_roles %></td>
              <td><%= user.phone %></td>
              <td><%= user.email %></td>
              <td><%= user.name %></td>
              <td><%= user.status %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div></div>
      <%= paginate @users %>
    </div>
  </div>
</div>
