<body class='whiteSmoke_bg'>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to image_tag("logo.png"), 'javascript:void(0)', class: 'brand' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid start_key">
    <div class="row-fluid">
      <h4 class="pagination-centered start_tit">亲,赶快设置店铺的管理员信息吧,其他信息可在"商户编辑"里修改.</h4>
      <ul class="unstyled pagination-centered clearfix start_tips start_tips1">
        <li class="active pull-left" style="width:25%;">管理员设置</li>
        <li class="pull-left" style="width:27%;">店铺初始化</li>
        <li class="pull-left" style="width:25%;">店铺功能设置</li>
        <li class="pull-left" style="width:20%;">店铺帐号设置</li>
      </ul>
      <%= form_for @user||User.new, url: account_setup_path, method: :put, html: { class: 'form-horizontal start_form1'} do |f| %>
        <div class="clearfix">
          <div class="well span8 offset2">
            <div class="clearfix <%= 'control-group error' if @user.present? && @user.errors[:email].present? %>">
              <label class="offset1 form-inline pull-left" for="Email">
                <i class="icon-envelope_key icon-keystart pull-left"></i>
                <%= f.text_field :email, class: "input-xlarge", placeholder: "邮箱，如example@doorder.com"%>
              </label>
              <small class="muted control-group error">
                <strong class="text-warning">＊</strong>
                <%- if @user.present? && @user.errors[:email].present? %>
                  <%= @user.errors[:email].first %>
                <%- else -%>
                  系统将为您自动生成密码，并发送到您的邮箱中，请确保您的邮箱正确。
                <%- end -%>
              </small>
            </div>
            <div class="clearfix <%= 'control-group error' if @user.present? && @user.errors[:phone].present? %>">
              <label class="offset1 form-inline pull-left" for="phone">
                <i class="icon-phone_key icon-keystart pull-left"></i>
                <%= f.text_field :phone, class: "input-xlarge", placeholder: "11位有效手机号码"%>
              </label>
              <small class="muted">
                <strong class="text-warning">＊</strong>
                <%- if @user.present? && @user.errors[:phone].present? %>
                  <%= @user.errors[:phone].first %>
                <%- else -%>
                  请输入有效的手机号码
                <%- end -%>
              </small>
            </div>
            <div class="clearfix <%= 'control-group error' if @user.present? && @user.errors[:username].present? %>">
              <label class="offset1 form-inline pull-left" for="name">
                <i class="icon-user_key icon-keystart pull-left"></i>
                <%= f.text_field :username, class: "input-xlarge", placeholder: "用户名就是你的登录名哦."%>
              </label>
              <small class="muted">
                <strong class="text-warning">＊</strong>
                <%- if @user.present? && @user.errors[:username].present? %>
                  <%= @user.errors[:username].first %>
                <%- else -%>
                  填写4-9位数字或者字母
                <%- end -%>
               </small>
            </div>
          </div>
        </div>
        <div class="pagination-centered">
          <%= f.submit '下一步', :name => "next_step", :class => "btn" %>
          <%= f.submit '立即使用', :name => "init_finished", :class => "btn btn-success" %>
        </div>
      <%- end -%>
    </div>
  </div>
</body>