<body class='whiteSmoke_bg'>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to image_tag("logo.png"), 'javascript:void(0)', class: 'brand' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid start_key">
    <div class="row-fluid">
      <h4 class="pagination-centered start_tit">亲，您的店铺数据正在抓取中，请耐心等候！直接跳过不会影响数据抓取哦。</h4>
      <ul class="unstyled pagination-centered clearfix start_tips start_tips2">
        <li class="pull-left" style="width:25%;">管理员设置</li>
        <li class="active pull-left" style="width:27%;">店铺初始化</li>
        <li class="pull-left" style="width:25%;">店铺功能设置</li>
        <li class="pull-left" style="width:20%;">店铺帐号设置</li>
      </ul>

      <%= simple_form_for User.new, url: account_setup_path, method: :put, html: { class: 'form-horizontal start_form2'} do |f| %>
        <div class="clearfix">
          <div class="well span8 offset2">
            <div class="clearfix">
              <label for="" class="pull-left">正在导入店铺订单：</label>
              <div class="progress btn-primary progress-striped span9">
                <div class="bar" style="width: 1%;" data-left="1"  data-interval="10"></div>
              </div>
            </div>
            <div class="clearfix">
              <label for="" class="pull-left">正在配置商品分类：</label>
              <div class="progress progress-info progress-striped span9">
                <div class="bar" style="width: 1%;" data-left="1" data-interval="1"
></div>
              </div>
            </div>
            <div class="clearfix">
              <label for="" class="pull-left">正在导入店铺商品：</label>
              <div class="progress progress-success progress-striped span9">
                <div class="bar" style="width: 1%;" data-left="1" data-interval="7"></div>
              </div>
            </div>
            <div class="clearfix">
              <label for="" class="pull-left">正在导入店铺库存：</label>
              <div class="progress progress-warning progress-striped span9">
                <div class="bar" style="width: 1%;" data-left="1"  data-interval="5"></div>
              </div>
            </div>
            <div class="clearfix">
              <label for="" class="pull-left">正在配置物流信息：</label>
              <div class="progress progress-danger progress-striped span9">
                <div class="bar" style="width: 1%;" data-left="1"  data-interval="3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-centered">
          <%= f.button :submit, '下一步', :id => "btn-next-step", :name => "next-step", :class => "btn", :disabled =>"disabled" %>
          <%= f.button :submit, ' 跳过 ', :name => "skip-step", :class => "btn btn-success" %>
        </div>
      <%- end -%>
    </div>
  </div>
  <div id="run_times" style="display:none;">0</div>
  <button id="js-data-start" style="display:none;"></button>
</body>
<%= javascript_include_tag "account_setup" %>
<% content_for :tail do -%>
  <script type="text/javascript">
    $(function(){
      AccountSetup.bindEvents();

      $("#js-data-start").click(function(){
        $(".progress .bar").each(function(){
          var bar = $(this);
          $(this).data("timer", setInterval(function(){
            var run_times = parseInt($("div#run_times").html());
            var bar_interval = parseInt(bar.data("interval"));
            var left = bar.data("left");
            if(left == null) left = 0;
            console.log("bar_interval:"+bar_interval+"run_times"+run_times);
            if(run_times%bar_interval == 0){
              if((bar_interval == 10 && left < 98) || (bar_interval < 10 && left < 100)){
                left += 1;
                bar.css("width",left+"%");
                bar.data("left",left);
              }
            }
          },2000));
        })
      }).click();
    });
   </script>
<% end %>
