<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav affix span2">
        <!-- <li><a href="#start"><i class="icon-chevron-right"></i> 一键开始</a></li> -->
        <li class="active">
          <a href="#" class="" data-toggle="collapse" data-target="#autoset_menu"><i class="icon-chevron-right"></i>自动化设置</a>
            <ul id="autoset_menu" class="collapse in">
              <li class="active"><a href="#">订单自动预处理</a></li>
              <li class=""><a href="#auto_dispatch_frame">订单自动分派</a></li>
              <li class=""><a href="#auto_deliver_frame">订单自动发货</a></li>
            </ul>
        </li>
        <!-- <li><a href="#"><i class="icon-chevron-right"></i> 用户管理</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> 物流运费管理</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> 基础数据管理</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> 密码修改</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i> 系统偏好设置</a></li> -->
      </ul>
    </div>
    <div class="span10">
      <ul class="nav nav-tabs js-nav_tabs">
        <li class="active"><a href="#shop_style" data-toggle="tab">自动化设置</a></li>
        <!-- <li><a href="#import_way" data-toggle="tab">选择商品导入方式</a></li>
        <li><a href="#new_way" data-toggle="tab">选择库存新建方式</a></li>
        <li><a href="#default_logistics" data-toggle="tab">选择默认物流商</a></li>
        <li><a href="#autobusiness_set" data-toggle="tab">自动化业务设置</a></li>
        <li><a href="#login_user_set" data-toggle="tab">设置系统登录用户</a></li> -->
      </ul><!-- nav-tabs -->

      <div class="tab-content">
        <div class="tab-pane active" id="shop_style">
          <%= form_tag('/account_setups/update_auto_settings', class: 'form-horizontal', method: 'put') do -%>
            <fieldset id="auto_preprocess_frame"><!-- 订单预处理 beginning -->
              <h4 style="margin-left:140px;">订单预处理设置：</h4>
              <div class="controls">
                <p class="clear">
                  <label class="input-large pull-left">请选择自动预处理时间范围：</label>
                  <input type="text" class="input-mini timepickers radius_no_rb" name="auto_settings[start_preprocess_at]" value="<%= @setting['start_preprocess_at']%>">
                  <i class="icon-arrow-right"></i>
                  <input type="text" class="input-mini timepickers radius_no_rb" name="auto_settings[end_preprocess_at]" value="<%= @setting['end_preprocess_at']%>">
                  <span class="muted">(不选择默认为全天开启)</span>
                </p>
              </div>
              <div class="controls">
                <label class="input-large pull-left">自动拆分：</label>
                <div class="controls ml210">
                  <div class="control-group">
                    <label class="radio pull-left input-small">
                      <input type="radio" name="auto_settings[auto_split]" <%='checked' if @setting['auto_split'] == 1 %>>开启
                    </label>
                    <!-- <div class="controls">
                      <p class="mt2">请选择所需功能：</p>
                      <div class="control-group">
                        <label class="checkbox">
                          <input type="checkbox" name="auto_settings[split_conditions][split_non_stock_trade]" <%= 'checked' if @setting['split_conditions']['split_non_stock_trade'] == 1 %>>统一订单，自动将无库存商品拆分
                        </label>
                      </div>
                      <div class="control-group">
                        <label class="checkbox">
                          <input type="checkbox" name="auto_settings[split_conditions][split_seperate_stock_trade]" <%- if @setting['split_conditions']['split_seperate_stock_trade'] == 1 %> checked="checked" <%- end %>>统一订单，若商品在不同仓库拆分
                        </label>
                      </div>
                    </div> -->
                  </div>
                  <div class="control-group">
                    <label class="radio pull-left input-small">
                      <input type="radio" value="0" name="auto_settings[auto_split]" <%='checked' if @setting['auto_split'].present? == false %>>关闭
                    </label>
                    <div class="controls">
                      <p class="mt2">需要客服在系统内操作按钮“拆分”，订单状态才会按照自动拆分规则进行拆分</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="controls">
                <label class="input-large pull-left">自动合并：</label>
                <div class="controls ml210">
                  <div class="control-group">
                    <label class="radio pull-left input-small">
                      <input type="radio" name="auto_settings[auto_recover]" <%='checked' if @setting['auto_recover'] == 1 %>>开启
                    </label>
                    <div class="controls">
                      <p class="mt2">当订单的状态，订单的收货人姓名，订单收货人联系方式，订单发货地址相同的情况下</p>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="radio pull-left input-small">
                      <input type="radio" value="0" name="auto_settings[auto_recover]" <%='checked' if @setting['auto_recover'].present? == false %>>关闭
                    </label>
                    <div class="controls">
                      <p class="mt2">需要客服在系统内操作按钮“合并”，订单状态才会按照自动拆分规则进行合并</p>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="controls">
                <label class="input-large pull-left">自动同步备注：</label>
                <div class="controls ml210">
                  <div class="control-group">
                    <label class="radio pull-left input-small">
                      <input type="radio" name="auto_settings[auto_sync_memo]" <%='checked' if @setting['auto_sync_memo'] == 1 %>>开启
                    </label>
                    <div class="controls">
                      <p class="mt2">将淘宝的顾客备注，同步到系统中的客服备注</p>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="radio pull-left input-small">
                      <input type="radio" value="0" value="0" name="auto_settings[auto_sync_memo]" <%='checked' if @setting['auto_sync_memo'].present? == false %>>关闭
                    </label>
                    <div class="controls">
                      <p class="mt2">系统不会将淘宝备注，同步到系统的客服备注中</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="controls">
                <label class="input-large pull-left">自动标注异常订单：</label>
                <div class="controls ml210">
                  <div class="control-group">
                    <label class="radio pull-left input-small">
                      <input type="radio" name="auto_settings[auto_mark_unusual_trade]" <%='checked' if @setting['auto_mark_unusual_trade'] == 1 %>>开启
                    </label>
                    <div class="controls">
                      <p class="mt2">满足以下被勾选的条件的订单，将被自动标记为异常订单</p>
                      <table class="table table-condensed noborder">
                        <thead>
                          <tr>
                            <th>订单状态异常</th>
                            <!-- <th>订单金额异常</th> -->
                            <!-- <th>订单备注异常</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <input type="checkbox" class="pull-left" style="margin-top:4px;" name="auto_settings[unusual_conditions][unusual_waitpay]" <%= 'checked' if @setting['unusual_conditions']['unusual_waitpay'] == 1 %>>当订单已下单，超过
                                <select name="auto_settings[unusual_conditions][max_unpay_days]" class="input-mini">
                                  <% (1..7).each do |i| %>
                                  <option value= "<%= i %>" <%= 'selected' if @setting['unusual_conditions']["max_unpay_days"] == i.to_s %>><%= i %></option>
                                  <% end %>
                                </select>天未付款
                                <!-- <input type="text" name="auto_settings[unusual_conditions][max_unpay_days]" class="input-mini" value="<%= @setting['unusual_conditions']['max_unpay_days']%>"/> -->
                            </td>
                            <!-- <td>
                              <input type="checkbox" class="pull-left" style="margin-top:4px;" name="auto_settings[unusual_conditions][unusual_payment]" <%= 'checked' if @setting['unusual_conditions']['unusual_payment'] == 1 %>>当订单的实付金额小于订单总金额
                                <input type="text" name="auto_settings[unusual_conditions][unusual_payment_rate]" class="input-mini" value="<%= @setting['unusual_conditions']['unusual_payment_rate']%>"/>%
                            </td> -->
                            <!-- <td>
                              <input type="checkbox" class="pull-left" style="margin-top:4px;" name="auto_settings[unusual_conditions][unusual_memo]" <%= 'checked' if @setting['unusual_conditions']['unusual_memo'] == 1 %>>当订单备注中有
                                <input type="text" name="auto_settings[unusual_conditions][unusual_memo_text]" class="input-  mini" value="<%= @setting['unusual_conditions']['unusual_memo_text']%>"/>文字时
                            </td> -->
                          </tr>
                          <tr>
                            <td>
                              <input type="checkbox" class="pull-left" style="margin-top:4px;" name="auto_settings[unusual_conditions][unusual_dispatch]" <%= 'checked' if @setting['unusual_conditions']['unusual_dispatch'] == 1 %>>当订单已付款，超过
                                <select name="auto_settings[unusual_conditions][max_undispatch_days]" class="input-mini">
                                  <% (1..7).each do |i| %>
                                  <option value= "<%= i %>" <%= 'selected' if @setting['unusual_conditions']["max_undispatch_days"] == i.to_s %>><%= i %></option>
                                  <% end %>
                                </select>天未分流
                                <!-- <input type="text" class="input-mini" name="auto_settings[unusual_conditions][max_undispatch_days]" value="<%= @setting['unusual_conditions']['max_undispatch_days']%>"/> -->
                            </td>
                            <!-- <td></td> -->
                            <!-- <td></td> -->
                          </tr>
                          <tr>
                            <td>
                              <input type="checkbox" class="pull-left" style="margin-top:4px;" name="auto_settings[unusual_conditions][unusual_deliver]" <%= 'checked' if @setting['unusual_conditions']['unusual_deliver'] == 1 %>>当订单已分流，超过
                                <select name="auto_settings[unusual_conditions][max_undeliver_days]" class="input-mini">
                                  <% (1..7).each do |i| %>
                                  <option value= "<%= i %>" <%= 'selected' if @setting['unusual_conditions']["max_undeliver_days"] == i.to_s %>><%= i %></option>
                                  <% end %>
                                </select>天未发货
                                <!-- <input type="text" name="auto_settings[unusual_conditions][max_undeliver_days]" class="input-mini" value="<%= @setting['unusual_conditions']['max_undeliver_days']%>"/> -->
                            </td>
                            <!-- <td>
                              <input type="checkbox" class="pull-left" style="margin-top:4px;" name="auto_settings[unusual_conditions][has_refund]" <%= 'checked' if @setting['unusual_conditions']['has_refund'] == 1 %>>当订单有退款或者部分退款
                            </td> -->
                            <!-- <td></td> -->
                          </tr>
                          <tr>
                            <td>
                              <input type="checkbox" class="pull-left" style="margin-top:4px;" name="auto_settings[unusual_conditions][unusual_receive]" <%= 'checked' if @setting['unusual_conditions']['unusual_receive'] == 1 %>>当订单已发货，超过
                                <select name="auto_settings[unusual_conditions][max_unreceived_days]" class="input-mini">
                                  <% 7.downto(1) do |i| %>
                                  <option value= "<%= i %>" <%= 'selected' if @setting['unusual_conditions']["max_unreceived_days"] == i.to_s %>><%= i %></option>
                                  <% end %>
                                </select>天未实际收货
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="checkbox" class="pull-left" style="margin-top:4px;" name="auto_settings[unusual_conditions][unusual_repair]" <%= 'checked' if @setting['unusual_conditions']['unusual_repair'] == 1 %>>当订单已标记，超过
                                <select name="auto_settings[unusual_conditions][max_unrepaired_days]" class="input-mini">
                                  <% (1..7).each do |i| %>
                                  <option value= "<%= i %>" <%= 'selected' if @setting['unusual_conditions']["max_unrepaired_days"] == i.to_s %>><%= i %></option>
                                  <% end %>
                                </select>天未处理异常
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="radio pull-left input-small">
                      <input type="radio" value="0" name="auto_settings[auto_mark_unusual_trade]" <%='checked' if @setting['auto_mark_unusual_trade'].present? == false %>>关闭
                    </label>
                    <div class="controls">
                      <p class="mt2">需要客服在系统内操作按钮“标注异常”，订单状将出现在异常中心中</p>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset id="auto_dispatch_frame"><!-- 订单自动分派 beginning -->
              <h4 style="margin-left:140px;">订单自动分派设置：</h4>
              <div class="controls">
                <div class="control-group">
                  <label class="radio pull-left input-small">
                    <input type="radio" name="auto_settings[auto_dispatch]" <%='checked' if @setting['auto_dispatch'] == 1 %>>开启
                  </label>
                  <label class="radio">
                    <input type="radio" value="0" name="auto_settings[auto_dispatch]" <%='checked' if @setting['auto_dispatch'].present? == false %>>关闭
                  </label>
                  <p class="clear">
                    <label class="input-large pull-left">请输入自动分派时间范围：</label>
                    <input type="text" class="input-mini timepickers radius_no_rb" name="auto_settings[start_dispatch_at]" value="<%= @setting['start_dispatch_at']%>">
                    <i class="icon-arrow-right"></i>
                    <input type="text" class="input-mini timepickers radius_no_rb" name="auto_settings[end_dispatch_at]" value="<%= @setting['end_dispatch_at']%>">
                    <span class="muted">(不选择默认为全天开启)</span>
                  </p>
                  <!-- <p class="clear">
                    <label class="input-large pull-left">请输入每次分派数量：</label>
                    <div class="controls">
                       <input type="text" class="input-small" name="auto_settings[one_dispatch_num]" value="<%= @setting['one_dispatch_num']%>">单
                      <span class="muted">（数量不限制）</span>
                    </div>
                  </p>
                  <p class="clear">
                    <label class="input-large pull-left">请输入每次分派间隔时间：</label>
                    <div class="controls">
                      <input type="text" class="input-small" name="auto_settings[dispatch_frequency]" value="<%= @setting['dispatch_frequency']%>">分钟
                      <span class="muted">（时间是实时）</span>
                    </div>
                  </p> -->
                </div>
              </div>
              <div class="controls">
                <label class="input-large pull-left">自动分派条件：</label>
                <div class="controls ml210">
                  <div class="control-group">
                    <!-- <label class="checkbox">
                      <input type="checkbox" name="">
                      <select class="input-medium">
                        <option>已分流，未发货</option>
                      </select>
                    </label> -->
                    <label class="checkbox">
                      <input type="checkbox" name="auto_settings[dispatch_conditions][void_seller_memo]" <%= 'checked' if @setting['dispatch_conditions']['void_seller_memo'] == 1 %>>卖家无留言
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" name="auto_settings[dispatch_conditions][void_buyer_message]" <%= 'checked' if @setting['dispatch_conditions']['void_buyer_message'] == 1 %>>买家无留言
                    </label>
                    <!-- <label class="checkbox">
                      <input type="checkbox" name="auto_settings[dispatch_conditions][is_inactive_trade]" <%= 'checked' if @setting['dispatch_conditions']['is_inactive_trade'] == 1 %>>订单为非活动订单
                    </label>
                    <label class="checkbox">
                      <input type="checkbox" name="auto_settings[dispatch_conditions][audited_trade]" <%= 'checked' if @setting['dispatch_conditions']['audited_trade'] == 1 %>>订单为已审单过的订单
                    </label> -->
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset id="auto_deliver_frame"><!-- 订单自动发货 beginning -->
              <h4 style="margin-left:140px;">订单自动发货设置：</h4>
              <div class="controls">
                <div class="control-group">
                  <label class="radio pull-left input-small">
                    <input type="radio" name="auto_settings[auto_deliver]" <%='checked' if @setting['auto_deliver'] == 1 %>>开启
                  </label>
                  <label class="radio">
                    <input type="radio" value="0" name="auto_settings[auto_deliver]" <%='checked' if @setting['auto_deliver'].present? == false %>>关闭
                  </label>
                  <p class="clear">
                    <label class="input-large pull-left">请输入自动发货时间范围：</label>
                    <input type="text" class="input-mini timepickers radius_no_rb" name="auto_settings[start_deliver_at]" value="<%= @setting['start_deliver_at']%>">
                    <i class="icon-arrow-right"></i>
                    <input type="text" class="input-mini timepickers radius_no_rb" name="auto_settings[end_deliver_at]" value="<%= @setting['end_deliver_at']%>">
                    <span class="muted">(不选择默认为全天开启)</span>
                  </p>
                  <!-- <p class="clear">
                    <label class="input-large pull-left">请输入每次发货数量：</label>
                    <div class="controls">
                      <input type="text" class="input-small" name="auto_settings[one_deliver_num]" value="<%= @setting['one_deliver_num']%>">单
                      <span class="muted">（数量不限制）</span>
                    </div>
                  </p>
                  <p class="clear">
                    <label class="input-large pull-left">请输入每次发货间隔时间：</label>
                    <div class="controls">
                      <input type="text" class="input-small" name="auto_settings[deliver_frequency]" value="<%= @setting['deliver_frequency']%>">分钟
                      <span class="muted">（时间是实时）</span>
                    </div>
                  </p> -->
                </div>
              </div>
              <div class="controls">
                <label class="input-large pull-left">自动发货条件：</label>
                <div class="controls ml210">
                  <div class="control-group">
                    <select name="auto_settings[deliver_condition]" class="input-large">
                      <option value= "dispatched_trade" <%= 'selected' if @setting['deliver_condition'] == 'dispatched_trade' %>>订单分派时自动发货</option>
                      <option value= "deliver_bill_printed_trade" <%= 'selected' if @setting['deliver_condition'] == 'deliver_bill_printed_trade' %>>打印发货单时自动发货</option>
                      <option value= "logistic_bill_printed_trade" <%= 'selected' if @setting['deliver_condition'] == 'logistic_bill_printed_trade' %>>打印物流单时自动发货</option>
                      <option value= "has_logistic_waybill_trade" <%= 'selected' if @setting['deliver_condition'] == 'has_logistic_waybill_trade' %>>返回物流单号时自动发货</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="controls">
                <button class="btn" type="submit">保存</button>
              </div>
            </fieldset>
          <% end %>
        </div>
        <!-- <div class="tab-pane" id="import_way">
          2
        </div> --><!-- import_way end -->

        <!-- <div class="tab-pane" id="new_way">
          3
        </div> --><!-- new_way end -->

        <!-- <div class="tab-pane" id="default_logistics">
          4
        </div> --><!-- default_logistics end -->
        <!-- <div class="tab-pane" id="autobusiness_set">
          5
        </div> --><!-- autobusiness_set end -->
        <!-- <div class="tab-pane" id="login_user_set">
          6
        </div> --><!-- login_user_set end -->
      </div><!-- tab-content end -->
    </div>
  </div>
</div>