<%= render 'crumbs' %>

<div class="row-fluid">
  <div class="span10 w100">

    <%= render 'nav_tabs' %>

    <div class="tab-content">
      <div class="tab-pane active" id="deliver_settings">
        <%= form_tag('/account_setups/update_deliver_settings', class: 'form-horizontal', method: 'put') do -%>
          <fieldset class="mar_l80"><!-- 订单自动发货 beginning -->
            <h4>订单自动发货设置：</h4>
            <div class="mar_l80">
              <div class="control-group">
                <%= @setting.block_dual_radio('auto_deliver') %>
                <%= @setting.block_time_range(['start_deliver_at'], ['end_deliver_at'])%>
              </div>
              <div>
                <%= @setting.block_label_select([0,1,2,6,12,24,48,72].collect{|i| i.to_s }, ["deliver_silent_gap"], "请选择自动发货静默时间：", "小时") %>
                <%= @setting.block_label_select([["返回物流单号时自动发货", "has_logistic_waybill_trade"]], ["deliver_condition"], "自动发货条件：") %>
              </div>
            </div>
          </fieldset>
          <div class="pagination-centered mar_t30">
            <button id="auto_settings_button" class="btn btn-primary" type="submit">保存</button>
          </div>
        <% end %>
      </div>
    </div><!-- tab-content end -->
  </div>
</div>