<%= render 'crumbs' %>

<div class="row-fluid">
  <div class="span10 w100">

    <%= render 'nav_tabs' %>

    <div class="tab-content">
      <div class="tab-pane active" id="dispatch_settings">
        <%= form_tag('/account_setups/update_dispatch_settings', class: 'form-horizontal', method: 'put') do -%>
          <fieldset class="mar_l80"><!-- 订单自动分派 beginning -->
              <h4>订单自动分派设置：</h4>
              <div class="mar_l80">
                <div class="control-group">
                  <%= @setting.block_dual_radio('auto_dispatch') %>
                  <%= @setting.block_time_range(['start_dispatch_at'], ['end_dispatch_at'])%>
                </div>
                <div>
                  <%= @setting.block_label_select([0,1,2,6,12,24,48,72].collect{|i| i.to_s }, ["dispatch_silent_gap"], "请选择自动分派静默时间：", "小时") %>
                </div>
              </div>
              <div class="mar_l80">
                <label class="input-large pull-left">自动分派条件：</label>
                <div class="controls ml210">
                  <div class="control-group">
                    <%= @setting.block_label_checkbox(["dispatch_conditions", "void_seller_memo"], "卖家无留言")%>
                    <%= @setting.block_label_checkbox(["dispatch_conditions", "void_buyer_message"], "买家无留言")%>
                    <%= @setting.block_label_checkbox(["dispatch_conditions", "void_cs_memo"], "客服无备注")%>
                    <%= @setting.block_label_checkbox(["dispatch_conditions", "void_money"], "订单未退款")%>
                    <%= @setting.block_check_input([["dispatch_conditions", "special_sku"], ["dispatch_conditions", "special_sku_content"]], "订单全部商品SKU为：")%>
                  </div>
                </div>
              </div>
          </fieldset>
          <div class="pagination-centered mar_t30">
            <button id="auto_settings_button" class="btn btn-primary" type="submit">保存</button>
          </div>
        <% end %>
      </div>
    </div><!-- tab-content end -->
  </div>
</div>