<%= render 'crumbs' %>

<div class="row-fluid">
  <div class="span10 w100">

    <%= render 'nav_tabs' %>

    <div class="tab-content">
      <div class="tab-pane active" id="users">
        <%= form_tag('/account_setups/update_preprocess_settings', class: 'form-horizontal', method: 'put') do -%>
            <fieldset class="mar_l80"><!-- 订单自动预处理 beginning -->
              <h4>订单自动预处理设置：</h4>
              <div>
                <%= @setting.block_time_range(['start_preprocess_at'], ['end_preprocess_at'])%>
              </div>
              <div>
                <label class="input-large pull-left">同步买家备注至客服备注：</label>
                <div class="controls ml210">
                  <div class="control-group">
                    <%= @setting.block_dual_radio('auto_sync_memo') %>
                  </div>
                </div>
              </div>
              <div>
                <%= @setting.block_label_select([24,48,72].collect{|i| i.to_s }, ["preprocess_silent_gap"], "请选择自动标注异常静默时间：", "小时") %>
              </div>
              <div>
                <label class="input-large pull-left">自动标注异常订单：</label>
                <div class="controls ml210">
                  <div class="control-group">
                    <%= @setting.block_dual_radio('auto_mark_unusual_trade') %>
                  </div>
                  <p class="mt2 muted">满足以下被勾选的条件的订单，将被自动标记为异常订单(默认一天标注一次)</p>
                  <%= @setting.block_check_select((1..7).collect{|i| i.to_s }, [['unusual_conditions', 'unusual_waitpay'],['unusual_conditions', 'max_unpaid_days']], "当订单已下单，超过", "天未付款")%>
                  <%= @setting.block_check_select((1..7).collect{|i| i.to_s }, [['unusual_conditions', 'unusual_dispatch'],['unusual_conditions', 'max_undispatched_days']], "当订单已付款，超过", "天未分派")%>
                  <%= @setting.block_check_select((1..7).collect{|i| i.to_s }, [['unusual_conditions', 'unusual_deliver'],['unusual_conditions', 'max_undelivered_days']], "当订单已分派，超过", "天未发货")%>
                  <%= @setting.block_check_select(7.downto(1).collect{|i| i.to_s }, [['unusual_conditions', 'unusual_receive'],['unusual_conditions', 'max_unreceived_days']], "当订单已发货，超过", "天未实际收货")%>
                  <%= @setting.block_check_select((1..7).collect{|i| i.to_s }, [['unusual_conditions', 'unusual_repair'],['unusual_conditions', 'max_unrepaired_days']], "当订单已标记，超过", "天未付款")%>
                </div>
              </div>
            </fieldset>
            <div class="pagination-centered mar_t30">
              <button id="auto_settings_button" class="btn btn-primary" type="submit">保存</button>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>