<div class="container-fluid">
  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li><a href="/">Magic</a><span class="divider">/</span></li>
      <li><a href="/sales/summary">数据魔方</a><span class="divider">/</span></li>
      <li class="active">报表下载</li>
    </ul><!-- breadcrumb -->

    <form ation="/trades_reports" class="well form-horizontal">
      <div class="control-group nomargin">
        <label class="control-label" for="">生成时间：</label>
        <div class="controls clearfix">
          <fieldset class="pull-left form-inline mar_r10">
              <input type="text" class="input-small datepickers" name="start_date" value="<%= @start_date %>">
              <input type="text" class="input-mini timepickers" name="start_time" value="<%= @start_time %> ">
              <i class="icon-arrow-right"></i>
              <input type="text" class="input-small datepickers"  name="end_date" value="<%= @end_date %>">
              <input type="text" class="input-mini timepickers" name="end_time" value="<%= @end_time %>">
          </fieldset>
            <button type="submit" class="btn btn-info">过滤</button>
        </div>
      </div>
    </form>


    <table class="table table-striped table-bordered mar_t10">
      <thead>
        <tr>
          <th>报表编号</th>
          <th>请求时间</th>
          <th>生成时间</th>
          <th>文件大小</th>
          <th>格式</th>
          <th>操作人</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% if @reports %>
          <% @reports.each do |report|%>
            <tr>
              <td><%= report.id %></td>
              <td><%= report.request_at.to_s(:db) %></td>
              <td><%= report.performed_time %></td>
              <td><%= report.size %></td>
              <td><%= report.ext_name %></td>
              <td><%= report.username %></td>
              <td><%= report.status %></td>
              <td>
                <div class="btn-group">
                  <%- if report.status == "可用" %>
                    <button data-toggle="dropdown" class="btn btn-info dropdown-toggle min_w"><i class="icon-wrench"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu" style=" min-width: 70px;left: -14px">
                      <li><a class="download_tips" data-toggle="modal" href="/trade_reports/<%= report.id %>/download">下载</a></li>
                    </ul>
                  <%- else %>
                    <button data-toggle="dropdown" class="btn btn-info dropdown-toggle min_w disabled"><i class="icon-wrench"></i> <span class="caret"></span></button>
                  <%-  end %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% if @reports %>
    <div class='clearfix'>
        <div class="pull-right" style="margin-left: 5px;margin-top: -2px;">
          <%= paginate @reports %>
        </div>
        <!-- <p></p> -->
        <%= form_tag("trade_reports", :method => "get", :class => 'pagination trade_count_info form-inline pull-right') do %>
        <input style="visibility:hidden;" name="page" value="<%= params[:page]%>"/>
        <label style="color:#005580;">当前每页显示：</label>
        <%=select_tag :number, options_for_select([["加载20项","20"],
                ["加载50项","50"],
                ["加载100项", "100"]], params[:number]),  :class => 'nomargin input-medium', :onchange => "this.form.submit();" %>
        <%- end -%>
      </div>
    <% end %>
  </div>
  <hr>
</div>