<% content_for :sub_nav do %>
  <ul class="nav nav-tabs js-nav_tabs">
    <li class="active"><a href="/yihaodian_products/<%= @product.id %>" data-toggle="tab"><%= @product.product_cname %></a></li>
  </ul><!-- nav-tabs -->
<% end %>
<form class="well form-horizontal info_check">
  <fieldset class="clearfix">
    <div class="w_48 pull-left">
      <div class="control-group">
        <label class="control-label" for=""><span class="atv">*</span><%= column_humanize "yihaodian_product.product_code" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.product_code %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><span class="atv">*</span><%= column_humanize "yihaodian_product.product_id" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.product_id %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><span class="atv">*</span><%= column_humanize "yihaodian_product.ean13" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.ean13 %></p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for=""><span class="atv">*</span><%= column_humanize "yihaodian_product.category_id" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.category_id %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><span class="atv">*</span><%= column_humanize "yihaodian_product.can_sale" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.can_sale_name %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><span class="atv">*</span><%= column_humanize "yihaodian_product.outer_id" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.outer_id %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><%= column_humanize "yihaodian_product.can_show" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.can_show? ? "是" : "否" %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><%= column_humanize "yihaodian_product.verify_flg" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.verify_flg_name %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><%= column_humanize "yihaodian_product.is_dup_audit" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.is_dup_audit_name %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><%= column_humanize "yihaodian_product.prod_img" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.prod_img %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><%= column_humanize "yihaodian_product.prod_detail_url" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.prod_detail_url %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><%= column_humanize "yihaodian_product.brand_id" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.brand_id %></p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for=""><%= column_humanize "yihaodian_product.merchant_category_id" %></label>
        <div class="controls">
          <p class="mar_t5"><%= @product.merchant_category_id %></p>
        </div>
      </div>
  </fieldset>

  <fieldset>
    <div class="form-actions">
      <a href="#" class="btn btn-info" onclick="javascript:window.history.go(-1);return false;">返回上一级</a>
    </div>
  </fieldset>
</form>