<p id="notice"><%= notice %></p>

<p>
  <b>Product code:</b>
  <%= @yihaodian_product.product_code %>
</p>

<p>
  <b>Product cname:</b>
  <%= @yihaodian_product.product_cname %>
</p>

<p>
  <b>Product:</b>
  <%= @yihaodian_product.product_id %>
</p>

<p>
  <b>Ean13:</b>
  <%= @yihaodian_product.ean13 %>
</p>

<p>
  <b>Category:</b>
  <%= @yihaodian_product.category_id %>
</p>

<p>
  <b>Can sale:</b>
  <%= @yihaodian_product.can_sale %>
</p>

<p>
  <b>Outer:</b>
  <%= @yihaodian_product.outer_id %>
</p>

<p>
  <b>Can show:</b>
  <%= @yihaodian_product.can_show %>
</p>

<p>
  <b>Verify flg:</b>
  <%= @yihaodian_product.verify_flg %>
</p>

<p>
  <b>Is dup audit:</b>
  <%= @yihaodian_product.is_dup_audit %>
</p>

<p>
  <b>Prod img:</b>
  <%= @yihaodian_product.prod_img %>
</p>

<p>
  <b>Prod detail url:</b>
  <%= @yihaodian_product.prod_detail_url %>
</p>

<p>
  <b>Brand:</b>
  <%= @yihaodian_product.brand_id %>
</p>

<p>
  <b>Merchant category:</b>
  <%= @yihaodian_product.merchant_category_id %>
</p>


<%= link_to 'Edit', edit_yihaodian_product_path(@yihaodian_product) %> |
<%= link_to 'Back', yihaodian_products_path %>
