<%#= render 'header' %>
<div class="row-fluid">

  <%= render 'select_time' %>

  <!-- <div class="controls clearfix">
    <div class="btns btn-group pull-left">
      <a href="#" class="btn btn-warning">导出数据</a>
    </div>
  </div> -->

  <div class="mar_t5">
    <ul class="nav nav-tabs reset_border nomargin" id="myTab_sub">
      <li class="active"><a href="#tab1" data-toggle="tab" id="success_rate_1">汇总</a></li>
      <li><a href="/callcenter/inquired_and_created" id="success_rate_2">询单->下单</a></li>
      <li><a href="/callcenter/created_and_paid" id="success_rate_3">下单->付款</a></li>
      <li><a href="/callcenter/followed_paid" id="success_rate_4">落实付款</a></li>
      <!--<li><a href="#tab5" data-toggle="tab" id="success_rate_5">协助服务</a></li> -->
    </ul>

    <div class="tab-content reset_border">
      <div class="tab-pane active" id="tab1">
        <div class="re_margin30">
          <div class="control-group chart_opts">
            <div class="controls chart_radio">
              <label class="radio inline">                   
                <input type="radio" checked="checked" value="daily_reply_count" name="chart_option">
                接待人数
              </label>
              <label class="radio inline">
                <input type="radio" value="daily_inquired_count" name="chart_option">
                询单人数
              </label>
              <label class="radio inline">
                <input type="radio" value="yesterday_created_count" name="chart_option">
                下单人数
              </label>
              <label class="radio inline">
                <input type="radio" value="daily_paid_count" name="chart_option">
                付款人数
              </label>
              <label class="radio inline">
                <input type="radio" value="yesterday_created_payment" name="chart_option">
                下单金额
              </label>
              <label class="radio inline">
                <input type="radio" value="daily_paid_payment" name="chart_option">
                付款金额
              </label>
              <label class="radio inline">
                <input type="radio" value="payment_percentage" name="chart_option">
                付款金额 %
              </label>
            </div>
          </div>

          <div id="chartdiv" style="width: 100%; height: 400px;"><h4>正在处理数据，请稍等...</h4></div>

          <table class="table table-striped table-bordered marginlr30 table-condensed td_colors chart_table">
            <thead>
              <tr>
                <th>昵称</th>
                <th>接待人数</th>
                <th>询单人数</th>
                <th>下单人数</th>
                <th>付款人数</th>
                <th>下单金额</th>
                <th>付款金额</th>
                <th>付款金额%</th>
              </tr>
            </thead>
            <tbody>
              <%- @members.each_with_index do |member, i|%>
                <tr id="member_<%= i+1 %>">
                  <%- p member %>
                  <td><%= member["_id"] %></td>
                  <td><%= member["value"]["daily_reply_count"].try(:to_i) %></td>
                  <td><%= member["value"]["daily_inquired_count"].try(:to_i) %></td>
                  <td><%= member["value"]["yesterday_created_count"].try(:to_i) %></td>
                  <td><%= member["value"]["daily_paid_count"].try(:to_i) %></td>
                  <td><%= member["value"]["yesterday_created_payment"] %></td>
                  <td><%= member["value"]["daily_paid_payment"] %></td>
                  <%- if @total_paid_payment && member["value"]["daily_paid_payment"] && @total_paid_payment != 0 %>
                  <td><%= (member["value"]["daily_paid_payment"]/@total_paid_payment*100).round(2) %>%</td>
                  <%- else %>
                  <td>0%</td>
                  <%- end %>
                </tr>
              <%- end %>
              <%- @total_info.each do |info| %>
              <tr>
                <td><%= info[0] %></td>
                <td><%= info[1] %></td>
                <td><%= info[2] %></td>
                <td><%= info[3] %></td>
                <td><%= info[4] %></td>
                <td><%= info[5] %></td>
                <td><%= info[6] %></td>
                <td></td>
              </tr>
              <%- end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div id="callcenter_tail">
  <%= render "tail" %>
<div>