<% content_for :tail do -%>
<script type="text/javascript">
  $(function() {
    MagicOrders.role_key = "trades";
    MagicOrders.company = "<%= current_account.key %>"
    MagicOrders.user = "<%= current_user.name %>"
    MagicOrders.current_user_seller_id = "<%= current_user.seller_id.to_i %>"
    MagicOrders.logistics = new MagicOrders.Collections.Logistics();
    MagicOrders.logistics.reset(<%= raw @logistics.to_json %>);
    MagicOrders.users = new MagicOrders.Collections.Users();
    MagicOrders.users.reset(<%= raw @users.to_json %>);
    MagicOrders.gifts = new MagicOrders.Collections.Products();
    MagicOrders.gifts.reset(<%= raw @gift_products.to_json %>);
    MagicOrders.deliver_bill_notice_info = "<%= current_account.settings.deliver_bill_notice_info %>"
    MagicOrders.enable_module_print_deliver_bill = <%= current_account.settings.enable_module_print_deliver_bill %>
    MagicOrders.enable_trade_deliver_bill_spliting = <%= current_account.settings.enable_trade_deliver_bill_spliting == true %>
    MagicOrders.enable_trade_deliver_bill_spliting_sellers = <%= current_account.settings.enable_trade_deliver_bill_spliting_sellers || [] %>
    MagicOrders.enable_module_colors = <%= current_account.settings.enable_module_colors %>
    MagicOrders.enable_module_sku_properties = <%= current_account.settings.enable_module_sku_properties %>
    MagicOrders.enable_module_interface = <%= current_account.settings.enable_module_interface %>
    MagicOrders.enable_module_onsite_service = <%= current_account.settings.enable_module_onsite_service %>
    
    MagicOrders.current_rolenames = <%= raw current_user.roles.map(&:name).to_json %>
    MagicOrders.trade_pops = <%= raw current_user.permissions.to_json %>
    MagicOrders.trade_modes = <%= raw current_account.settings.trade_modes.to_json %>
    MagicOrders.trade_cols_visible_modes = <%= raw current_account.settings.trade_cols_visible_modes.to_json %>
    MagicOrders.trade_cols = <%= raw current_account.settings.trade_cols.to_json %>
    MagicOrders.init();
  });
</script>
<% end -%>

<div class="row-fluid content" id="content">
  Loading...
</div>

<div id="trade_detail" class="trade modal fade hide" tabindex="-1" style="width: 890px; margin-left: -445px;"></div>
<div id="trade_seller" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_deliver" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_cs_memo" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_gift_memo" class="trade modal fade hide modal_w7" tabindex="-1"></div>
<div id="trade_color" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_color_info" class="trade modal fade hide" tabindex="-1" style="width: 890px; margin-left: -445px;"></div>
<div id="trade_invoice" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_invoice_number" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_seller_confirm_deliver" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_seller_confirm_invoice" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_barcode" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_mark_unusual_state" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_confirm_color" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_confirm_check_goods" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_operation_log" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_confirm_receive" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_logistic_memo" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_logistic_waybill" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_request_return" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_confirm_return" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_confirm_refund" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_modify_payment" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_splited" class="trade modal fade hide" tabindex="-1" style="width: 890px; margin-left: -445px;"></div>
<div id="trade_recover" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_logistic_split" class="trade modal fade hide" tabindex="-1" style="width: 890px;margin-left: -445px;"></div>
<div id="trade_manual_sms_or_email" class="trade modal fade hide" tabindex="-1"></div>
<div id="trade_batch_check_goods" class="trade modal fade hide" tabindex="-1" style="width: 890px;margin-left: -445px;"></div>

<!-- deliver_bill modal -->
<div id="deliver_bill_print_deliver_bill" class="delvier modal fade hide" tabindex="-1" style="width: 890px; margin-left: -445px;"></div>

<!-- logistic_bill modal -->
<div id="logistic_bill_print_logistic_bill" class="logistic_bill modal fade hide" tabindex="-1" style="width: 890px;margin-left: -445px;"></div>
<div id="logistic_bill_setup_logistic" class="logistic_bill modal fade hide" tabindex="-1"></div>

<div id="print_delivers" class="delvier modal fade hide" tabindex="-1" style="width: 890px;margin-left: -445px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>批量打印</h3>
  </div><!-- modal-header -->
  <div class="modal-body">
    <p>此次共需要打印<b class='deliver_count'></b>单，<span class='notice'></span>请确认是否更改再点击“打印”</p>
    <fieldset>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>编号</th>
            <th>打印批次</th>
            <th>流水号</th>
            <th>姓名</th>
            <th>地址</th>
          </tr>
        </thead>
        <tbody id='print_delivers_tbody'>
        </tbody>
      </table>
    </fieldset>
  </div><!-- modal-body -->

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" style=''>取消</a>
    <% if current_account.settings.enable_module_print_deliver_bill == 1  %>
      <div id="showbox"></div>
    <% else  %>
      <a class="btn btn-primary" style='margin-top:-22px;'>打印</a>
    <% end %>
    <select id="logistic_select" class="input-medium nomargin pull-left"></select>
  </div>
</div>
