<div class="container-fluid">
    <ul class="breadcrumb">
      <li><li><%= link_to '互动中心', bbs_topics_path %> <span class="divider">&gt;&gt;</span></li>
      <li href="/bbs_topics/list?category=hot" class="active"><%=@category.name %></li>
    </ul>
    <div class="row-fluid bbs_reset">
      <div class="span10 pull-left well bbs_hot">
        <div class="alert alert-info pagination-right">
          <%- if params[:category] == "last"%>
            <p><a href="/bbs_topics/list?category=last">最新帖子</a>/<a href="/bbs_topics/list?category=hot">热门帖子</a></p>
          <%- else %>
            <p><a href="/bbs_topics/list?category=hot">热门帖子</a>/<a href="/bbs_topics/list?category=last">最新帖子</a></p>
          <%- end %>
        </div>
        <%- if @topics.size == 0%>
          <div class="bbs_coninfo">
            <p>该板块暂无帖子</p>
          </div>
        <%- else %>
        <%- @topics.each_with_index do |topic, j| %>
        <div class="bbs_coninfo">
          <div class="clearfix page-header">
            <%= render partial: 'bbs_topics/img', :locals => { :user => topic.user }%>
            <div class="offset1">
              <span class="pull-right mar_l10">
                <%=link_to "编辑", edit_bbs_topic_path(topic), :class => 'btn-block'%>
                <%- if topic.user.username == "admin" %>
                  <%=link_to "删除", bbs_topic_path(topic, category: "category"), method: :delete, confirm: 'delete it?', :class => 'btn-block'%>
                <%- end %>
              </span>
              <!-- <span class="pull-right lineh45">下载数：<span class="label label-important lead">30</span></span> -->
              <p><%=link_to topic.title, bbs_topic_path(topic) %></p>
              <p>由<%=topic.user.name %>于<%=topic.created_at.strftime('%Y-%m-%d %H:%M:%S') %>发表</p>
            </div>
          </div>
        </div>
        <%- end %>
        <%- end %>
        <div class="pagination">
          <%= paginate @topics %>
      </div><!-- pagination ends -->
      </div><!--span10 pull-left well bbs_hot-->
    <!-- </div>row-fluid bbs_reset -->
      <%= render partial: 'bbs_topics/categories', :locals => { :categories => @categories }%>
    </div><!--row-fluid bbs_reset-->
  </div>