
<style>
.pull-left.width {
  width: 80px;;
}
.input-small.select2.product {
  width: 504px!important;
}
</style>
<% params[:search] ||= {}%>
<div class="control-group">
  <%= label_tag "sku",raw("<code>商品SKU名称</code>"),:class => "pull-left width"%>
    <div class="controls pull-left">
  <%=  select_tag "search[bill_products_sku_id_eq]",options_for_select(current_account.skus.collect{ |sku|  [sku.title,sku.id] }, params[:search][:bill_products_sku_id_eq]),:include_blank => true,:class => "input-small select2 product all" %>
</div>
<div class="pull-left">
  <button type="button pull-left" class="btn btn-info search" id="simple_search_button">筛选</button>
</div>
</div>

<div class="control-group">
  <%= label_tag "search[bill_products_outer_id_eq]",raw("<code>商品编码</code>"),:class => "pull-left width" %>
    <div class="controls pull-left">
  <%= text_field_tag "search[bill_products_outer_id_eq]", params['search']["bill_products_outer_id_eq"] %>
</div>
</div>

<div class="control-group">
  <%= label_tag "search[_type_eq]",raw("<code>出/入库</code>"),:class => "pull-left width" %>
    <div class="controls pull-left">
  <%= select_tag "search[_type_eq]",options_for_select([["入库单","StockInBill"],["出库单","StockOutBill"]],params["search"]["_type_eq"]),:include_blank => true,:class => "input-medium select2 all" %>
  </div>
</div>

<div class="control-group">
<%= label_tag "search[stock_type_eq]",raw("<code>出/入库类型</code>"),:class => "pull-left width" %>
  <div class="controls pull-left">
  <%= select_tag "search[stock_type_eq]",options_for_select(StockBill::STOCK_TYPE,params[:search][:stock_type_eq]),:include_blank => true,:class => "input-medium select2 all" %>
  </div>
</div>

<div class="control-group">
  <%= label_tag "search[created_a
t_gte]",raw("<code>创建时间</code>"),:class => "pull-left width" %>
  <div class="controls pull-left">
  <%= text_field_tag "search[created_at_gte]",params["search"]["created_at_gte"],:class => "input-medium datetimepicker_full" %>~

  <%= text_field_tag "search[created_at_lte]",params["search"]["created_at_lte"],:class => "input-medium datetimepicker_full" %>
  </div>
</div>
<div class="control-group">
  <%= label_tag "search[stocked_at_gte]", raw("<code>出/入库时间</code>"),:class => "pull-left width" %>
    <div class="controls pull-left">
  <%= text_field_tag "search[operation_logs_operated_at_gte]",params["search"]["operation_logs_operated_at_gte"],:class => "input-medium datetimepicker_full" %>~

  <%= text_field_tag "search[operation_logs_operated_at_lte]",params["search"]["operation_logs_operated_at_lte"],:class => "input-medium datetimepicker_full" %>
  </div>
</div>

<div class="control-group">
<div class="pull-left">
  <span class="label label-info">共有<%= @count %>条数据</span>
</div>
</div>

<% content_for :tail do %>
<script type="text/javascript" charset="utf-8">
$(function() {
  $.each($('form').find("select.all"),function(){
  $(this).select2({
      placeholder: "全部",
      allowClear: true
  });
  })
})
</script>
<% end %>