<div class="row-fluid">
  <div class="span10 w100">
    <%= render partial: "layouts/all_crumbs" %>
    <%= render partial: "layouts/warehouse_menu" %>

    <div class="tab-content">
      <div class="tab-pane active" id="stock_check">
        <%= form_tag warehouse_stock_bills_path(@warehouse),:method => "get",:class => "well well-small form-horizontal font12"  do %>
        <%= render :partial => "search" %>
        <% end %>
      </div>

       <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-warning">操作</button>
          <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "导出","#",:onclick => "processChecked('#{warehouse_stock_bills_path(@warehouse,:search => params[:search],:format => :xls,:on => '?')}')"%>
            </li>
          </ul>
         </div>
        </div>

        <table class="table table-hover table-bordered table-striped table-condensed js-table" id="bills_table">
          <thead>
            <tr>
              <th width="1%"><input type="checkbox"></th>
              <th width="5%">序号</th>
              <th width="10%">出/入库单编号</th>
              <th width="10%">状态</th>
              <th width="15%">商品编码</th>
              <th width="15%">商品名称</th>
              <th width="10%">类型</th>
              <th width="10%">创建时间</th>
              <th width="10%">出/入库时间</th>
            </tr>
          </thead>
          <tbody>
            <% @num = 0 %>
            <%- @bills.each_with_index do |bill,index| %>
              <%- bill.bill_products.each_with_index do |product,product_index|%>
                <tr>
                  <td><input type="checkbox" name="stock_bill_ids[]" value="<%= bill.id %>"></td>
                  <td><%= @num += 1 %></td>
                  <td><%= bill.tid %></td>
                  <td><%= bill.status_text %></td>
                  <td><%= product.try(:sku_id) %></td>
                  <td><%= product.try(:title) %></td>
                  <td><%= bill.stock_type_name  %></td>
                  <td><%= bill.created_at.try(:to_s,:db) %></td>
                  <td><%= bill.stocked_at.try(:strftime, "%Y-%m-%d %H:%M") %></td>
                </tr>
              <%- end %>
            <%- end %>
          </tbody>
        </table>
        <div class='clearfix'>
      <div class="pull-right" style="margin-left: 5px;margin-top: -2px;">
        <%= paginate @bills %>
      </div>
      <!-- <p></p> -->
      <%= form_tag("/warehouses/#{@warehouse.id}/stock_bills", :method => "get", :class => 'pagination trade_count_info form-inline pull-right') do %>
      <input style="visibility:hidden;" name="page" value="<%= params[:page]%>"/>
      <label style="color:#005580;">当前每页显示：</label>
      <%=select_tag :number, options_for_select([["加载20项","20"],
              ["加载50项","50"],
              ["加载100项", "100"]], params[:number]),  :class => 'nomargin input-medium', :onchange => "this.form.submit();" %>
      <%- end -%>
    </div>
      </div><!--span10 -->
    </div><!-- tab-content -->
  </div><!-- span10 -->
</div><!--row-fluid -->
<% content_for :tail do %>
<script>
  function processChecked(full_url){
    var bill_ids = $('input[name=\"stock_bill_ids[]\"]:checked').map(function(){ return $(this).val()}).get().join(',');
    $(location).attr('href', full_url + '&export_ids=' + bill_ids);
  }

  $(function() {
    clickTableRow("bills_table");
  });
</script>
<% end %>