<div class="row-fluid">
  <div class="span2 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix span2">
      <li class="active"><a href="#"><i class="icon-chevron-right"></i>默认仓库</a></li>
    </ul>
  </div>

  <div class="span10">
    <%= render partial: "layouts/all_crumbs" %>
    <ul class="nav nav-tabs">
      <li><%= link_to "库存查询", stocks_path %></li>
      <li><%= link_to "入库单", stock_in_bills_path %></li>
      <li><%= link_to "出库单", stock_out_bills_path %></li>
      <li class="active"><%= link_to "所有进销", stock_bills_path %></li>
    </ul><!-- nav-tabs -->

    <div class="tab-content">
      <div class="tab-pane active" id="stock_check">
        <%= form_tag stock_bills_path,:method => "get",:class => "well well-small form-horizontal font12"  do %>
        <%= render :partial => "search" %>
        <% end %>
      </div>

       <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-warning">操作</button>
          <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "导出","#",:onclick => "processChecked('#{stock_bills_path(:search => params[:search],:format => :xls,:on => '?')}')"%>
            </li>
          </ul>
         </div>
        </div> 

        <table class="table table-hover table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th width="1%"><input type="checkbox"></th>
              <th width="5%">序号</th>
              <th width="10%">出/入库单编号</th>
              <th width="10%">状态</th>
              <th width="15%">商品编码</th>
              <th width="15%">商品名称</th>
              <th width="10%">类型</th>
              <th width="10%">创建时间</th>                              
              <th width="10%">出/入库时间</th>                
            </tr>
          </thead>
          <tbody>
            <%- num = 1 %>
            <%- @bills.each_with_index do |bill| %>
              <%- bill.bill_products.each do |product|%>
                <tr>
                  <td><input type="checkbox" name="stock_bill_ids[]" value="<%= bill.id %>"></td>
                  <td><%= num %></td>
                  <td><%= bill.tid %></td>                  
                  <td><%= bill.status %></td>
                  <td><%= product.try(:sku_id) %></td>
                  <td><%= product.try(:title) %></td>
                  <td><%= bill.stock_type_name  %></td>
                  <td><%= bill.created_at.try(:to_s,:db) %></td>
                  <td><%= bill.stocked_at.try(:strftime, "%Y-%m-%d %H:%M") %></td>
                </tr>
                <%- num += 1 %>
              <%- end %>
            <%- end %>
          </tbody>
        </table>
        <%= paginate @bills %>
      </div><!--span10 -->
    </div><!-- tab-content -->
  </div><!-- span10 -->
</div><!--row-fluid -->

<script>
function processChecked(full_url){
  var bill_ids = $('input[name=\"stock_bill_ids[]\"]:checked').map(function(){ return $(this).val()}).get().join(',');
  $(location).attr('href', full_url + '&export_ids=' + bill_ids);
}
</script>
  