<% content_for :sub_nav do %>
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to t(params[:controller],tid: @bill.tid), warehouse_stock_in_bills_path(@warehouse) %></li>
    <li><%= link_to "入库单", warehouse_stock_in_bills_path(@warehouse) %></li>
    <li><%= link_to "出库单", warehouse_stock_out_bills_path(@warehouse) %></li>
    <li><%= link_to "所有进销", warehouse_stock_bills_path(@warehouse) %></li>
  </ul><!-- nav-tabs -->
<% end %>
<div class="row-fluid">
  <div class="span12">
    <form class="form-horizontal mar_t30">
      <div class="well clearfix">
        <fieldset class="span6">
          <div class="form-inline">
            <label><%= t(:tid,stock: "#{stock_bill_name(@bill)}", scope: "stock_bill") %>：</label><%= @bill.tid %>
          </div>
          <div class="form-inline">
            <label>收货仓库：</label>默认仓库
          </div>
          <div class="form-inline">
            <label><%= t(:stock_type,stock: "#{stock_bill_name(@bill)}", scope: "stock_bill") %>：</label><%= @bill.stock_type_name %>
          </div>
          <fieldset class="form-inline">
            <label><%= t(:history_status) %>：</label>
            <%- if @bill.operation_logs.present? -%>
            <br/>
            <%- @bill.operation_logs.each do |log| %>
            <label>
              <%= "#{log.operated_at.strftime("%Y-%m-%d %H:%M:%S")}, #{log.operation}  #{log.operator}" %>
            </label>
            <br/>
            <%- end %>
            <%- end -%>
          </fieldset>
        </fieldset><!-- form left area -->
        <fieldset class="span6">
          <div class="form-inline">
            <label><%= t(:current_status) %>：</label><%= @bill.status_text %>
          </div>
          <div class="form-inline">
            <label><%= t(:stocked_at,stock: stock_bill_name(@bill), scope: "stock_bill") %>：</label><%= @bill.stocked_at.try(:strftime,"%Y-%m-%d %H:%M:%S") %>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="clearfix">
      <ul class="nav nav-tabs nomargin">
        <li class="active"><a href="#good_info" data-toggle="tab">商品信息</a></li>
      </ul>
      <div class="tab-content noborder_content">
        <div class="tab-pane active">
          <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>商品编码</th>
                <th>商品SKU编码</th>
                <th>商品名称</th>
                <th>商品单价</th>
                <th>商品数量</th>
                <th>商品总价</th>
              </tr>
            </thead>
            <tbody>
              <%- @products.each do |product| %>
              <tr>
                <td><%= product.outer_id %></td>
                <td><%= product.sku.try(:sku_id) %></td>
                <td><%= product.title %></td>
                <td><%= product.price %></td>
                <td><%= product.number %></td>
                <td><%= product.total_price %></td>
              </tr>
              <%- end %>
            </tbody>
          </table>
          <%= paginate @products %>
          <%- if @trade && @bill.is_a?(StockOutBill) %>
            <br><span class="lable label-warning">订单金额</span>:  <%= @trade.sum_fee %>
            <br><span class="lable label-warning">订单折扣</span>:  <%= @trade.seller_discount %>
            <br><span class="lable label-warning">运费</span>:  <%= @trade.post_fee %>
            <br><span class="lable label-warning">订单实付金额(订单金额-订单折扣+运费)</span>:  <%= @trade.total_fee %>
            <br><span class="lable label-warning">是否开票</span>:  无需开票
            <br><span class="lable label-warning">发票抬头</span>:
            <br><span class="lable label-warning">开票金额</span> 0.0
          <%- end%>


        </div>
      </div>
    </div>
  </div>
</div>
