<ul class="nav nav-tabs boder_eee_r10 nomargin">
  <li class="active"><a href="/customers">顾客分析(<%= page_time_range %>)</a></li>
</ul><!-- nav-tabs -->
<div class="tab-content pr3">
  <div class="tab-pane active">
    <div class="portlet solid light-grey well-white">
      <div class="portlet-body">
        <div class="row-fluid">
          <div class="span4">
            <div class="easy-pie-chart">
              <div class="number potential_customers_percent"  data-percent="<%= (pages_cache["customers_percent_analysis"]["potential_percent"] || 0) %>"><span><%= (pages_cache["customers_percent_analysis"]["potential_percent"] || 0) %></span>%</div>
              <a class="title" href="#">潜在顾客 <i class="m-icon-swapright"></i></a>
            </div>
          </div>
          <div class="margin-bottom-10 visible-phone"></div>
          <div class="span4">
            <div class="easy-pie-chart">
              <div class="number new_customers_percent"  data-percent="<%= (pages_cache["customers_percent_analysis"]["new_percent"] || 0) %>"><span><%= (pages_cache["customers_percent_analysis"]["new_percent"] || 0) %></span>%</div>
              <a class="title" href="#">新增顾客 <i class="m-icon-swapright"></i></a>
            </div>
          </div>
          <div class="margin-bottom-10 visible-phone"></div>
          <div class="span4">
            <div class="easy-pie-chart">
              <div class="number familiar_customers_percent"  data-percent="<%= (pages_cache["customers_percent_analysis"]["familiar_percent"] || 0) %>"><span><%= (pages_cache["customers_percent_analysis"]["familiar_percent"] || 0) %></span>%</div>
              <a class="title" href="#">回头顾客 <i class="m-icon-swapright"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>