<ul class="nav nav-tabs boder_eee_r10 nomargin">
  <li class="active"><a href="/sales/summary">订单分析(<%= 1.month.ago.strftime("%Y/%m/%d")+"~"+Time.now.strftime("%Y/%m/%d") %>)</a></li>
</ul><!-- nav-tabs -->
<div class="tab-content pr3">
  <div class="tab-pane active">
    <div class="portlet solid light-grey well-white">
      <div class="portlet-body">
        <div class="row-fluid">
          <div class="span4">
            <div class="easy-pie-chart">
              <div class="number paid_trades_percent"  data-percent="<%= (Rails.cache.read('trades_percent_analysis')['paid_percent'] || 0) %>"><span><%= (Rails.cache.read('trades_percent_analysis')['paid_percent'] || 0) %></span>%</div>
              <a class="title" href="#">已付款订单 <i class="m-icon-swapright"></i></a>
            </div>
          </div>
          <div class="margin-bottom-10 visible-phone"></div>
          <div class="span4">
            <div class="easy-pie-chart">
              <div class="number unpaid_trades_percent"  data-percent="<%= (Rails.cache.read("trades_percent_analysis")["unpaid_percent"] || 0) %>"><span><%= (Rails.cache.read("trades_percent_analysis")["unpaid_percent"] || 0) %></span>%</div>
              <a class="title" href="#">未付款订单 <i class="m-icon-swapright"></i></a>
            </div>
          </div>
          <div class="margin-bottom-10 visible-phone"></div>
          <div class="span4">
            <div class="easy-pie-chart">
              <div class="number undelivered_trades_percent"  data-percent="<%= (Rails.cache.read("trades_percent_analysis")["undelivered_percent"] || 0) %>"><span><%= Rails.cache.read("trades_percent_analysis")["undelivered_percent"] || 0 %></span>%</div>
              <a class="title" href="#">未发货订单 <i class="m-icon-swapright"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>