<%= simple_form_for @area, html: {class: "form-horizontal"} do |f| %>
  <fieldset>
  	<div class="control-group">
  		<label class="control-label" for="area_parent_id">选择上级区域：</label>
  		<div class="controls">
  			<%#= f.select :parent_id, nested_set_options(Area, @area) { |i| "#{'-' * i.level} #{i.name}"},  class: "controls", label: false %>
        <%= f.input :parent_id, class: "controls", label: false %>
  		</div>
  	</div>

    <div class="control-group">
      <label class="control-label" for="area_name">名称：</label>
      <div class="controls">
        <%= f.input :name, class: "controls", label: false %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="area_parent_id">是1568区域？</label>
      <div class="controls">
        <%= f.input :is_1568, class: "controls", label: false %>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit "提交", class: "btn btn-primary" %>
    <%= link_to "取消", areas_path, class: "btn"%> 
  </div>
<%- end -%>
