<%= render :file => "home/dashboard" %>

<!--##登录框##-->
<div id="myModal" class="login modal hide fade">
  <div class="loginLogo">
    <p> 用爱心来做事，用感恩的心做人 </p>
  </div>
  <div class="loginPanel">
    <h5 class="iUser">登录</h5>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <%= f.input :email, :required => false, :autofocus => true, :label => "用户名/邮箱", :input_html =>{ :class => "input-large" } %>
      <%= f.input :password, :required => false, :label => "密码", :input_html =>{ :class => "input-large" } %>
      <div class="form-actions">
        <%= f.button :submit, "登录", :class => "pull-right btn btn-primary" %>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
<!--##登录框完##-->