<p><h4>新增商品</h4></p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>商品ID</th>
      <th>商品名称</th>
      <th>商品状态</th>
      <th>所属店铺</th>
    </tr>
  </thead>
  <tbody>
    <% @sync_products.map(&:latest).flatten.each_with_index do |product,index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= product.ware_id %></td>
      <td><%= product.title %></td>
      <td><%= product.status_name %></td>
      <td><%= product.shop_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p><h4>属性变更商品</h4></p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>商品ID</th>
      <th>商品名称</th>
      <th>商品状态</th>
      <th>所属店铺</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sync_products.map(&:changed).flatten.each_with_index do |product,index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= product.ware_id %></td>
      <td><%= product.title %></td>
      <td><%= product.status_name %></td>
      <td><%= product.shop_name %></td>
      <td>
        <% product.changes.each do |change| %>
        <strong><%= change.first %>:</strong><span class="label label-important">-<%= change.last[0] %></span>
        <span class="label label-success">+<%= change.last[1] %></span></br>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>