<table class="table table-bordered">
  <thead>
    <tr>
      <th>SKU ID</th>
      <th>商品名称</th>
      <th>商品状态</th>
      <th>所属店铺</th>
      <th>变更类型</th>
      <th>变更属性</th>
      <th>同步时间</th>
    </tr>
  </thead>
  <tbody>
    <% @versions.each do |version| %>
    <tr>
      <td><%= version.sku_id %></td>
      <td><%= version.ware_id %></td>
      <td><%= version.title %></td>
      <td><%= version.status_name %></td>
      <td><%= version.shop_name %></td>
      <td><%= version.event == "create" ? "创建" : "更新" %></td>
      <td>
        <% version.changeset.each do |key,values| %>
        <%= key %>: <span class="label label-important">-<%= values.first %></span>
        <span class="label label-success">+<%= values.last %></span></br>
        <% end %>
      </td>
      <td><%= l version.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @versions %>