<%= simple_form_for [@seller, @product], html: {class: 'well form-horizontal'} do |f| %>
  <fieldset>
    <legend class="font14">添加仓库产品：</legend>
    <%= f.input :seller_id, as: :hidden, value: params[:seller_id] %>
    <%= f.association :product, label: '商品：' %>
    <%= f.input :max, hint: "(库存最大值)", label: '满仓值：', as: :string %>
    <%= f.input :safe_value, hint: "(低于安全值进入报警状态)", label: '安全值：', as: :string %>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">保存</button>
    </div>
  </fieldset>
<% end %>