<%= simple_form_for [@seller, @product], html: {class: 'well form-horizontal'} do |f| %>
  <fieldset>
    <div class="control-group form-inline">
      <label class="control-label" for="">选择商品：</label>
      <div class="controls group re_height300">
        <select class="span2 pull-left" style="width: 200px;" multiple="multiple" id='category' name='category'>
          <% current_account.categories.all.each do |c| %>
          <option value='<%= c.id%>'><%= c.name %></option>
          <% end %>
        </select>
        <select class="span4 pull-left" style="width: 500px;" multiple="multiple" id='product' name='stock_product[product_id]'>
          <%- if current_user.seller.present? %>
            <%- products = current_account.products.single%>
          <%- else %>  
            <%- products =current_account.products %>
          <%- end %>
          <%= render partial: "products", :object => @products = products %>
        </select>
      </div>
      <div class="controls">
        <p>注：当前无商品可上架，请去产品中心创建商品;</p>
      </div>
      <% if current_account.settings.enable_module_colors == 1 %>
        <fieldset class="form-inline">
          <%= f.association :colors, label: '可选颜色：', as: :check_boxes, include_blank: false, wrapper_html: { id: 'check_color' } %>
          <div class="controls">
            <label class="checkbox">
              <input class="check_boxes optional" id="stock_product_color_all" type="checkbox">全选
            </label>
          </div>
        </fieldset>
      <% end %>
        <fieldset class="form-inline">
          <%= f.input :sku_id, label: '商品属性：', collection: [], include_blank: false  %>
        </fieldset>
    </div>

    <%= f.input :max, hint: "(库存最大值)", label: '满仓值：', as: :string %>
    <%= f.input :safe_value, hint: "(低于安全值进入报警状态)", label: '安全值：', as: :string %>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">保存</button>
    </div>
  </fieldset>
<% end %>

<% content_for :tail do -%>
<script type="text/javascript">
  var $last_tr_checkbox = $('#stock_product_color_all')
  $last_tr_checkbox.click(function(){
    $('#check_color').find(':checkbox').prop('checked',$last_tr_checkbox.prop('checked'))
  });
</script>
<% end %>
