<div class="container-fluid">
  <header class="jumbotron subhead" id="overview">
    <div class="subnav">
      <ul class="nav nav-pills">
        <% if current_user.allow_read?(:stocks) && current_user.seller %>
          <li ><%= link_to '仓库管理', seller_stocks_path(current_user.seller.id) %></li>
        <% else %>
          <% if !current_user.allow_read?(:stocks) %>
            <li><a href="<%=stocks_path%>">所有仓库</a></li>
          <% end %>
        <% end %>
        <li class="active"><a href="<%=stock_products_path%>">库存查询</a></li>
      </ul>
    </div>
  </header>
  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li><a href="#">Magic</a><span class="divider">/</span></li>
      <li><a href="#">仓库管理</a><span class="divider">/</span></li>
      <li class="active">库存查询</li>
      <!-- <li style="position:absolute;right:15px;top:6px;"><i class="icon-cog"></i><a class="btn_alert" href="order_settings.html">订单设置</a></li> -->
    </ul><!-- breadcrumb -->

    <!-- <div class="alert fade in">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>提示</strong>该功能正在研发中...
    </div> -->

    <%= form_tag stock_products_search_path, :method => :get, :id=> "search", :class => "well form-search" do %>
      <fieldset class="form-inline">
        <div class="controls">
          <label for="" class="control-label">商品：</label>
           <%- if current_user.seller.present? %>
            <%- products = current_account.products.single%>
          <%- else %>  
            <%- products =current_account.products %>
          <%- end %>
          <%= select 'product',:id, options_for_select(products.collect { |c| [c.name, c.id] }, "#{params[:product][:id] if params[:product]}"), :selected =>  "", :include_blank => "--商品名--" %>
          <label for="" class="control-label">地域：</label>
          <select id="" class="level_1 input-medium" name="name_all">
            <option>地域名</option>
          </select>
          <select id="" class="level_2 input-medium" name="area_name_one">
            <option>地域名</option>
          </select>
          <select id="" class="level_3 input-medium" name="area_name_two">
            <option>地域名</option>
          </select>
          <!-- <select id="" class="level_4 input-medium" name="area_name_tree">
            <option>地域名</option>
          </select> -->
          <div class="input-append">
            <button type="submit" class="btn">查询</button>
          </div>
        </div>
      </fieldset>
    <% end %>
    <div class="controls clearfix">

      <div class="btns btn-group pull-left">
        <% if params[:product]%>
          <%= link_to "导出数据", stock_products_search_path(:format => "xls","product[id]" => "#{params[:product][:id]}",:name_all => "#{params[:name_all]}", :area_name_one => "#{params[:area_name_one]}", :area_name_two => "#{params[:area_name_two]}", :area_name_tree => "#{params[:area_name_tree]}" ), :class => "btn btn-warning", "data-toggle" =>"modal" %>
        <% else %>
          <a data-toggle="modal" href="#ord_export" class="btn btn-warning">导出数据</a>
        <% end %>
        </ul>
      </div>
    </div>

    <table class="table table-striped table-bordered table-condensed td_colors mar_t">
      <thead>
        <tr>
          <th>商品名称</th>
          <th>地域</th>
          <th>经销商</th>
          <th>可用库存数量</th>
        </tr>
      </thead>
      <tbody>
        <% if @sellers%>
          <% @sellers.each do |seller|%>
            <tr>
              <td><%= seller.product_name(seller.sp_id) if seller.product_name(seller.sp_id)%></td>
              <td><%= seller.area_name(seller.a_name)  if seller.area_name(seller.a_name)%></td>
              <td><%= seller.name %></td>
              <td><%= seller.activity %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% if @sellers%>
    <%= paginate @sellers %>
    <% end %>
  </div>
  <hr>
</div>
<% content_for :tail do -%>
  <%= javascript_include_tag "LinkageSelect.js" %>
  <script type="text/javascript">
    $(function() {
      var options = {
        data  : linkage_data
      }

      var sel = new LinkageSelect(options);
      sel.bind('.level_1','<%= params[:name_all] if params[:name_all]%>');
      sel.bind('.level_2','<%= params[:area_name_one] if params[:area_name_one]%>');
      sel.bind('.level_3','<%= params[:area_name_two] if params[:area_name_two]%>');
      sel.bind('.level_4','<%= params[:area_name_tree] if params[:area_name_tree]%>');
    });
</script>
<% end -%>
