<div id="confirm_account" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>确定生成</h3>
  </div><!-- modal-header -->
  <div class="modal-body sure_id">
    <p>确认生成对账?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm_button" type="submit">确定</button>
  </div>
</div><!-- confirm_account -->

<div id="regret_account" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>改回未生成</h3>
  </div><!-- modal-header -->
  <div class="modal-body sure_id">
    <p>确认改回未生成?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary regret_confirm_button" type="submit">确定</button>
  </div>
</div><!-- confirm_account -->

<div id="confirm_account1" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>确定生成</h3>
  </div><!-- modal-header -->
  <div class="modal-body sure_id1">
    <p>确认生成对账?</p>
  </div>
  <div class="modal-footer">
    <%= form_tag process_all_reconcile_statements_path, :method => :PUT, :onsubmit => 'return can_submit();' do %>
    <input type="hidden" name="rs_ids" id="rs_ids">
    <button class="btn btn-primary confirm_button1" type="submit">确定</button>
    <% end %>
  </div>
</div><!-- confirm_account1 -->

<div id="generate_new" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>可生成对帐数据经销商列表</h3>
  </div><!-- modal-header -->
  <div class="modal-body sure_id1">
    <fieldset>
      <%- if current_account.sellers.has_available_rs == false %>
        <span style="color: red;"><center>无可生成的经销商对帐数据</center></span>
      <%- else %>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>经销商</th>
              <th>生成月份</th>
            </tr>
            <% current_account.sellers.find_each do |seller| %>
              <%- if seller.next_month_rs_date.present? %>
                <tr>
                  <td><%= seller.name %></td>
                  <td><%= seller.next_month_rs_date.strftime("%Y-%m") %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <fieldset>
  </div>
  <div class="modal-footer">
    <%- if current_account.sellers.has_available_rs == true %>
      <%= form_tag generate_new_reconcile_statements_path, remote: true, :method => :PUT do %>
        <button class="btn btn-primary confirm_generate" type="submit">确认生成</button>
      <% end %>
    <%- end %>
  </div>
</div><!-- generate_new -->
<% TradeSetting.rs_process_time = Time.now if TradeSetting.rs_process_time == nil %>
<%- content_for :tail do %>
<script type = "text/javascript">
  show_button_time = new Date(<%= TradeSetting.rs_process_time.year %>, <%= TradeSetting.rs_process_time.month - 1 %>, <%= TradeSetting.rs_process_time.day %>, <%= TradeSetting.rs_process_time.hour %>, <%= TradeSetting.rs_process_time.min %>,<%= TradeSetting.rs_process_time.sec %>)
  current_time = new Date(<%= Time.now.year %>, <%= Time.now.month - 1 %>, <%= Time.now.day %>, <%= Time.now.hour %>, <%= Time.now.min %>,<%= Time.now.sec %>)
  if (show_button_time > current_time){
    $('.btn').remove();
    $('#rs_process_info').show();
    $(function(){
      setTimeout(function(){
        $('#rs_process_info').html("数据生成完毕，请刷新页面");
      }, show_button_time - current_time);
    });
  }

  $('.confirm_generate').click(function(argument) {
    $('#generate_new').modal('hide');
    $('.btn').hide();
    $('#rs_process_info').show()
  })

  var rs_id = null;
  $('.confirm_settlement').click(function(argument) {
    rs_id = $(this).data('id');
    var rs_month = $("#rs_"+rs_id+" td:eq(1)").html();
    $('.sure_id').text("确认生成"+ rs_month +"月份对账？");
  })
  $('.confirm_button').click(function(argument) {
    $.ajax({
      type: "PUT",
      url: "/reconcile_statements/"+rs_id+"/update_processed"
    }).done(function(result){
      $('#confirm_account').modal('hide');
      $("#rs_"+rs_id+" td:eq(5)").html("已生成, 未结算");
      $('#audited_'+ rs_id +'').attr("disabled","disabled");
    })
  })

  $('.regret_settlement').click(function(argument) {
    rs_id = $(this).data('id');
    var rs_month = $("#rs_"+rs_id+" td:eq(1)").html();
    $('.sure_id').text("确认修改"+ rs_month +"月份对账为未生成？");
  })
  $('.regret_confirm_button').click(function(argument) {
    $.ajax({
      type: "PUT",
      url: "/reconcile_statements/"+rs_id+"/update_processed"
    }).done(function(result){
      $('#regret_account').modal('hide');
      $("#rs_"+rs_id+" td:eq(5)").html("<a data-toggle='modal' data-id="+rs_id+" href='#confirm_account' class='confirm_settlement'>未生成</a>");
      // $('#audited_'+ rs_id +'').attr("disabled","disabled");
    })
  })

  $('.rs_row').click(function(event) {
    if($(event.currentTarget).next().attr("id") == "target_detail"){
      rs_row = $(this).data('row');
      $("#reconcile_table").parents('tr').remove()
    } else {
        rs_row = $(this).data('row');
        $("#reconcile_table").parents('tr').remove()
        $("#rs_"+rs_row).after("<tr id='target_detail'><td colspan='7'><div id='reconcile_table'></div></td></tr>")
        $.get("/reconcile_statements/"+rs_row+"/seller_show.js", function(result){
         });
    }
  })

  $('.confirm_settlement_all').click(function(argument) {
    if($("input[name='audited[]']:checked").length > 0){
      var chk_value =[];
      $("input[name='audited[]']:checked").each(function(){
        chk_value.push($(this).val());
      });
      $("#rs_ids").val(chk_value);
      $('#confirm_account1 .sure_id1').children().text('确定生成对账？')
      $('.confirm_button1').show()

    }else{
      $('#confirm_account1 h3').text('提示信息');
      $('#confirm_account1 .sure_id1').children().text('请选择要生成的经销商')
      $('.confirm_button1').hide()

    }
  })

  $('.confirm_export').click(function(argument) {
    var chk_value =[];
    $("input[name='audited[]']:checked").each(function(){
      chk_value.push($(this).val());
    });
    window.location = "<%=seller_exports_reconcile_statements_path%>.xls?selected_rs="+chk_value;
  })

  $('.export_reconcile_detail').click(function(event) {
    var chk_value = null;
    chk_value = $(event.currentTarget).parents('tr').data('row');
    window.location = "<%=product_detail_exports_reconcile_statements_path%>.xls?selected_rs="+chk_value;
  })

  $("#checkbox").click(function() {
     $("INPUT[type='checkbox']").attr('checked', $("#checkbox").is(':checked'));
  });

  $('.audited_checkbox').click(function(e){
    e.stopPropagation()
  });

  function can_submit () {
    if ($('#rs_ids').val() == ''){
      alert('请选择要生成的经销商!');
      return false;
    }else{
      return true;
    }
  }

  $(function(){
    $('.monthpicker').datetimepicker({
      format: 'yyyy-mm',
      autoclose: true,
      startView: 3,
      minView: 3,
      viewSelect: 3
    });
  })

</script>
<%- end %>