<% content_for :sub_nav do %>
  <%= render partial: "nav" %>
<% end %>

<%= form_tag seller_index_reconcile_statements_path, :class=>"well form-search", :method => :get do %>
  <fieldset class="form-inline">
    <div class="controls">
      <label class="control-label mar_l10">经销商：</label>
      <%=text_field_tag :seller_name, params[:seller_name], class: "input-medium"%>
      <label class="control-label mar_l10">状态：</label>
        <%= select_tag(:status, options_for_select([["请选择",nil],["未结算","unprocessed"],["已结算","processed"]], selected: params[:status]))%>
      <label class="control-label mar_l10">选择时间：</label>
      <div class="input-append">
        <%=text_field_tag :date, params[:date], "data-date-format"=>"mm-yyyy", :class=>"input-small date  monthpicker"%>
        <button type="button pull-left" class="btn btn-info search" id="simple_search_button">筛选</button>
      </div>
    </div>
  </fieldset>
<% end %>

<div class="btns">
  <p id="rs_process_info" style="display: none;">正在生成数据...</p>
  <a href="javascript:;" class="btn btn-warning confirm_export">导出数据</a>
  <% if @all_processd %>
    <a href="javascript:;" class="btn btn-warning disabled">确认结算</a>
  <% else %>
    <a data-toggle="modal" href="#confirm_account" class="btn btn-warning confirm_settlement_all">确认结算</a>
  <% end %>
</div>
<table class="table table-striped table-bordered td_colors table-hover mar_t">
  <thead>
    <tr>
      <th><input type="checkbox" id="checkbox" name="checkbox"></th>
      <th>月份</th>
      <th>经销商</th>
      <th>结算金额</th>
      <th>结算状态</th>
    </tr>
  </thead>
  <tbody>
    <% if @rs_set.present? %>
      <% @rs_set.each do |rs| %>
      <tr class="rs_row" id="rs_<%= rs.id %>" data-row="<%= rs.id %>">
        <td>
          <input type="checkbox" class="audited_checkbox" id="audited_<%=rs.id%>" name="audited[]" value="<%=rs.id%>">
        </td>
        <td><%= rs.audit_time.strftime("%Y-%m") %></td>
        <td><%= current_account.sellers.find(rs.seller_id).name %></td>
        <td><%= rs.balance_amount %></td>
        <%- if rs.audited %>
        <td>已结算</td>
        <% else %>
          <td><a data-toggle="modal" data-id="<%= rs.id %>" href="#confirm_account" class="confirm_settlement">未结算</a></td>
        <%- end %>
      </tr>
      <% end %>
    <% else %>
      <tr class="rs_row">
        <td colspan="8">
          <span style="color: red;"><center><%=flash[:notice]%></center></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>  
<div id="reconcile_table"></div>
<%= render 'seller_index_confirm_form' %>
<div class='clearfix'>
  <div class="pull-right" style="margin-left: 5px;margin-top: -2px;">
    <%= paginate @rs_set %>
  </div>
</div>