<% content_for :sub_nav do %>
  <%= render partial: "nav" %>
<% end %>

<%= form_tag seller_index_reconcile_statements_path, :class=>"well form-search", :method => :get do %>
  <fieldset class="form-inline">
    <div class="controls">
      <label class="control-label mar_l10">经销商：</label>
      <%=text_field_tag :seller_name, params[:seller_name], class: "input-medium"%>
      <label class="control-label mar_l10">状态：</label>
      <%= select_tag(:status, options_for_select(@seller_statuses_select, selected: params[:status]))%>
      <% if current_account.settings.enable_module_reconcile_statements_for_magicd == true  %>
        <label class="control-label mar_l10">来源 ：</label>
        <%= select_tag(:status, options_for_select([["请选择",""],["天猫","tianmao"]], selected: params[:source]))%>
      <% end %>
      <label class="control-label mar_l10">选择时间：</label>
      <div class="input-append">
        <%=text_field_tag :date, params[:date], "data-date-format"=>"mm-yyyy", :class=>"input-small date  monthpicker"%>
        <button type="button pull-left" class="btn btn-info search" id="simple_search_button">筛选</button>
      </div>
    </div>
  </fieldset>
<% end %>

<% unless current_account.settings.enable_module_reconcile_statements_for_magicd == true %>
  <div class="btns">
    <a href="javascript:;" class="btn btn-warning confirm_export">导出数据</a>
    <% if @all_processed %>
      <a href="javascript:;" class="btn btn-warning disabled"><%= @brand_name%></a>
    <% else %>
      <a data-toggle="modal" href="#confirm_account" class="btn btn-warning confirm_settlement_all"><%= @brand_name%></a>
    <% end %>
    <% if @all_audited %>
      <a href="javascript:;" class="btn btn-warning disabled">经销商确认结算</a>
    <% else %>
      <a data-toggle="modal" href="#confirm_account1" class="btn btn-warning confirm_settlement_all1">经销商确认结算</a>
    <% end %>
  </div>
  <table class="table table-striped table-bordered td_colors table-hover mar_t">
    <thead>
      <tr>
        <th><input type="checkbox" id="checkbox" name="checkbox"></th>
        <th>月份</th>
        <th>经销商</th>
        <th><%= @store_audit_num %></th>
        <th>结算状态</th>
      </tr>
    </thead>
    <tbody>
      <% if @rs_set.present? %>
        <% @rs_set.each do |rs| %>
        <tr class="rs_row" id="rs_<%= rs.id %>" data-row="<%= rs.id %>">
          <td>
            <input type="checkbox" class="audited_checkbox" id="audited_<%=rs.id%>" name="audited[]" value="<%=rs.id%>">
          </td>
          <td><%= rs.audit_time.strftime("%Y-%m") %></td>
          <td><%= current_account.sellers.find(rs.seller_id).name %></td>
          <td><%= rs.balance_amount %></td>
          <%- if rs.audited && rs.processed %>
            <td>已结算</td>
          <%- elsif !rs.processed %>
            <td><a data-toggle="modal" data-id="<%= rs.id %>" href="#confirm_account" class="confirm_settlement"><%= @status_name %></a></td>
          <% else %>
            <td><a data-toggle="modal" data-id="<%= rs.id %>" href="#confirm_account" class="confirm_settlement">经销商未结算</a></td>
          <%- end %>
        </tr>
        <% end %>
      <% else %>
        <tr class="rs_row">
          <td colspan="8">
            <span style="color: red;"><center><%=flash[:notice]%></center></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="btn-group">
    <button class="btn btn-warning" id="product_operations">操作</button>
    <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="javascript:;" class="confirm_export">导出数据</a></li>
      <% if @all_processed %>
        <li><a href="javascript:;" class="disabled"><%= @brand_name %></a></li>
      <% else %>
        <li><a data-toggle="modal" href="#confirm_account" class="confirm_settlement_all"><%= @brand_name %></a></li>
      <% end %>
      <% if @all_audited %>
        <li><a href="javascript:;" class="disabled">经销商确认结算</a></li>
      <% else %>
        <li><a data-toggle="modal" href="#confirm_account1" class="confirm_settlement_all1">经销商确认结算</a></li>
      <% end %>
      <li><a href="javascript:;" class="export_reconcile_detail">导出明细</a></li>
      <li><a href="javascript:;" class="regret_settlement">改回未结算</a></li>
    </ul>
  </div><!-- btn-group -->
  <table class="table table-striped table-bordered td_colors table-hover mar_t">
    <thead>
      <tr>
        <th><input type="checkbox" id="checkbox" name="checkbox"></th>
        <th>月份</th>
        <th>店铺</th>
        <th>经销商</th>
        <th>结算状态</th>
        <th>来源</th>
      </tr>
    </thead>
    <tbody>
      <% if @rs_set.present? %>
        <% @rs_set.each do |rs| %>
        <tr class="rs_row" id="rs_<%= rs.id %>" data-row="<%= rs.id %>">
          <td>
            <input type="checkbox" class="audited_checkbox" id="audited_<%=rs.id%>" name="audited[]" value="<%=rs.id%>">
          </td>
          <td><%= rs.audit_time.strftime("%Y-%m") %></td>
          <td><%= rs.trade_store_name %></td>
          <td><%= Seller.find(rs.seller_id).name %></td>
          <%- if rs.audited && rs.processed %>
          <td>已结算</td>
          <%- elsif !rs.processed %>
            <td><a data-toggle="modal" data-id="<%= rs.id %>" href="#confirm_account" class="confirm_settlement"><%= @status_name %></a></td>
          <% else %>
            <td><a data-toggle="modal" data-id="<%= rs.id %>" href="#confirm_account" class="confirm_settlement">运营商未结算</a></td>
          <%- end %>
          <td><%= rs.trade_store_source %></td>
        </tr>
        <% end %>
      <% else %>
        <tr class="rs_row">
          <td colspan="8">
            <span style="color: red;"><center><%=flash[:notice]%></center></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div id="reconcile_table"></div>
<%= render 'seller_index_confirm_form' %>
<div class='clearfix'>
  <div class="pull-right" style="margin-left: 5px;margin-top: -2px;">
    <%= paginate @rs_set %>
  </div>
</div>