<style>
.form-horizontal .controls {
  margin-left: 0px;
}
.input-small.select2.product {
  width: 800px!important;
}
.row-fluid.product {
  min-height: 0px;
}
.input-small.select2.logictic {
  width: 150px!important;
}
</style>

<div class="row-fluid">

  <div class="span12">
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to "新建退货单", new_warehouse_refund_product_path(@warehouse) %></li>
      <li><%= link_to "入库单", warehouse_stock_in_bills_path(@warehouse) %></li>
      <li><%= link_to "出库单", warehouse_stock_out_bills_path(@warehouse) %></li>
      <li><%= link_to "所有进销", warehouse_stock_bills_path(@warehouse) %></li>
      <li><%= link_to "退货单", warehouse_refund_products_path(@warehouse) %></li>
    </ul><!-- nav-tabs -->
    <%= render :partial => "form",:locals => {:path => warehouse_refund_product_path(@warehouse,@refund_product)} %>

  </div><!--span10 -->
</div><!--row-fluid -->