<%= simple_form_for @category, html: {class: 'well form-horizontal'} do |f| %>
  <fieldset>
    <%= f.input :name, label: '分类名' %>
    <%= f.input :parent_id, label: "上级分类"  do %>
    <%= f.select :parent_id, nested_user_categories_options([[]], @category) %>
    <% end %>
    <%= f.input :use_days %>
    <%= f.input :status, :label=>"是否启用" do%>
      <%= f.label :status do %>
        <%= f.check_box  :status, {}, 1,0 %> 启用
      <%end%>
    <%end%>
    <%= f.association :category_properties, :label=>"属性", :as=>:check_boxes, :collection=>current_account.category_properties %>

    <div class="form-actions">
      <%= link_to '取消', categories_path, class: 'btn' %>
      <button type="submit" class="btn btn-primary">保存</button>
    </div>
  </fieldset>
<% end %>
