<%= simple_form_for @product, html: {class: 'well form-horizontal re_padding50'} do |f| %>
<fieldset class="group">
  <div class="w_48 pull-left">
    <%= f.input :iid, label: '商品编码：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :name, label: '商品名称：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :taobao_id, label: '淘宝ID：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :storage_num, label: '仓库编号：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :price, label: '价格：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.association :quantity, label: '规格：', :input_html =>{ :class => "width_auto" } %>
    <%= f.association :features, as: :check_boxes, label: '系列：'%>
    <%= f.association :category, label: '分类：', :input_html =>{ :class => "width_auto" } %>
    <%= f.association :level, label: '档次：', :input_html =>{ :class => "width_auto" } %>
    <fieldset class="form-inline">
      <%= f.association :colors, label: '可选颜色：', as: :check_boxes, include_blank: false %>
    </fieldset>
    <%= f.input :status, collection: @product.select_status, label: '状态：', :input_html =>{ :class => "width_auto" } %>
  </div>

  <div class="w_48 pull-left">
    <% unless @product.product_image.blank?%>
    <div class="controls">
      <%= image_tag("#{@product.product_image}") %>
    </div>
    <% end %>
    <div class="controls mar_t10">
    <%= f.input :product_image, as: :file, label: "请上传商品图片", :input_html =>{ id: "fileInput", class: "input-file" } %>
    </div>
  </div>
</fieldset>

<fieldset>
  <%= f.input :technical_data, as: :text, label: '技术参数：', :input_html =>{ :class => "input-xlarge" ,rows: 3} %>
  <%= f.input :description, as: :text, label: '描述：', :input_html =>{ :class => "input-xlarge" ,rows: 3} %>
</fieldset>
  
<div class="form-actions">
  <%= f.button :submit, "保存", :class => "btn btn-primary" %>
  <a href="/products" class="btn">取消</a>
</div>
<% end %>