<%- if flash[:notice] %>
<div class='alert alert-error'>
<button type="button" class="close" data-dismiss="alert">×</button><h4>警告!</h4>
  <h6>表单填写有误<h6><br>
</div>
<% end %>
<%= form_for @product, html: {class: 'well form-horizontal re_padding50'} do |f| %>
<fieldset class="group">
  <div class="w_48 pull-left">
    <div class="control-group">
      <%= f.label :iid, '编号：', class: 'control-label tl'%>
      <div class="controls">
        <%= f.text_field :iid, class: 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, '商品名称：', class: 'control-label tl'%>
      <div class="controls">
        <%= f.text_field :name, class: 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :taobao_id, '淘宝id：', class: 'control-label tl'%>
      <div class="controls">
        <%= f.text_field :taobao_id, class: 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :storage_num, '仓库编号：', class: 'control-label tl'%>
      <div class="controls">
        <%= f.text_field :storage_num, class: 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :quantity, '规格：', class: 'control-label tl'%>
      <div class="controls">
        <%= f.select :quantity, [['5L', "5L"], ['10L', "10L"]], class: 'width_auto' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :category, '分类：', class: 'control-label tl'%>
      <div class="controls">
        <%= f.select :category, [['全部', "all"], ['网络特供商品', "web_only"],['内墙乳胶漆',"inner_wall"],['外墙乳胶漆',"outer_wall"],['木器漆',"wood"],['DIY色彩系列',"DIY"],['輔助材料',"accessary"]], class: 'width_auto' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :features, '系列：', class: 'control-label tl'%>
      <div class="controls">
        <%= f.check_box :features, {}, "dispell_odor" %>净味功能
        <!--<%= f.check_box :features, {}, "resilience" %>弹性抗裂功能-->
      </div>
    </div>
    <div class="control-group">
      <%= f.label :level, '档次：', class: 'control-label tl'%>
      <div class="controls">
        <%= f.select :level, [['低档', "low"], ['中档', "middle"],['高档',"high"]], class: 'width_auto' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :status, '状态：', class: 'control-label tl'%>
      <div class="controls">
        <%= f.select :status, [['上架', "on_sale"], ['下架', "sold_out"]], class: 'width_auto' %>
      </div>
    </div>
  </div>

  <!-- <div class="w_48 pull-left">
    <div class="control-group">
      <label class="control-label tl" for="">图片：</label>
      <div class="controls">
        <img src="images/59.jpg">
      </div>
      <div class="controls mar_t10">
        <input type="file" id="fileInput" class="input-file">
      </div>
    </div>
  </div> -->
</fieldset>

<fieldset>
  <div class="control-group">
    <%= f.label :technical_data, '技术参数：', class: 'control-label tl'%>
    <div class="controls">
      <%= f.text_area :technical_data, rows: 3, class: 'input-xlarge'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, '描述：', class: 'control-label tl'%>
    <div class="controls">
      <%= f.text_area :description, rows: 3, class: 'input-xlarge'%>
    </div>
  </div>
</fieldset>


<div class="form-actions">
  <button type="submit" class="btn btn-primary">保存</button>
  <a href="/products" class="btn">取消</a>
</div>
<% end %>