<%= simple_form_for @product, html: {class: 'well form-horizontal re_padding50'} do |f| %>
<fieldset class="group">
  <div class="w_48 pull-left">
       <%= f.input :iid, label: '编号：', :input_html =>{ :class => "input-xlarge" } %>
       <%= f.input :name, label: '商品名称：', :input_html =>{ :class => "input-xlarge" } %>
       <%= f.input :taobao_id, label: '淘宝id：', :input_html =>{ :class => "input-xlarge" } %>
       <%= f.input :storage_num, label: '仓库编号：', :input_html =>{ :class => "input-xlarge" } %>
       <%= f.input :price, label: '价格：', :input_html =>{ :class => "input-xlarge" } %>
       <%= f.input :quantity, collection: @product.select_quantity, label: '规格：', :input_html =>{ :class => "width_auto" } %>
       <%= f.input :category, collection: @product.select_category, label: '分类：', :input_html =>{ :class => "width_auto" } %>
       <%= f.input :features, as: :check_boxes, collection: @product.select_features, label: '系列：'%>
       <%= f.input :level, collection: @product.select_level, label: '档次：', :input_html =>{ :class => "width_auto" } %>
       <%= f.input :status, collection: @product.select_status, label: '状态：', :input_html =>{ :class => "width_auto" } %>
  </div>

  <!-- <div class="w_48 pull-left">
    <div class="control-group">
      <label class="control-label tl" for="">图片：</label>
      <div class="controls">
        <img src="images/59.jpg">
      </div>
      <div class="controls mar_t10">
        <input type="file" id="fileInput" class="input-file">
      </div>
    </div>
  </div> -->
</fieldset>

<fieldset>
  <%= f.input :technical_data, as: :text, label: '技术参数：', :input_html =>{ :class => "input-xlarge" ,rows: 3} %>
  <%= f.input :description, as: :text, label: '描述：', :input_html =>{ :class => "input-xlarge" ,rows: 3} %>
</fieldset>
  
<div class="form-actions">
  <%= f.button :submit, "保存", :class => "btn btn-primary" %>
  <a href="/products" class="btn">取消</a>
</div>
<% end %>