<%= simple_form_for @product, html: {class: 'well form-horizontal re_padding50'} do |f| %>
<fieldset class="group">
  <div class="w_48 pull-left">
    <%= f.input :product_id, label: '淘宝ID：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :name, label: '商品名称：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :outer_id, label: '商品编码：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :storage_num, label: '仓库编号：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :price, label: '价格：', as: :string, :input_html =>{ :class => "input-xlarge" } %>
    <%#= f.association :quantity, collection: current_account.quantities, label: '规格：', :input_html =>{ :class => "width_auto" } %>
    <%= f.input :logistic_group_id, collection: current_account.logistic_groups, label: '物流分组编码' %>
    <%= f.input :good_type, label: '商品类型：' do %>
      <label class="inline good_suit">
        <input type="radio" name="product[good_type]" value='1' <%= 'checked' if @product.good_type == 1 %>>单品
      </label>
      <label class="inline good_suit">
        <input type="radio" name="product[good_type]" value='3' <%= 'checked' if @product.good_type == 3 %>>赠品
      </label>
      <label class="inline good_suit">
        <input type="radio" name="product[good_type]" value='2' <%= 'checked' if @product.good_type == 2 %>>套装
        <input type="text" placeholder="输入关联的产品编号及数量，以逗号隔开" name='child_iid' value='<%= package_items(@product) %>'>
        <span class="help-inline">示例：[商品1,3],[商品2,1]</span>
      </label>
    <% end %>
    <%#= f.association :features, collection: current_account.features, as: :check_boxes, label: '系列：'%>
    <%= f.association :category, collection: current_account.categories, label: '分类：', :input_html =>{ :class => "width_auto" } %>
    <% if current_account.settings.enable_module_colors == 1 %>
      <fieldset class="form-inline">
        <%= f.association :colors, label: '可选颜色：', as: :check_boxes, include_blank: false, wrapper_html: { id: 'check_color' }%>
        <div class="controls">
          <label class="checkbox">
            <input class="check_boxes optional" id="stock_product_color_all" type="checkbox">全选
          </label>
        </div>
      </fieldset>
    <% end %>
      <fieldset class="form-inline"><!--THIS IS TEMPORARY-->
        <%= simple_fields_for :skus do |o| %>
          <%= o.input :sku_ids, label: '商品属性：', collection: Sku.all.map{|s| (s.name == "" || s.properties_name.include?(";")) ? nil : s.name}.to_a.uniq.compact, as: :check_boxes, include_blank: false  %>
        <% end %>
      </fieldset>
  </div>

  <% if @product.pic_url.present? %>
     <div class="w_48 pull-left">
      <div class="control-group">
        <label class="control-label tl" for="">商品图片：</label>
        <div class="controls">
          <ul style="list-style-type:none;" class="clearfix good_img_size">
            <li><%= image_tag @product.pic_url %></li>
          </ul>
        </div>
      </div>
     </div>
    <% end %>
</fieldset>

<div class="form-actions">
  <%= f.button :submit, "保存", :class => "btn btn-primary" %>
  <a href="/products" class="btn">取消</a>
</div>
<% end %>

<% content_for :tail do -%>
<script type="text/javascript">
  var $last_tr_checkbox = $('#stock_product_color_all')
  $last_tr_checkbox.click(function(){
    $('#check_color').find(':checkbox').prop('checked',$last_tr_checkbox.prop('checked'))
  });
</script>
<% end %>
