<%= simple_form_for @product, html: {class: 'well form-horizontal re_padding50'} do |f| %>
<fieldset class="group">
  <div class="w_48 pull-left">
    <%#= f.input :product_id, label: '淘宝ID：', :input_html =>{ :class => "input-xlarge" } %>
    <%#= f.input :num_iid, label: '商品数字ID：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :name, label: '商品名称：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :outer_id, label: '商品编码：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :storage_num, label: '仓库编号：', :input_html =>{ :class => "input-xlarge" } %>
    <%= f.input :price, label: '价格：', as: :string, :input_html =>{ :class => "input-xlarge" } %>
    <%#= f.association :quantity, collection: current_account.quantities, label: '规格：', :input_html =>{ :class => "width_auto" } %>
    <%= f.input :logistic_group_id, collection: current_account.logistic_groups, label: '发货拆分编码' %>
    <%#= f.association :features, collection: current_account.features, as: :check_boxes, label: '系列：'%>
    <%= f.association :category, collection: nested_user_categories_options(), label: '分类：', :input_html =>{ :class => "width_auto",:id => "category" } %>
    <% if current_account.settings.enable_module_colors == 1 %>
      <fieldset class="form-inline">
        <%= f.association :colors, label: '可选颜色：', as: :check_boxes, include_blank: false, wrapper_html: { id: 'check_color' }%>
        <div class="controls">
          <label class="checkbox">
            <input class="check_boxes optional" id="stock_product_color_all" type="checkbox">全选
          </label>
        </div>
      </fieldset>
    <% end %>
  </div>

  <% if @product.pic_url.present? %>
     <div class="w_48 pull-left">
      <div class="control-group">
        <label class="control-label tl" for="">商品图片：</label>
        <div class="controls">
          <ul style="list-style-type:none;" class="clearfix">
            <li><%= image_tag @product.pic_url %></li>
          </ul>
        </div>
      </div>
     </div>
    <% end %>
</fieldset>

<div class="form-actions">
  <%= f.button :submit, "保存", :class => "btn btn-primary" %>
  <a href="/products" class="btn">取消</a>
</div>
<% end %>

<ul class="nav nav-tabs js-nav_tabs">
  <li class="active"><a href="#good_info" data-toggle="tab">SKU信息</a></li>
</ul>
<%= form_tag add_sku_products_path,:remote => true ,:class => "well well-small form-horizontal font12" do %>
<div class="btn-toolbar">
  <%= button_tag "添加",:class => "btn btn-warning btn-small" %>
</div>
<%= hidden_field_tag "id", @product.id %>
<div id="add_properties">
  <%= render :partial => "add_category_property",:locals => {:category_properties => @category_properties} %>

</div>
<% end %>




<%= form_tag remove_sku_products_path,:remote => true,:method => :put,:class => "form-horizontal"  do %>
<div class="btn-toolbar" style="top: 71px;">
  <%= button_tag "删除" ,:class => "btn btn-warning btn-small" %>
</div>
<%= hidden_field_tag "id",@product.id %>
<div id="skus">
  <%= render :partial => "skus",:locals => {:skus => @skus }  %>
</div>

<% end %>

<% content_for :tail do -%>
<script type="text/javascript">
  var $last_tr_checkbox = $('#stock_product_color_all')
  $last_tr_checkbox.click(function(){
    $('#check_color').find(':checkbox').prop('checked',$last_tr_checkbox.prop('checked'))
  });

  $(function(){

    if( $("#category").val() != ''){ zAb() };

    $("#category").change(function(){
      zAb();
    });

    function zAb(){
      var category_id = $("#category").val();
      $.ajax({
        url: "<%= fetch_category_properties_products_path %>",
        data: { category_id: category_id }
      })
    };
  })
</script>
<% end %>
