<tr id='product_<%= product.id %>'>
  <td><input id='check_<%= product.id %>' class='product_check' type="checkbox"></input></td>
  <td><%= product.id  %></td>
  <td><%= product.name %></td>
  <td><%= product.category.try(:name) %></td>
  <td><%= product.outer_id %></td>
  <td><%= product.category_property_names %></td>
  <td><%= product.is_on_sale %></td>
  <td><%= link_to "SKUs", product_skus_path(product)%></td>
</tr>