<tr id='product_<%= product.id %>'>
  <td><%= product.name  %></td>
  <td><%= product.taobao_id %></td>
  <td><%= product.iid %></td>
  <td><%= product.price %></td>
  <td>
  <% unless product.product_image.thumb.blank? %>
    <%= image_tag("#{product.product_image.thumb}") %>
  <% end %>
  </td>
  <td><%= product.quantity.try(:name) %></td>
  <td><%= product.category.try(:name) %></td>
  <td><%= product.present_features %></td>
  <td><%= product.grade.try(:name) %></td>
  <td><%= product.present_status %></td>
  <td><%= product.technical_data %></td>
  <td><%= product.description %></td>
  <td>
    <div class="btn-group">
      <button data-toggle="dropdown" class="btn btn-info dropdown-toggle min_w"><i class="icon-wrench"></i> <span class="caret"></span></button>
      <ul class="dropdown-menu" style="left:-115px;">
        <li><%= link_to '查看', product_path(product) %></li>
        <li><%= link_to '编辑', edit_product_path(product) %></li>
        <li><%= link_to '删除', product_path(product), :confirm => "确定删除?", :method=>:delete %></li>
        <% if product.status == "ON_SALE" %>
        <li><%= link_to '下架', product_change_status_path(product), remote: true, :confirm => "确定修改?" %></li>
        <% elsif product.status == "SOLD_OUT" %>
        <li><%= link_to '上架', product_change_status_path(product), remote: true, :confirm => "确定修改?" %></li>
        <% end %>
        <!-- <li><a href="#">查看详细</a></li> -->
      </ul>
    </div>
  </td>
</tr>
