<tr id='product_<%= product.id %>'>
  <td><%= product.name  %></td>
  <td><%= product.taobao_id %></td>
  <td><%= product.iid %></td>
  <td><%= product.price %></td>
  <td><%= product.quantity.try(:name) %></td>
  <td><%= product.category.try(:name) %></td>
  <td><%= product.present_features %></td>
  <td>
    <div class="btn-group">
      <button data-toggle="dropdown" class="btn btn-info dropdown-toggle min_w"><i class="icon-wrench"></i> <span class="caret"></span></button>
      <ul class="dropdown-menu" style="left:-115px;">
        <li><%= link_to '查看', product_path(product) %></li>
        <li><%= link_to '编辑', edit_product_path(product) %></li>
        <li><%= link_to '删除', product_path(product), :confirm => "确定删除?", :method=>:delete %></li>
      </ul>
    </div>
  </td>
</tr>
