<tr id='product_<%= product.id %>'>
  <td><%= product.name  %></td>
  <% if current_account.settings.enable_module_sku_properties == 1  %>
    <td><%= product.avalibale_sku_names %></td>
  <% end %>
  <td><%= product.outer_id %></td>
  <td><%= product.product_id %></td>
  <td><%= product.price %></td>
<!--   <td><%#= product.quantity.try(:name) %></td> -->
   <td><%= product.category.try(:name) %></td>
  <td>
    <% if product.good_type == 2 %>
      套装：<%= product.child_outer_id %>
    <% else %>
      单品
    <% end %>
  </td>
<!--   <td><%#= product.present_features %></td> -->
  <td>
    <div class="btn-group">
      <button data-toggle="dropdown" class="btn btn-info dropdown-toggle min_w"><i class="icon-wrench"></i> <span class="caret"></span></button>
      <ul class="dropdown-menu" style="left:-115px;">
        <li><%= link_to '查看', product_path(product) %></li>
        <li><%= link_to '编辑', edit_product_path(product) %></li>
        <li><%= link_to '删除', product_path(product), :confirm => "确定删除?", :method=>:delete %></li>
      </ul>
    </div>
  </td>
</tr>
