 <table class="table table-striped table-bordered table-condensed td_colors mar_t" id="product_table">
  <thead>
    <tr>
      <th><input type="checkbox" id="check_all_products"></input>全选</th>
      <th nowrap>商品ID</th>
      <th nowrap>商品名称</th>
      <th width="20%">商品分类</th>
      <th nowrap>商品编码</th>
      <th width="20%">商品属性</th>
      <th nowrap>是否上架</th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>
<div class='clearfix'>
  <div class="pull-right" style="margin-left: 5px;margin-top: -2px;">
    <%= paginate @products %>
  </div>
  <!-- <p></p> -->
  <%= form_tag("/products", :method => "get", :class => 'pagination trade_count_info form-inline pull-right') do %>
  <input style="visibility:hidden;" name="page" value="<%= params[:page]%>"/>
  <label style="color:#005580;">当前每页显示：</label>
  <%=select_tag :number, options_for_select([["加载20项","20"],
          ["加载50项","50"],
          ["加载100项", "100"]], params[:number]),  :class => 'nomargin input-medium', :onchange => "this.form.submit();" %>
  <%- end -%>
</div>