<table class="table table-hover table-bordered table-striped table-condensed" id="taobao_product_table">
  <thead>
    <tr>
      <th width="5%"><!-- <input type="radio"> --></th>
      <%- @all_cols.each do |col_name, view_name| -%>
        <th data-col="<%= col_name %>" style="<%= 'display:none' unless @visible_cols.include?(col_name) %>">
          <%= view_name %>
        </th>
      <%- end -%>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <td><input type="radio"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <div class="btn-group pull-left">
          <button data-toggle="dropdown" class="btn btn-info btn dropdown-toggle"><i class="icon-wrench"></i> <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">1</a></li>
          </ul>
        </div>
      </td>
    </tr> -->
    <%- @products.each do |product| %>
      <tr id='product_<%= product.id %>'>
        <td><input class='taobao_product_check' name="taobao_product_radio" type="radio"></td>
        <%- @all_cols.each do |col_name, view_name| -%>
          <td data-col="<%= col_name %>" style="<%= 'display:none' unless @visible_cols.include?(col_name) %>">
            <%= product.send(col_name) %>
          </td>
        <%- end -%>
      </tr>
    <%- end %>
  </tbody>
</table>

<div class='clearfix'>
  <div class="pull-right" style="margin-left: 5px;margin-top: -2px;">
    <%= paginate @products %>
  </div>
  <!-- <p></p> -->
  <%= form_tag("/products/taobao_products", :method => "get", :class => 'pagination trade_count_info form-inline pull-right') do %>
  <input style="visibility:hidden;" name="page" value="<%= params[:page]%>"/>
  <label style="color:#005580;">当前每页显示：</label>
  <%=select_tag :number, options_for_select([["加载20项","20"],
          ["加载50项","50"],
          ["加载100项", "100"]], params[:number]),  :class => 'nomargin input-medium', :onchange => "this.form.submit();" %>
  <%- end -%>
</div>