精准<div class="container-fluid">
  <header class="jumbotron subhead" id="overview">
    <div class="subnav">
      <ul class="nav nav-pills">
        <li class=""><!-- active -->
          <a href="#">渠道分布</a>
        </li>
        <li>
          <a href="#">销售排行</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li><a href="#">Magic</a><span class="divider">/</span></li>
      <li class="active">商品管理</li>
      <li style="position:absolute;right:15px;top:6px;"><a class="btn_alert" href="/products/new">新增商品</a></li>
    </ul><!-- breadcrumb -->

    <!-- <div class="alert fade in">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>提示</strong>该功能正在研发中...
    </div> -->
    <%= simple_form_for "product",url: products_path, html: { method: "get", class: "well form-search"} ,:wrapper => :search do |f| %>
      <fieldset class="form-inline">
        <%= f.input :info_type, collection: [["商品名称","name"], ["商品编号","iid"],["淘宝ID","taobao_id"],["仓库编号","storage_num"]], label: "精确搜索：", required: false %>
        <%= f.input :info, input_html: {class: "w_specify"} ,label: false, required: false %>
      </fieldset>
      <fieldset class="form-inline mar_t5">
        <%= f.input :item_level, collection: Level.all, input_html: {class: "input-large mar_r10" }, label: "档次：", required: false %>
        <%= f.input :item_quantity, collection: Quantity.all, input_html: {class: "width_auto mar_r10" }, label: "规格：", required: false %>
        <%= f.input :item_status, collection: [["上架","ON_SALE"], ["下架","SOLD_OUT"]], input_html: {class: "width_auto mar_r10" }, label: "状态：", required: false %>      
        <%= f.input :item_category, collection: Category.all, input_html: {class: "width_auto mar_r10" }, label: "系列：", required: false %>
        <br />
        <br />
        <%= f.input :item_features, as: :check_boxes, collection: Feature.all, input_html: {class: "width_auto mar_t5", label_style: "margin-top:-5px;"}, label: "分类：", required: false %>
        <br />
        <div>
          <%= f.button :submit, "过滤", class: "btn btn-primary pull-right" %>
        </div>
      </fieldset>
    <% end %>

    <div class="controls clearfix">
      <!--<div class="btns btn-group pull-right">
        <a href="#" class="btn btn-success btn_mar4">显示设置</a>
         <button href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-success dropdown_check_btn"><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown_check" id="dropdown_check">
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              订单编号
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              当前状态
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              订单状态
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              经销商
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              接口人
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              客户姓名
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              客户联系方式
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              客户地址
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              订单内容
            </label>
          </li>

          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              总价
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              客户备注
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              调色
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              客服备注
            </label>
          </li>
          <li>
            <label class="checkbox" style="padding-left:35px;">
              <input type="checkbox" value="option1">
              拆单数
            </label>
          </li>
        </ul>
      </div> -->

      <div class="btns btn-group pull-left">
        <%= link_to "导出数据", products_path(:format => "xls"), :class => "btn btn-warning", "data-toggle" =>"modal" %>
        </ul>
      </div>
    </div>

    <table class="table table-striped table-bordered table-condensed td_colors mar_t">
      <thead>
        <tr>
          <th>选择</th><!-- 订单号，当前状态，订单状态，经销商，接口人，客户姓名，客户联系方式，客户地址，订单内容，总价，客户备注，调色，客服备注，拆单数 -->
          <th nowrap>商品编号</th>
          <th nowrap>商品名称</th>
          <th nowrap>淘宝ID</th>
          <th nowrap>仓库编号</th>
          <th nowrap>价格</th>
          <th nowrap>商品图片</th>
          <th nowrap>规格</th>
          <th nowrap>分类</th>
          <th nowrap>系列</th>
          <th nowrap>档次</th>
          <th nowrap>状态</th>
          <th nowrap>技术参数</th>
          <th nowrap>描述</th>
          <th nowrap>操作</th>
        </tr>
      </thead>
      <tbody>
         <% for product in @products %>
        <tr>
          <td></td>
          <td><%= product.iid %></td>
          <td><%= product.name %></td>
          <td><%= product.taobao_id %></td>
          <td><%= product.storage_num %></td>
          <th><%= product.price %></th>
          <td>
          <% unless product.product_image.thumb.blank? %>
            <%= image_tag("#{product.product_image.thumb}") %>
          <% end %>
          </td>
          <td><%= product.quantity.try(:name) %></td>
          <td><%= product.category.try(:name) %></td>
          <td><%= product.present_features %></td>
          <td><%= product.level.try(:name) %></td>
          <td><%= product.present_status %></td>
          <td><%= product.technical_data %></td>
          <td><%= product.description %></td>
          <td>
            <div class="btn-group">
              <button data-toggle="dropdown" class="btn btn-info dropdown-toggle min_w"><i class="icon-wrench"></i> <span class="caret"></span></button>
              <ul class="dropdown-menu" style="left:-115px;">
                <li><%= link_to '编辑', edit_product_path(product) %></li>
                <li><%= link_to '删除', product_path(product), :confirm => "确定删除?", :method=>:delete %></li>
                <% if product.status == "ON_SALE" %>
                <li><%= link_to '下架', product_change_status_path(product), :confirm => "确定修改?" %></li>
                <% elsif product.status == "SOLD_OUT" %>
                <li><%= link_to '上架', product_change_status_path(product), :confirm => "确定修改?" %></li>
                <% end %>
                <li><a href="#">查看详细</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @products %>

  </div>
</div>