<div class="well">
<%= simple_form_for @sale, html: {class: 'well form-horizontal'} do |f|%>
  <fieldset>
  <%= f.input :name, label: '活动名称：', :input_html =>{ :class => "input-xlarge" } %>
  </fieldset>  
  <fieldset>
    <div class="control-group">
      <label class="control-label">开始时间：</label>
      <div class="controls">
        <input type="text" class="input-small datepicker" name="times[start_date]" value="<%= @start_date %>">
        <input type="text" class="input-mini timepicker" name="times[start_time]" value="<%= @start_time %> ">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="control-group">
      <label class="control-label">结束时间：</label>
      <div class="controls">
        <input type="text" class="input-small datepicker" name="times[end_date]" value="<%= @end_date %>">
        <input type="text" class="input-mini timepicker" name="times[end_time]" value="<%= @end_time %> ">
      </div>
    </div>
  </fieldset>
  <fieldset>
  <%= f.input :earn_guess, label: '预计销量：', :input_html =>{ :class => "input-xlarge" } %>
  </fieldset>
  <fieldset>
  <div class="form-actions">
    <a href="sales/index" class="btn">取消</a>
    <%= f.button :submit, "保存", :class => "btn btn-primary" %>
  </div>
  </fieldset>
<% end %>
</div>