<div class="container-fluid">
  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li><a href="/">Magic</a><span class="divider">/</span></li>
      <li><a href="/sales/summary">数据魔方</a><span class="divider">/</span></li>
      <li><a href="#">销售分析</a><span class="divider">/</span></li>
      <li class="active">概要</li>
    </ul><!-- breadcrumb -->
    <%= render 'header' %>
    <%= render 'select_time' %>
    <% info = summary_analysis %>
    <div class="well">
      <div id="chartdiv" style="width: 100%; height: 400px;"><h4>正在处理数据，请稍等...</h4></div>
    </div>
    <div class="well" style="height:150px">
      <h4 style="text-align:center;">订单统计</h4>
      <fieldset class="span3"></fieldset>
      <fieldset class="span4">
        <div class="control-group">
          <label>本日的订单总数：<%= info[0][0] %></label>
          <label>本日未付款订单数：<%= info[0][1] %></label>
          <label>本日已付款订单数：<%= info[0][2] %></label>
          <label>本日部分退款订单数：<%= info[0][3] %></label>
          <label>本日全额退款订单数：<%= info[0][4] %></label>
        </div>
      </fieldset>
      <fieldset class="span3">
        <div class="control-group">
          <label>本月的订单总数：<%= info[1][0] %></label>
          <label>本月未付款订单数：<%= info[1][1] %></label>
          <label>本月已付款订单数：<%= info[1][2] %></label>
          <label>本月部分退款订单数：<%= info[1][3] %></label>
          <label>本月全额退款订单数：<%= info[1][4] %></label>
        </div>
      </fieldset>
    </div>
    <div class="well" style="height:150px">
      <h4 style="text-align:center;">金额统计</h4>
      <fieldset class="span3"></fieldset>
      <fieldset class="span4">
        <div class="control-group">
          <label>本日完成订单总额：<%= info[0][5] %></label>
          <label>本日下单订单总额：<%= info[0][6] %></label>
          <label>本日付款订单总额：<%= info[0][7] %></label>
          <label>本日退货订单总额：<%= info[0][8] %></label>
          <label>本日取消订单总额：<%= info[0][9] %></label>
        </div>
      </fieldset>
      <fieldset class="span3">
        <div class="control-group">
          <label>本月完成订单总额：<%= info[1][5] %></label>
          <label>本月下单订单总额：<%= info[1][6] %></label>
          <label>本月付款订单总额：<%= info[1][7] %></label>
          <label>本月退货订单总额：<%= info[1][8] %></label>
          <label>本月取消订单总额：<%= info[1][9] %></label>
        </div>
      </fieldset>
    </div>
    <!-- <div class="well" style="height:50px">
      <h4 style="text-align:center;">净收入统计</h4>
      <fieldset class="span3"></fieldset>
      <fieldset class="span4">
        <div class="control-group">
          <label>本日净收入总额：</label>
        </div>
      </fieldset>
      <fieldset class="span3">
        <div class="control-group">
          <label>本月净收入总额：</label>
        </div>
      </fieldset>
    </div> -->
  </div>
</div>

<% content_for :tail do -%>
  <script type="text/javascript">
    var chart;

    var chartData = [];

    <% @final_hash.each do |time, value| -%>
      chartData.push({date: new Date(<%= time.year %>, <%= time.month - 1 %>, <%= time.day %>, <%= time.hour %>, <%= time.min %>, <%= time.sec %>), amount: <%= value["created_fee"] %>, amountall: <%= value["paid_fee"] %>})
    <% end -%>

    //var average = 55.4;

    AmCharts.ready(function () {
      // SERIAL CHART
      chart = new AmCharts.AmSerialChart();
      chart.pathToImages = "/assets/amchart_images/";
      chart.zoomOutButton = {
        backgroundColor: '#000000',
        backgroundAlpha: 0.15
      };
      /*+++++var balloon = chart.balloon;
      balloon.adjustBorderColor = true;
      balloon.color = "#000000";
      balloon.cornerRadius = 5;
      balloon.fillColor = "#FFFFFF";+++++提示的样式*/
      chart.dataProvider = chartData;
      chart.categoryField = "date";
      chart.fontSize = 11;//调整xy轴显示的字体大小
      // +++++chart.startDuration = 1;动态效果
      chart.marginTop = 40;//+++++
      // listen for "dataUpdated" event (fired when chart is inited) and call zoomChart method when it happens
      chart.addListener("dataUpdated", zoomChart);

      // AXES
      // category
      var categoryAxis = chart.categoryAxis;
      categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
      categoryAxis.minPeriod = "fff"; // our data is daily, so we set minPeriod to DD
      categoryAxis.dashLength = 1;
      categoryAxis.gridAlpha = 0.15;
      categoryAxis.axisColor = "#DADADA";
      categoryAxis.startOnAxis = true;
      //categoryAxis.gridCount = 20;
      categoryAxis.autoGridCount = true;
      categoryAxis.equalSpacing = false;//+++++++If you want data points to be placed at equal intervals (omiting dates with no data), set equalSpacing to true.


      // AXES
      // X
      var xAxis = new AmCharts.ValueAxis();
      // xAxis.title = "X Axis";
      // xAxis.position = "bottom";
      xAxis.autoGridCount = false;
      xAxis.gridCount = 10;
      xAxis.unit = "元";
      xAxis.gridAlpha = 0.15;
      xAxis.axisColor = "#DADADA";
      chart.addValueAxis(xAxis);

      // value
      var valueAxis = new AmCharts.ValueAxis();
      valueAxis.axisColor = "#DADADA";
      valueAxis.dashLength = 1;
      valueAxis.logarithmic = true; // this line makes axis logarithmic
      valueAxis.unit = "元";//+++++
      //+++++valueAxis.title = "销售量（w）";
      chart.addValueAxis(valueAxis);

      // // GUIDE for average
      // var guide = new AmCharts.Guide();
      // guide.value = average;
      // guide.lineColor = "#CC0000";
      // guide.dashLength = 4;
      // guide.label = "average";
      // guide.inside = true;
      // guide.lineAlpha = 1;
      // valueAxis.addGuide(guide);

      // GRAPH
      //first graph
      var graph = new AmCharts.AmGraph();
      graph.type = "smoothedLine";
      graph.bullet = "round";
      graph.bulletColor = "#FFFFFF";
      graph.bulletBorderColor = "#00BBCC";
      graph.bulletBorderThickness = 2;
      graph.bulletSize = 7;//线上圆点的大小
      graph.title = "Amount";
      graph.valueField = "amount";
      graph.balloonText = "下单金额 [[amount]] 元";//+++++
      graph.lineThickness = 2;
      graph.lineColor = "#00BBCC";
      chart.addGraph(graph);
      //second graph
      var graph = new AmCharts.AmGraph();
      graph.type = "smoothedLine";
      graph.bullet = "round";
      graph.bulletColor = "#FFFFFF";
      graph.bulletBorderColor = "#ff0000";
      graph.bulletBorderThickness = 2;
      graph.bulletSize = 7;//线上圆点的大小
      graph.title = "Amountall";
      graph.valueField = "amountall";
      graph.balloonText = "成交金额 [[amountall]] 元";//+++++
      graph.lineThickness = 2;
      graph.lineColor = "#ff0000";
      chart.addGraph(graph);

      // CURSOR
      var chartCursor = new AmCharts.ChartCursor();
      chartCursor.cursorPosition = "mouse";
      chartCursor.categoryBalloonDateFormat = "MM-DD JJ:NN";//+++++
      chart.addChartCursor(chartCursor);

      // SCROLLBAR
      var chartScrollbar = new AmCharts.ChartScrollbar();
      //chartScrollbar.updateOnReleaseOnly = true;
      chart.addChartScrollbar(chartScrollbar);


      categoryAxis.dateFormats = [{
        period:'fff',
        format:'JJ:NN:SS'
      },{
        period:'ss',
        format:'JJ:NN:SS'
      },{
        period:'mm',
        format:'JJ:NN'
      },{
        period:'hh',
        format:'JJ:NN'
      },{
        period:'DD',
        format:'MM-DD'
      },{
        period:'MM',
        format:'MM'
      },{
        period:'YYYY',
        format:'YYYY'
      }];

      // WRITE
      chart.write("chartdiv");
    });

    function zoomChart() {
      // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
      // chart.zoomToIndexes(chartData.length - 10, chartData.length - 1);
      chart.zoomOut();
    }

  </script>
<% end %>