<div class="container-fluid">
    <header class="jumbotron subhead" id="overview">
      <div class="subnav">
        <ul class="nav nav-pills">
          <li>
            <%= link_to 'xxx仓库', seller_stocks_path(seller_id: params[:seller_id])%>
          </li>
          <li class="active">
            <%= link_to '进销记录', seller_stock_product_stock_history_index_path(params[:seller_id], params[:stock_product_id]) %>
          </li>
        </ul>
      </div>
    </header>
    <div class="row-fluid">
      <ul class="breadcrumb" style="position:relative;">
        <li>
          <%= link_to '仓库管理', seller_stocks_path(seller_id: params[:seller_id])%>
          <span class="divider">/</span>
        </li>
        <li>
          <%= link_to '进销记录', seller_stock_product_stock_history_index_path(params[:seller_id], params[:stock_product_id]) %>
          <span class="divider">/</span>
        </li>
        <li class="active">查看</li>
      </ul><!-- breadcrumb -->

      <form class="well form-horizontal">
        <fieldset>
          <legend class="font14">入库操作</legend>

          <div class="control-group">
            <label class="control-label" for="">商品名称：</label>
            <div class="controls">
              <p class="mar_t5"><%= @product.name %></p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="">入库日期：</label>
            <div class="controls">
              <p class="mar_t5"><%= @history.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="">入库数量：</label>
            <div class="controls">
              <p class="mar_t5"><%= @history.number %></p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="">原因：</label>
            <div class="controls">
              <p class="mar_t5"><%= @history.reason_string %></p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="">备注：</label>
            <div class="controls">
              <p class="mar_t5"><%= @history.note %></p>
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary button_print">打印</button>
            <%= link_to '返回', seller_stock_product_stock_history_index_path(params[:seller_id], params[:stock_product_id]), class: 'btn' %>
          </div>
        </fieldset>
      </form>
    </div>
    <hr>
  </div>