<div class="container-fluid">
  <div class="row-fluid">
    <ul class="breadcrumb" style="position:relative;">
      <li><a href="/">Magic</a><span class="divider">/</span></li>
      <li class="active">异常中心</li>
    </ul><!-- breadcrumb -->

    <%- if current_user.allow_read?(:trades,:seller) && current_user.seller %>
      <%- trades = Trade.where(account_id: current_account.id, seller_id: current_user.seller.id) %>
    <%- else %>
      <%- trades = Trade.where(account_id: current_account.id) %>
    <%- end %>

    <div class="well">
      <%- if current_account.settings.auto_settings["auto_mark_unusual_trade"] %>
      <%- unusual_auto_settings = current_account.settings.auto_settings["unusual_conditions"] %>
      <dl class="auto_unusual">
        <dt><span>系统自动预警</span></dt>
        <%- if unusual_auto_settings['unusual_waitpay'] %>
          <dd><a href="/app#trades/unusual-unpaid_for_days">超过<%= unusual_auto_settings['max_unpay_days'] %>天未付款订单<span>(<%= trades.where(:created.lte => unusual_auto_settings['max_unpay_days'].to_i.days.ago, :pay_time.exists => false, status: "WAIT_BUYER_PAY").or({:has_buyer_message.ne => true}, {:buyer_message.ne => nil}).count %>)</span></a></dd>
        <%- end %>
        <%- if unusual_auto_settings['unusual_deliver'] %>
          <dd><a href="/app#trades/unusual-undelivered_for_days">超过<%= unusual_auto_settings['max_undeliver_days'] %>天未发货订单<span>(<%= trades.where(:dispatched_at.lte => unusual_auto_settings['max_undeliver_days'].to_i.days.ago, :consign_time.exists => false, :status.in => ["WAIT_SELLER_SEND_GOODS", "WAIT_SELLER_DELIVERY","WAIT_SELLER_STOCK_OUT"]).or({:has_buyer_message.ne => true}, {:buyer_message.ne => nil}).count %>)</span></a></dd>
        <%- end %>
        <%- if unusual_auto_settings['unusual_dispatch'] %>
          <dd><a href="/app#trades/unusual-undispatched_for_days">超过<%= unusual_auto_settings['max_undispatch_days'] %>天未分派订单<span>(<%= trades.where(:pay_time.lte => unusual_auto_settings['max_undispatch_days'].to_i.days.ago, :dispatched_at.exists => false, :seller_id.exists => false, :status.in => ["WAIT_SELLER_SEND_GOODS","WAIT_SELLER_DELIVERY","WAIT_SELLER_STOCK_OUT"]).or({:has_buyer_message.ne => true}, {:buyer_message.ne => nil}).count %>)</span></a></dd>
        <%- end %>
        <%- if unusual_auto_settings['unusual_receive'] %>
        <dd><a href="/app#trades/unusual-unreceived_for_days">超过<%= unusual_auto_settings['max_unreceived_days'] %>天买家实际未收货<span>(<%= trades.where("$and" => [{"unusual_states" => {"$elemMatch" => {key: "unreceived_in_#{unusual_auto_settings['max_unreceived_days']}_days", repaired_at: nil}}}, {"$or" => [{:has_buyer_message.ne => true}, {:buyer_message.ne => nil}]}]).count %>)</span></a></dd>
        <%- end %>
        <%- if unusual_auto_settings['unusual_repair'] %>
        <dd><a href="/app#trades/unusual-unrepaired_for_days">超过<%= unusual_auto_settings['max_unrepaired_days'] %>天未处理异常<span>(<%= trades.where("$and" => [{"unusual_states" => {"$elemMatch" => {repaired_at: nil, :plan_repair_at => {"$lte" => (Time.now - unusual_auto_settings['max_unrepaired_days'].to_i.days)}}}}, {"$or" => [{:has_buyer_message.ne => true}, {:buyer_message.ne => nil}]}]).count %>)</span></a></dd>
        <%- end %>
        <!-- <dd><a href="#">状态不同步订单<span>(10)</span></a></dd>
        <dd><a href="#">状态不同步订单<span>(10)</span></a></dd>
        <dd><a href="#">状态不同步订单<span>(10)</span></a></dd>
        <dd><a href="#">库存预警商品<span>(40)</span></a></dd>
        <dd><a href="#">无库存商品<span>(10)</span></a></dd> -->
      </dl>
      <% end %>

      <dl class="mark_unusual">
        <dt><span>客服异常预警</span></dt>
        <dd><a href="/app#trades/unusual-buyer_delay_deliver">买家延迟发货<span>(<%= trades.where("$and" => [{"unusual_states" => {"$elemMatch" => {key: "buyer_delay_deliver", repaired_at: nil}}}, {"$or" => [{:has_buyer_message.ne => true}, {:buyer_message.ne => nil}]}]).count %>)</span></a></dd>
        <dd><a href="/app#trades/unusual-seller_ignore_deliver">卖家长时间未发货<span>(<%= trades.where("$and" => [{"unusual_states" => {"$elemMatch" => {key: "seller_ignore_deliver", repaired_at: nil}}}, {"$or" => [{:has_buyer_message.ne => true}, {:buyer_message.ne => nil}]}]).count %>)</span></a></dd>
        <dd><a href="/app#trades/unusual-seller_lack_product">经销商缺货<span>(<%= trades.where("$and" => [{"unusual_states" => {"$elemMatch" => {key: "seller_lack_product", repaired_at: nil}}}, {"$or" => [{:has_buyer_message.ne => true}, {:buyer_message.ne => nil}]}]).count %>)</span></a></dd>
        <%- if current_account.settings.enable_module_colors == 1 %>
          <dd><a href="/app#trades/unusual-seller_lack_color">经销商无法调色<span>(<%= trades.where("$and" => [{"unusual_states" => {"$elemMatch" => {key: "seller_lack_color", repaired_at: nil}}}, {"$or" => [{:has_buyer_message.ne => true}, {:buyer_message.ne => nil}]}]).count %>)</span></a></dd>
        <% end %>
        <dd><a href="/app#trades/unusual-buyer_demand_refund">买家要求退款<span>(<%= trades.where("$and" => [{"unusual_states" => {"$elemMatch" => {key: "buyer_demand_refund", repaired_at: nil}}}, {"$or" => [{:has_buyer_message.ne => true}, {:buyer_message.ne => nil}]}]).count %>)</span></a></dd>
        <dd><a href="/app#trades/unusual-buyer_demand_return_product">买家要求退货<span>(<%= trades.where("$and" => [{"unusual_states" => {"$elemMatch" => {key: "buyer_demand_return_product", repaired_at: nil}}}, {"$or" => [{:has_buyer_message.ne => true}, {:buyer_message.ne => nil}]}]).count %>)</span></a></dd>
        <dd><a href="/app#trades/unusual-other_unusual_state">其他异常<span>(<%= trades.where("$and" => [{"unusual_states" => {"$elemMatch" => {key: "other_unusual_state", repaired_at: nil}}}, {"$or" => [{:has_buyer_message.ne => true}, {:buyer_message.ne => nil}]}]).count %>)</span></a></dd>
      </dl>
    </div>
  </div>
</div>