<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>打印</title>
<style type="text/css">
*{margin:0;padding:0;}
body{font-size:18px;max-height:450px;font-family:"SimSum"}
.print_bill{width:830px;margin:15px auto;padding:0 15px;}
h4{margin-bottom:40px;}
.tc{text-align:center;}
h4,span{font-size:16px;}
table{width:100%;/*height:300px;*/border-spacing:0;border-collapse:0;margin-top:10px;}
table,table th,table td{border:1px solid #000;}
table th,table td{padding:4px;font-size:16px;}
table th{border-width:0 1px 0 0;}
table td{border-width:1px 1px 0 0;}
table th.noborder_right,table td.noborder_right{border-right-width:0;word-wrap:break-word;}
.mar_r10{margin-right:10px;}
</style>
</head>
<body>
<div class="print_bill">
  <div class="modal-body">
    <h4 class="tc"><%= TradeSetting.shopname %>发货单</h4>
    <div class="clearfix"><span class="pull-left mar_r10">编号：<%= @trade.tid %></span></div>
    <div class="clearfix">
      <span class="pull-left mar_r10">收货人：<%= @trade.receiver_name %></span>
      <span class="pull-left mar_r10">电话：<%= @trade.receiver_mobile %></span>
    </div>
    <div class="clearfix">
      <span class="pull-left mar_r10">地址：<%= @trade.receiver_state + @trade.receiver_city + @trade.receiver_district + @trade.receiver_address %></span>
    </div>
    <div class="clearfix">
      <span class="pull-left mar_r10">
        整单备注：<%= @trade.cs_memo %>
      </span>
    </div>
    <table class="table table-bordered mar_t10">
      <tbody>
        <tr>
          <th width="20%">产品编码</th>
          <th width="45%">商品名称</th>
          <th width="10%">产品数量</th>
          <th width="25%">调色信息</th>
        </tr>

        <% count = 0 %>
        <% @trade.orders.each do |order| %>
        <% order.bill_info.each do |info| %>
        <tr>
          <td><%= info[:storage_num] %></td>
          <td><%= info[:title] %></td>
          <td><%= info[:number] * order.num  %></td>
          <% count = count + info[:number].to_i * order.num.to_i %>
          <td>
            <% if info[:colors].present? %>
            <% info[:colors].each do |color, array|%>
            <%= array[0] %>桶 <%= color %> <%= array[1] %><br>
            <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% end %>
        <tr>
          <td colspan="2" class="tr fb" style='text-align:right'>产品数量：</td>
          <td colspan="1" class="fb"><%= count %></td>
          <td colspan="1"></td>
        </tr>

        <tr>
          <td colspan="2" rowspan="2" width="50%">温馨提示：尊敬的顾客，为保证您的权益，签字前请确认外包装是否完好。如有异议，请向快递员当面提出同时立即致电多乐士售后提出异议。<br>
          售后电话：021-60956000-8128
          </td>
          <td colspan="4">签收人：</td>
        </tr>
        <tr><td colspan="4">签收日期：</td></tr>
      </tbody>
    </table>
  </div><!-- modal-body -->
</div>
<script type="text/javascript">
window.onload=window.print
</script>
</body>
</html>

