<% if current_user.allow_read?(:notifications) %>
  <ul class="nav pull-right">
    <li id="" class="backlog row-fluid">
      <a href="javascript:;" class="dropdown-toggle js-todo-toggle">待办事项 (<%= @today_trades.count+@tomorrow_trades.count %>)  <b class="caret"></b></a>
      <div class="todolist span5 hide">
        <table class="table table-bordered nomargin">
          <thead>
            <tr class="thbg_gray">
              <th colspan="2">待办事项</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="20%" class="valign-middle">今日待办</td>
              <td>
                <div class="list_wrap">
                  <table class="table table-bordered table-condensed nomargin">
                    <thead>
                      <tr class="thbg_gray">
                        <th width="45%">订单编号</th>
                        <th width="55%">异常原因</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @today_trades.each do |trade| %>
                      <tr>
                        <td><a href="/app#trades/<%= trade.id %>/mark_unusual_state"><%= trade.tid %></a></td>
                        <td><%= trade.unusual_states.where(repaired_at: nil).first.reason %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <p class="nomargin text-right">
                  <small><a href="javascript:;" class="js-more_todo">更多>></a></small>
                </p>
              </td>
            </tr>
            <tr>
              <td width="70" class="valign-middle">明日待办</td>
              <td>
                <div class="list_wrap">
                  <table class="table table-bordered table-condensed nomargin">
                    <thead>
                      <tr class="thbg_gray">
                        <th width="45%">订单编号</th>
                        <th width="55%">异常原因</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @tomorrow_trades.each do |trade| %>
                      <tr>
                        <td><a href="/app#trades/<%= trade.id %>/mark_unusual_state"><%= trade.tid %></a></td>
                        <td><%= trade.unusual_states.where(repaired_at: nil).first.reason %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <p class="nomargin text-right">
                  <small><a href="javascript:;" class="js-more_todo">更多>></a></small>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="todo_overlay"></div>
    </li>
  </ul>
<%- end %>