<div class="span2">
  <ul class="nav nav-pills single_sidebar">

    <!-- <li class="<%= "active" if params[:controller] == "account_setups" %>">
      <a href="/account_setups/edit_auto_settings">
        <i class="<%= "icon-chevron-right" if params[:controller] == "account_setups" %>"></i>自动化设置
      </a>
    </li> -->

    <li class="<%= "active" if params[:controller] == "account_setups" %>">
      <a href="#" class="" data-toggle="collapse" data-target="#autoset_menu">
        <i class="icon-chevron-right"></i> 自动化设置
      </a>
        <ul id="autoset_menu" class="collapse <%= display?("account_setups","in") %>">
          <%- auto_block_with_text.each do |block, block_text| %>
            <%- if params[:controller] == "account_setups" && params[:action] =~ /#{block}/ %>
              <li class="active"><a href="/account_setups/edit_<%= block %>_settings"><%= block_text %></a></li>
            <%- else %>
              <li><a href="/account_setups/edit_<%= block %>_settings"><%= block_text %></a></li>
            <% end %>
          <% end %>
        </ul>
    </li>

    <li class="<%= display?("users","active") %>">
      <a href="#" class="" data-toggle="collapse" data-target="#users_menu">
        <i class="icon-chevron-right"></i> 用户管理
      </a>
        <ul id="users_menu" class="collapse <%= display?("users","in") %>">
          <li class="<%= display?("users","active","index") %>">
            <a href="/users"  data-toggle="collapse" data-target="#users">用户</a>
          </li>
          <li class="<%= display?("users","active","roles") %>"><a href="/users/roles"  data-toggle="collapse" data-target="#users_role">角色</a>
          </li>
<!--
          <li class="<%= display?("users","active",["update_permissions","limits"]) %>">
            <a href="/users/limits?role_id=<%=current_account.roles.first.try(:id)%>"  data-toggle="collapse" data-target="#limits">权限</a>
          </li>
-->
        </ul>
    </li>
    <% @basedata = 
    %w(
    stocks
    logistics
    category_properties
    categories
    logistic_groups
    deliver_templates
    trade_searches
    areas
    orders
    notify
    trades
    pages
    trade_types
    jushita_data
    print_flash_settings
    ) %>
    <li class="<%= display?(@basedata,"active") %>">
      <a href="#" class="" data-toggle="collapse" data-target="#base_data">
        <i class="icon-chevron-right"></i> 基础数据管理
      </a>
        <ul id="base_data" class="collapse <%= display?(@basedata,"in") %>">
          <li class="<%= display?(["logistic_groups","deliver_templates"],"active") %>"><a href="#"  data-toggle="collapse" data-target="#shipments_menu"><i class="icon-plus <%= display_icon?(["logistic_groups","deliver_templates"],"icon-minus") %>"></i>发货管理</a>
            <ul id="shipments_menu" class="collapse <%= display?(["logistic_groups","deliver_templates"],"in") %> third_menu">
              <li class="<%= display?("logistic_groups","active") %>">
                <a href="/logistic_groups">发货拆分管理</a>
              </li>
              <li class="<%= display?("deliver_templates","active") %>">
                <a href="/deliver_templates">发货单管理</a>
              </li>
            </ul>
          </li>
          <li class="<%= display?(["categories","category_properties"],"active") %>" ><a href="#"  data-toggle="collapse" data-target="#products_menu"><i class="icon-plus <%= display_icon?(["categories","category_properties"], "icon-minus") %>"></i>商品设置</a>
            <ul id="products_menu" class="collapse <%= display?(["categories","category_properties"],"in") %> third_menu">
              <li class="<%= display?("categories","active") %>">
                <a href="/categories">分类管理</a>
              </li>
              <li class="<%= display?("category_properties","active") %>">
                <a href="/category_properties">属性管理</a>
              </li>
            </ul>
          </li>
          <li class="<%= display?(["logistics","print_flash_settings"],"active") %>"><a href="/logistics"  data-toggle="collapse" data-target="#logistics_menu">
            物流公司管理</a>
          </li>
          <li class="<%= display?(["trade_searches","trades",'trade_types'],"active")%>">
            <a href="#"  data-toggle="collapse" data-target="#orders_menu"><i class="icon-plus <%= display_icon?(["trade_searches","trades","trade_types"],"icon-minus") %>"></i>订单管理</a>
            <ul id="orders_menu" class="collapse <%= display?(["trade_searches","trades","trade_types"],"in") %> third_menu">
              <li class="<%= display?("trade_searches","active") %>"><a href="/trade_searches">自定义查询</a>
              </li>
              <li class="<%= display?("trades","active","show_percent") %>"><a href="/trades/show_percent">分配比设置</a></li>
              <li class="<%= display?("trades","active","invoice_setting") %>"><a href="/trades/invoice_setting">开票默认设置</a></li>
              <li class="<%= display?("trade_types","active") %>"><a href="/trade_types">人工订单分类设置</a></li>
            </ul>
          </li>

          <li class="<%= "active" if params[:controller] == "areas" %>"><a href="/areas"  data-toggle="collapse" data-target="#areas_menu">地域管理</a></li>

          <li class="<%= display?("notify","active")%>">
            <a href="#"  data-toggle="collapse" data-target="#sms_email_menu"><i class="icon-plus <%= display_icon?("notify","icon-minus",["sms","email"]) %>"></i>短信&邮件统计</a>
            <ul id="sms_email_menu" class="collapse <%= display?("notify","in",["sms","email"]) %> third_menu">
              <li class="<%= display?("notify","active",["sms"]) %>">
                <a href="/notify/sms">手机短信</a>
              </li>
              <li class="<%= display?("notify","active",["email"]) %>">
                <a href="/notify/email">邮件</a>
              </li>
            </ul>
          </li>
          <li class="<%= "active" if params[:controller] == "pages" %>"><a href="/page"  data-toggle="collapse" data-target="#areas_menu">默认首页设置</a></li>
          <li class="<%= "active" if params[:controller] == "jushita_data" %>"><a href="/jushita_data"  data-toggle="collapse" data-target="#areas_menu">聚石塔数据同步设置</a></li>
        </ul>
    </li>
  </ul>
</div>
