<div class="span2 bs-docs-sidebar">
  <ul class="nav nav-pills nav-stacked">

    <!-- <li class="<%= "active" if params[:controller] == "account_setups" %>">
      <a href="/account_setups/edit_auto_settings">
        <i class="<%= "icon-chevron-right" if params[:controller] == "account_setups" %>"></i>自动化设置
      </a>
    </li> -->

    <li class="<%= "active" if params[:controller] == "account_setups" %>">
      <a href="#" class="" data-toggle="collapse" data-target="#autoset_menu">
        <i class="icon-chevron-right"></i> 自动化设置
      </a>
        <ul id="autoset_menu" class="collapse <%= display?("account_setups","in") %>">
          <li class="<%= "active" if params[:controller] == "account_setups" && params[:action] =~ /edit_preprocess_settings/ %>">
            <a href="/account_setups/edit_preprocess_settings">订单预处理</a>
          </li>
          <li class="<%= "active" if params[:controller] == "account_setups" && params[:action] =~ /edit_dispatch_settings/ %>"><a href="/account_setups/edit_dispatch_settings">自动分派</a></li>
          <li class="<%= "active" if params[:controller] == "account_setups" && params[:action] =~ /edit_deliver_settings/ %>"><a href="/account_setups/edit_deliver_settings">自动发货</a></li>
          <li class="<%= "active" if params[:controller] == "account_setups" && params[:action] =~ /edit_automerge_settings/ %>"><a href="/account_setups/edit_automerge_settings">自动合并订单</a></li>
        </ul>
    </li>

    <li class="<%= display?("users","active") %>">
      <a href="#" class="" data-toggle="collapse" data-target="#users_menu">
        <i class="icon-chevron-right"></i> 用户管理
      </a>
        <ul id="users_menu" class="collapse <%= display?("users","in") %>">
          <li class="<%= display?("users","active","index") %>">
            <a href="/users"  data-toggle="collapse" data-target="#users">用户</a>
          </li>
          <li class="<%= display?("users","active","roles") %>"><a href="/users/roles"  data-toggle="collapse" data-target="#users_role">角色</a>
          </li>
<!--
          <li class="<%= display?("users","active",["update_permissions","limits"]) %>">
            <a href="/users/limits?role_id=<%=current_account.roles.first.try(:id)%>"  data-toggle="collapse" data-target="#limits">权限</a>
          </li>
-->
        </ul>
    </li>
    <% @basedata = ["stocks","logistics","category_properties","categories", "logistic_groups", "trade_searches", "areas", "orders", "notify"] %>
    <li class="<%= display?(@basedata,"active") %>">
      <a href="#" class="" data-toggle="collapse" data-target="#base_data">
        <i class="icon-chevron-right"></i> 基础数据管理
      </a>
        <ul id="base_data" class="collapse <%= display?(@basedata,"in") %>">
          <li class="<%= display?("stocks","active")%>">
            <a href="#"  data-toggle="collapse" data-target="#stocks_menu">仓库设置</a>
            <ul id="stocks_menu" class="collapse <%= display?("stocks","in",["safe_stock","change_product_type","edit_depot","update_depot"]) %> third_menu">
              <li class="<%= display?("stocks","active",["safe_stock","change_product_type"]) %>">
                <a href="/stocks/safe_stock">安全库存管理</a>
              </li>
              <li class="<%= display?("stocks","active",["edit_depot","update_depot"]) %>">
                <a href="/stocks/edit_depot">仓库编辑</a>
              </li>
            </ul>
          </li>
          <li class="<%= display?("logistic_groups","active") %>"><a href="#"  data-toggle="collapse" data-target="#shipments_menu">发货管理</a>
            <ul id="shipments_menu" class="collapse <%= display?("logistic_groups","in") %> third_menu">
              <li class="<%= display?("logistic_groups","active") %>">
                <a href="/logistic_groups">发货拆分管理</a>
              </li>
              <li class=""><a href="#">发货单管理</a></li>
            </ul>
          </li>
          <li class="<%= display?(["categories","category_properties"],"active") %>" ><a href="#"  data-toggle="collapse" data-target="#products_menu">商品设置</a>
            <ul id="products_menu" class="collapse <%= display?(["categories","category_properties"],"in") %> third_menu">
              <li class="<%= display?("categories","active") %>">
                <a href="/categories">分类管理</a>
              </li>
              <li class="<%= display?("category_properties","active") %>">
                <a href="/category_properties">属性管理</a>
              </li>
            </ul>
          </li>
          <li class="<%= display?("logistics","active") %>"><a href="/logistics"  data-toggle="collapse" data-target="#logistics_menu">
            <i class="<%= display?("logistics","active") %>"></i>物流公司管理</a>
          </li>
          <li class="<%= display?("trade_searches","active") %>">
            <a href="#"  data-toggle="collapse" data-target="#orders_menu">订单管理</a>
            <ul id="orders_menu" class="collapse <%= display?("trade_searches","in") %> third_menu">
              <li class="<%= display?(["trade_searches","trades"],"active") %>"><a href="/trade_searches">自定义查询</a>
              </li>
              <li class="<%= display?("trades","active","show_percent") %>"><a href="/trades/show_percent">分配比设置</a></li>
            </ul>
          </li>

          <li class="<%= "active" if params[:controller] == "areas" %>"><a href="/areas"  data-toggle="collapse" data-target="#areas_menu">地域管理</a></li>

          <li class="<%= display?("notify","active")%>">
            <a href="#"  data-toggle="collapse" data-target="#sms_email_menu">短信&邮件统计</a>
            <ul id="sms_email_menu" class="collapse <%= display?("notify","in",["sms","email"]) %> third_menu">
              <li class="<%= display?("notify","active",["sms"]) %>">
                <a href="/notify/sms">手机短信</a>
              </li>
              <li class="<%= display?("notify","active",["email"]) %>">
                <a href="/notify/email">邮件</a>
              </li>
            </ul>
          </li>

            </a>
          </li>
        </ul>
    </li>

    <!--
    <li class="<%= "active" if params[:controller] == "accounts" %>">
      <a href="#" class="" data-toggle="collapse" data-target="#basic_settings">
        <i class="icon-chevron-right"></i> 基础设置
      </a>
        <ul id="basic_settings" class="collapse in">
          <li class="<%= "active" if params[:controller] == "accounts" && params[:action] =~ // %>"><a href="/accounts">店铺基础设置</a></li>
        </ul>
    </li>

    <% if current_account.settings.enable_module_onsite_service == 1 %>
      <li class="<%= "active" if params[:controller] == "onsite_services" %>">
        <a href="/onsite_services">
          <i class="<%= "icon-chevron-right" if params[:controller] == "onsite_services" %>"></i>上门服务
        </a>
      </li>
    <%- end %>

    <% if current_account.settings.enable_module_logistic_group == 1 %>
      <li class="<%= "active" if params[:controller] == "logistic_groups" %>">
        <a href="/logistic_groups">
          <i class="<%= "icon-chevron-right" if params[:controller] == "logistic_groups" %>"></i>发货拆分管理
        </a>
      </li>
    <%- end %>
      -->
  </ul>
</div>
